[2019-06-06 22:40] resouer opened #3 "[Kruise] Support Helm installation"
**Current issue:**

1. Kruise requires manual installation.
2. Kruise requires manual distribution.

**What users expect:**

[code]

[2019-06-06 23:10] xiang90 opened #5 "Add badges"
1. CI badge
2. Code coverage badge
3. License badge
4. coreinfrastructure badge

[2019-06-14 09:05] FillZpp commented on #3
add helm chart #10

[2019-06-18 11:31] jian-he opened #12 "Add additional columns for Statefulset kubectl get output"
The current kubectl get output only prints the name and ages, we can add more additional columns

[2019-06-18 13:29] allencloud commented on #5
I will do this ASAP.

[2019-06-18 15:02] #12 closed

[2019-06-18 16:26] #5 closed

[2019-06-18 16:44] xiang90 opened #18 "Create a Roadmap"
- new planned workload controllers
- planned features for existing controllers
- planned new release date

/cc @jian-he + @Fei-Guo

[2019-06-19 08:52] jian-he opened #23 "advanced statefulset submission fails if updateStrategy is not set"
kubectl apply -f guestbook-statefulset.yaml

Error from server (InternalError): error when creating "guestbook-statefulset.yaml": Internal error occurred: Internal error occurred: jsonpatch add operation does not apply: doc is missing path: "/spec/updateStrategy/rollingUpdate"

[2019-06-20 13:49] #23 closed

[2019-06-21 18:58] resouer commented on #3
Great!

[2019-06-21 18:58] #3 closed

[2019-06-22 17:57] Fei-Guo opened #33 "Remove public IP in docs/tutorial/README.md"
We should not expose public IP in any doc.  Please replace the public ip in tutorial readme with XXX.XXX.XXX.XXX in text and figure. @wonderflow please help if you can.

[2019-06-24 02:18] resouer opened #42 "[Tutorial] Change sidecar injection to a real use case"
https://github.com/openkruise/kruise/blob/master/docs/tutorial/sidecarset.md#inject-sidecar-container-with-sidecarset

Should inject a sidecar like log agent etc.

Also, we can consider making these docs into two directories:

workshop
    ├── kubecon2019china
     ...
    └── kubecon2019na

 tutorial
    ├── advcanestatefulset
     ...
    └── sidecarset

[2019-06-26 08:18] ntboot opened #46 "[BUG]"
**What happened**:
部署kruise-controller-manager-0报错(内存空指针)
![image](https://user-images.githubusercontent.com/22340224/60163308-e71e8c80-982d-11e9-9e1f-5369e88efc42.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:
- Kubernetes version (use `kubectl version`):
![image](ht

[2019-06-26 08:46] yehaifeng opened #47 "A BroadcastCronjob is needed？"
**What would you like to be added**:
I want to run cronjob in the kubernetes nodes for labels

**Why is this needed**:
I think this is useful. For example, synchronous time, check file.

[2019-06-26 08:49] #46 closed

[2019-06-26 08:52] ntboot opened #48 "[BUG] Failed to start kruise-manager when CR has been created before webhook injection"
**What happened**:

Error deploying kruise-controller-manager
![image](https://user-images.githubusercontent.com/22340224/60165886-b2f99a80-9832-11e9-929f-6b18334d1947.png)

**Environment**:
- Kruise version:
![image](https://user-images.githubusercontent.com/22340224/60165860-a6754200-9832-11e9-92c5-a92864ec51a9.png)

[2019-06-26 12:25] FillZpp commented on #47
Exactly. Maybe we should add a `selector` into `BroadcastJobSpec`. @jian-he

[2019-06-26 12:32] FillZpp commented on #48
Em...Let me guess your operations:

1. First, you applied the CRDs into your cluster.
2. Then, you created a `StatefulSet.apps.kruise.io` resource.
3. After that, you tried to install the kruise-controller-manager, and unfortunately you got an error.

Am i right?

[2019-06-26 13:15] jian-he commented on #47
sounds good to me.
We should think about whether adding another CRD BroadcastCronjob, or just add a cron field into the BroadcastJob spec,

[2019-06-26 13:15] jian-he commented on #47
Do you mean node selector ?

[2019-06-26 13:24] FillZpp commented on #47
@jian-he Yes, sometimes users just want to run jobs on part of nodes.

[2019-06-26 13:58] ntboot commented on #48
1. extend CRD
2. then deploy kruise-manager

Reference document: https://github.com/openkruise/kruise/blob/master/docs/tutorial/kruise-install.md

[2019-06-26 14:04] FillZpp commented on #48
@ntboot Could you show me `kubectl get statefulset.apps.kruise.io`

[2019-06-26 14:14] ntboot commented on #48
I don't understand why kruise-controller-manager will miss restart once my guest book is installed.

![image](https://user-images.githubusercontent.com/22340224/60187156-a8a1c580-985f-11e9-9cb2-0ec3647a63d8.png)
![Uploading image.png…]()

[2019-06-26 14:24] FillZpp commented on #48
@jian-he @resouer I think this is a bug of guestbook-kruise chart.

We can not put both kruise-manager and `StatefulSet.apps.kruise.io` resources in chart, because the manager must be started before users create the AdvancedStatefulSet. But we can not define the order that yamls in chart which should be applied first and others shouldn't be applied util the first one has been ready.

[2019-06-26 14:33] ntboot commented on #48
I know what you mean, you have to deploy kruise-controller-manager correctly first, and then you can't deploy the related resources of astatefulset controller correctly. But I also follow the document step by step, but still encountered the above problems.

[2019-06-26 14:36] ntboot commented on #48
I like this project very much, and I hope that the elastic expansion behind you will open up as soon as possible. So now I want to solve this problem

[2019-06-26 15:23] resouer commented on #48
@FillZpp If I'm understanding it correctly, you are suggesting we should very kruise-manager is running before deploy any applications?

 kruise-manager  is not part of guestbook-kruise charts, it's started separately by following https://github.com/openkruise/kruise/blob/master/docs/tutorial/kruise-install.md

[2019-06-27 02:31] FillZpp commented on #48
@resouer Got it.

@ntboot  So i think the problem is, after kruise-manager installed, you went to install guestbook chart immediately, but the kruise-manager had not been ready yet.

This could be a regular problem, i have to think of how to avoid it.

[2019-06-27 02:35] ntboot commented on #48
I guess so. I did a test waiting for kruise-manger to start for 8 minutes. Then I started an astatefuleset controller, and finally kruise-manger was restart.

[2019-06-27 02:35] ntboot commented on #48
@FillZpp

[2019-06-27 03:23] yehaifeng commented on #47
Yes, maybe it is need.

[2019-06-27 03:27] yehaifeng commented on #47
I think if BroadcastCronjob can replace the cronjob in os

[2019-06-27 09:42] linwukang opened #49 "[feature request] improve the document of tutorial/kruise-install.md"
**What would you like to be added**:
for this document, [tutorial/kruise-install.md](https://github.com/openkruise/kruise/blob/master/docs/tutorial/kruise-install.md)
troubleshooting steps is needed to find out why the endpoint is empty.

**Why is this needed**:
it is a common problem easy to encountered

[2019-06-27 09:50] FillZpp commented on #48
#50 will fix this problem.

After deployed kruise into a cluster, users can not create resources defined in kruise util kurise-manager has been started.

[2019-06-27 10:27] ntboot commented on #48
I changed a new cluster operation and succeeded! Thank you

However, the cluster that had problems before cleaned up the relevant resources, and then try again is not good. My understanding is that the order of deleting resources should be:

1. sts. apps. kruise. IO

2. kruise-manger

Am I right? @FillZpp

[2019-06-27 13:16] FillZpp commented on #48
@ntboot Delete all `sts.apps.kruise.io` resources, then delete the pod `kubectl delete pod -n kruise-system kruise-controller-manager-0`.
After that, the StatefulSet named `kruise-controller-manager` will create a new Pod which should be Ready.

[2019-06-27 14:19] ntboot commented on #48
got it

[2019-06-27 14:20] #48 closed

[2019-06-27 16:12] allencloud opened #51 "[BUG] `make manager` changes source code of project"
**What happened**:
`make manager` changes source code of project:

**What you expected to happen**:
`make manager` does no change to source code

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
none

**Environment**:
- Kruise version: master node
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (

[2019-06-28 03:42] jian-he commented on #51
I tried to fix the format and run the "make manager" command, in fact, it will reset to current format.
is this because of some kind of format setting ?

[2019-06-28 05:53] jian-he commented on #47
actually, the podTemplate already has a `nodeSelector` field , which currently is supported by BroadcastJob.  So user can specify the nodes with the `nodeSelector` @FillZpp @yehaifeng

[2019-06-28 09:18] FillZpp commented on #51
I tried to run the command, nothing changed.
[code]

[2019-06-28 09:30] KaiwenWang opened #53 "[feature request]Is There Any Chinese Doc?"
**What would you like to be added**:
Chinese Doc

**Why is this needed**:
Not all coders are good at reading englist docs

[2019-06-28 18:23] xiang90 commented on #51
what is the go version on your machines? @allencloud @FillZpp

[2019-06-28 18:24] xiang90 commented on #47
let us convert this to a doc issue. we should provide an example.

[2019-06-29 04:16] FillZpp commented on #51
Go version on my machine `go version go1.11.6 darwin/amd64`.
Is your go version up to 1.12+ ? @allencloud

[2019-07-01 01:49] allencloud commented on #51
[code]
I am afraid it is only 1.10.4. Do we need a restriction that upgrade golang version to the 1.12+.
@xiang90 @FillZpp

[2019-07-01 02:19] xiang90 commented on #51
can we add a go version check in the `make` script? @jian-he @FillZpp @allencloud

[2019-07-01 04:30] jian-he commented on #51
we could add a warning in the script.
failing it would hurt user experience, IMO.
And this looks to be a common problem for all Golang projects

[2019-07-01 06:19] FillZpp commented on #51
Common users will not use `make`, they should install kruise using `helm install` or `kubectl apply`.
I think it is ok to return a failure of go-version check to kruise developers.

[2019-07-01 07:05] FillZpp commented on #51
@xiang90 @jian-he @allencloud  Add a go version check #54

[2019-07-01 12:39] jian-he commented on #47
https://github.com/openkruise/kruise/pull/55 adds the doc

[2019-07-01 12:41] #51 closed

[2019-07-01 12:48] jian-he commented on #53
we will try to write one, thanks

[2019-07-01 13:04] FillZpp commented on #49
@linwukang The endpoint might be empty because kruise-manager remain starting.
After #50 , we have remove the default leader election, so kruise should start faster now.

[2019-07-01 13:04] jian-he commented on #33
The IPs are not public IPs, and the IPs are there to demonstrate that the IPs of all pods are not changed before and after update.
I removed the naming of nodeNames in the readme.

[2019-07-01 13:32] #33 closed

[2019-07-02 02:13] allencloud commented on #53
I think we should provide the Chinese docs, while maybe the core team of openkruise could avoid doing this but focuses on the core developing and English docs.
I will find a way to provide this with less effort. @KaiwenWang @jian-he @xiang90

[2019-07-02 05:10] jian-he commented on #49
@linwukang close this issue based on comment above, let us know if you still run into the same issues.

[2019-07-02 05:10] #49 closed

[2019-07-02 08:23] manifoldyu opened #57 "Error when Install kruise-controller-manager [BUG]"
**What happened**:Error when Install kruise-controller-manager

**What you expected to happen**:Install kruise-controller-manager successful

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f https://raw.githubusercontent.com/kruiseio/kruise/master/config/crds/apps_v1alpha1_broadcastjob.yaml
kubectl apply -f https://raw.githubusercontent.com/kruiseio/kruise/master/

[2019-07-02 09:30] allencloud commented on #57
Can you attach some error message? @manifoldyu

[2019-07-02 13:38] xh4n3 commented on #57
same here.
I'm using managed kubernetes 1.12.6 on alibaba cloud.
error message pasted below:
[code]

Might be relevant to #50 .

[2019-07-02 13:45] FillZpp commented on #57
@xh4n3 I find `caBundle` field has been changed since k8s 1.12 to 1.13.

- It is optional in k8s 1.13+ https://github.com/kubernetes/api/blob/release-1.13/admissionregistration/v1beta1/types.go#L290
- But required in k8s 1.12 https://github.com/kubernetes/api/blob/release-1.12/admissionregistration/v1beta1/types.go#L290

I will fix this to help Kruise install for k8s 1.12.

[2019-07-03 08:49] #57 closed

[2019-07-04 07:14] manifoldyu opened #61 "[feature request] we want a feature like one time daemonset"
**What would you like to be added**:

broadcastJob will run on all worker node that already exists, but we want broadcastJob can support that run on all new comming worker node,like one time daemonset.

**Why is this needed**:

[2019-07-04 07:23] allencloud commented on #61
I think set `terminationPolicy` to be `never`. Then you request can be realized. @manifoldyu

[2019-07-05 06:52] hellolijj opened #62 "[feature request] Specific metrics is need in project file"
**What would you like to be added**:
specift metrics list file

**Why is this needed**:
to learn kruise clearly

## question: What metrics does kurise provide?

We can access `localhost:8080` to get some metrics, but what specific metrics does kurise provide? can you list specift metrics in project docs?

[2019-07-08 20:07] Fei-Guo commented on #18
https://github.com/openkruise/kruise/blob/master/docs/roadmap/2019-Q3.md
Here is the roadmap. Close the issue.

[2019-07-08 20:07] #18 closed

[2019-07-08 20:19] xiang90 commented on #18
@Fei-Guo Can we link the roadmap from front page readme for better discoverability?

[2019-07-09 07:44] ifree613 opened #69 "[BUG]Failed to install kruise-controller-manager according to the document"
**What happened**: Failed to install kruise-controller-manager

**What you expected to happen**: Install kruise-controller-manager successful

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f https://raw.githubusercontent.com/kruiseio/kruise/master/config/crds/apps_v1alpha1_broadcastjob.yaml
kubectl apply -f https://raw.githubusercontent.com/kruiseio/kruise/master

[2019-07-09 12:13] ifree613 opened #71 "[feature request] Independently install sidecarset controller and CRD(apps_v1alpha1_sidecarset)"
**What would you like to be added**:
Independently install sidecarset controller and CRD(apps_v1alpha1_sidecarset)

**Why is this needed**:
Just choose what you need and don't install the features you don't currently need.

[2019-07-09 17:10] #69 closed

[2019-07-09 17:13] jian-he commented on #71
@ifree613 unfortunately, this is restricted by kubebuilder to require all CRDs installed.
@FillZpp any idea how this can be fixed ?

[2019-07-10 02:04] allencloud opened #72 "[doc request] specific explanation of broadcast job's authorization management"
**What would you like to be added**:
Currently, Broadcast Job is used to control a non-long-running job on each node of k8s cluster, such as image preheat job, cleanup job and so on.

While for a job in container to finish a task on a node, it sometimes requires more authorization management. For example, how to gain privilege access on host to execute corresponding commands?

What kind of guidanc

[2019-07-10 22:52] Fei-Guo commented on #61
Close it as the feature is available.

[2019-07-10 22:52] #61 closed

[2019-07-10 23:19] xiang90 commented on #61
@Fei-Guo we should add this in the documentation as a use case.

[2019-07-10 23:39] xiang90 opened #76 "Add Changelog and release plan of project"
We need to have changelog after the initial release of the project.

[2019-07-11 00:12] xiang90 commented on #61
See this example: https://github.com/openkruise/kruise/blob/master/docs/concepts/broadcastJob/README.md#automatically-launch-pods-on-newly-added-nodes-by-keeping-the-job-active-using-never-completionpolicy

[2019-07-11 08:06] allencloud commented on #76
I will try to finish this. While I think we should first nail down the release plan of kruise. Here are some thoughts of mine:

* follow the version rule on the basis of SemVer. Briefly speaking, we follow version number of MAJOR.MINOR.PATCH, such as 0.2.1, 1.1.3. For more details, please refer to [SemVer](http://semver.org/)；
* settle down that 1.0.0 is the GA version, PATH of MAJOR.MINOR.PATCH i

[2019-07-11 08:11] allencloud opened #78 "[feature request] follow the markdownlint rules to write markdown documents"
**What would you like to be added**:
We should add a document rule for all documents in project kruise, that could make the docs well maintained. In addition, we can use the circleci-markdownlint to do the lint validation in every pull request's CI procedure.

Here is the [markdownlint](https://github.com/markdownlint/markdownlint), and here are all the rules: https://github.com/markdownlint/markd

[2019-07-11 08:17] allencloud opened #79 "[code format] gocode check should have rule and use CI to lock down rules"
**What would you like to be added**:
Good go code format is the fundamental part of project kruise.

With the tool [gomentalinter](https://github.com/alecthomas/gometalinter)(deprecated, we will use https://github.com/golangci/golangci-lint later), we use the command `gometalinter --disable-all --skip vendor -E gofmt -E goimports -E golint -E goconst -E ineffassign -E misspell -E vet -d ./...` and

[2019-07-11 08:28] allencloud opened #80 "[goreport] goreport issues of project kruise"
**What would you like to be added**:
We add a bar of `goreport` to check the go code quality of project kruise.
![16_25_42__07_11_2019](https://user-images.githubusercontent.com/9465626/61034820-8e87eb80-a3f8-11e9-918b-0d2da142e1c9.jpg)

And after we click the button, we could find the code report was not so good. Here is the report: https://goreportcard.com/report/github.com/openkruise/kruise

We

[2019-07-11 14:21] #78 closed

[2019-07-11 23:19] #80 closed

[2019-07-11 23:35] jian-he commented on #72
@allencloud do you mean how to enable the job container with privilege mode ?

[2019-07-11 23:40] jian-he commented on #76
above looks good to me. what should we include in the release artifacts,
1. code tar ball , 2. docker image ?

[2019-07-18 01:55] #79 closed

[2019-07-18 03:38] KevinBetterQ opened #88 "[feature request] Uniform grayscale release control for applications"
**What would you like to be added**:
Add a unified grayscale release control  for applications to describe different workloads

**Why is this needed**:
At present, the official k8s provides workloads such as deployment, statefulset, daemonset, etc., and provides grayscale control mechanisms such as paritiion, maxunavailable, pause, etc.. but the fields of each workload are currently different. In

[2019-07-18 03:54] KevinBetterQ commented on #88
/assign

[2019-07-19 19:10] jian-he opened #92 "Update the tutorial for sidecarset update"
**What would you like to be added**:
Update the sidecar set tutorial for sidecarset update

**Why is this needed**:
useful for users to try out

[2019-07-24 05:44] mikechengwei opened #96 "[BUG]local debugging is not successful"
**What happened**:
 Local debugging with `make run` command has an error.
 When  installing statefulset，it will request kruise-webhook-server-service，but the service not binding an endpoints,So it will connect refuesed.

**What you expected to happen**:Local debugging successfully

**How to reproduce it (as minimally and precisely as possible)**:
1. make run
2. install all crds
3. install kruise-s

[2019-07-24 17:01] jian-he commented on #96
I think #94 fixed this, did you run with #94 included ?

[2019-07-25 00:41] Fei-Guo commented on #71
commit #97 should fix the issue.

[2019-07-25 00:41] #71 closed

[2019-07-25 02:00] FillZpp commented on #96
@jian-he No, he wants to debug locally using `make run`, instead of creating a Pod for kruise-manager.

[2019-07-25 05:51] mikechengwei commented on #96
@jian-he `Kubebuilder default make run does not work for webhooks since kubernetes services usually do not work in local dev environment. Hence, it is recommended to debug controller manager in Pod.`
I want to slove this problem，which help our development.

[2019-07-25 15:34] FillZpp commented on #96
@mikechengwei This PR will help you run kruise-manager locally. #103

[2019-07-26 16:42] #96 closed

[2019-07-29 17:53] #92 closed

[2019-08-01 14:29] candyleer opened #108 "Does Kruise has Kubernetes version requirement?"
I cannot run `kruise-manager-controller` in `1.10.5`,but in `1.12.4` works well.
here is the error by ` kubectl logs kruise-controller-manager-0 -n kruise-system` :
[code]

[2019-08-02 19:03] jian-he commented on #108
hmm, it shouldn't be, the default value is actually set in
https://github.com/openkruise/kruise/blob/f297eaa8b1c3b7d8c5efe677a7b2ef62b3e86ec6/pkg/webhook/default_server/statefulset/mutating/statefulset_create_update_handler.go#L123

@FillZpp

[2019-08-03 02:07] candyleer commented on #108
This issue also exist in `v0.1.0`

[2019-08-05 02:56] FillZpp commented on #108
@candyleer Have you enabled `MutatingAdmissionWebhook` and `ValidatingAdmissionWebhook` admission plugins in your kube-apiserver?

[2019-08-05 12:24] zeusro opened #111 "[feature request] Support unknown pod rschedule"
**What would you like to be added**:

希望 Advanced StatefulSet 能够对失联 pod 进行重新调度

**Why is this needed**:

传统的StatefulSet，节点失联（unknown）之后，上面的pod会变成 unknown ，这时得手动删除它才会重新调度，希望阿里云的 Advanced StatefulSet 能够修复这部分问题。

[2019-08-05 13:05] FillZpp commented on #111
When node become `node.kubernetes.io/not-ready` or `node.kubernetes.io/unreachable`, Pod on it should be evicted in 300s by default.

After that, Advanced StatefulSet will create a new Pod and it will be scheduled to somewhere else.

[2019-08-07 08:08] zeusro commented on #111
是这样子的吗,希望这方面文档补充得详细点.

[2019-08-07 08:08] #111 closed

[2019-08-08 06:57] kerecsen opened #112 "[BUG]version information in tutorial's doc is not math the tag version"
Hi,

when I switched the tag v0.1.0 on /docs/tutorial/kruise-install.md, I found the urls of YAML files would not change to the v0.1.0 version's address:

##### * e.g.
[code]
the verion in the urls were still master, and I checked the docker image's tag in https://raw.githubusercontent.com/kruiseio/kruise/master/config/manager/all_in_one.yaml was `:daily` which was updated 20 hours ago on dockerhu

[2019-08-08 18:36] Fei-Guo commented on #112
I update the release note with the following and upload the correct all_in_one.yaml

"To install the Kruise controller manager, download the attached all_in_one.yaml and apply it.
`kubectl apply -f all_in_one.yaml`"

Please check if this eases your confusion.

[2019-08-09 09:35] kerecsen commented on #112
that's better now, people could get aware of it from the release.

[2019-08-09 09:36] #112 closed

[2019-08-12 01:35] candyleer commented on #108
@FillZpp  It seems it's enabled in >=1.10.x by default

[2019-08-12 01:52] FillZpp opened #113 "[feature request] Provide an uninstall script for users"
**What would you like to be added**:

Provide an uninstall script for users, including delete kruise-manager, services, webhook configurations and so on.

[2019-08-12 10:49] kerecsen opened #114 "[BUG]"
**What happened**:

When I used SidecarSet with Deployment, the sidecar container could be injected to the pod, but the sidecar container could not be updated. There is a quick review(the yaml's detail please see the section 'How to reproduce it'):

after create sidecarset:
[code]
after creat guestbook-sts-for-sidecar-demo:
[code]
then see the sidecarsets:
[code]
check the images in pod:
[code]
yo

[2019-08-12 23:23] Fei-Guo commented on #114
The problem is that you don't remove the readinessGates from the spec
[code]
The readiness gate is removed by sts controller only.

As a result, Pods in deployment never reach "ready" condition.
[code]

SidecarSet controller only does sequential upgrade, which means if more than one Pod is in NotReady state (like in your case), the controller stops upgrade.

By removing the readinessGate from the

[2019-08-13 01:54] kerecsen commented on #114
Cool, get it.
It works, thanks a lot.

[2019-08-13 01:54] #114 closed

[2019-08-13 02:44] candyleer commented on #108
when I set the `partition=0` manually,another error found:
[code]

[2019-08-18 05:59] rhinoceros opened #115 "[BUG] Internal error occurred: failed calling admission webhook "validating-create-update-statefulset.kruise.io""
**What happened**:

[code]

**What you expected to happen**:
success

**How to reproduce it (as minimally and precisely as possible)**:

[code]

C0072.yaml
[code]

**Anything else we need to know?**:

[code]

**Environment**:
- Kruise version: apiextensions.k8s.io/v1beta1
- Kubernetes version (use `kubectl version`):
v1.14.0
- OS (e.g: `cat /etc/os-release`):
CentOS-7
- Kernel (e.g. `uname -a`):
L

[2019-08-19 05:40] Fei-Guo commented on #115
Can you double check the output of
k get ValidatingWebhookConfigurations/kruise-validating-webhook-configuration -o yaml

and make sure the CA bundle is a valid one?

[2019-08-19 09:10] rhinoceros commented on #115
[code]

[2019-08-19 11:44] rhinoceros commented on #115
原因 重复apply了all_in_one 执行下面命令后，重新kubectl apply -f C0072.yaml就好了。
[code]

[2019-08-19 11:44] #115 closed

[2019-08-22 17:06] Fei-Guo commented on #108
If the problem still exists, can you post the full error log?

[2019-08-29 09:35] hellolijj opened #118 "[docs request] kruise install with helm"
**What would you like to be added**:

docs request: kruise install with helm

**Why is this needed**:

It is convient to install `kruise`  with helm [charts](https://developer.aliyun.com/hub/detail?spm=a2c6h.12873679.0.0.74e51107atHbj2&name=kruise&version=0.1.0#/?_k=up9kfg).

[2019-08-31 06:04] fengzixu commented on #53
Hi, Is this issue has been solved? I am delighted to finish it for the community. @allencloud @jian-he

[2019-09-01 04:50] jian-he commented on #53
not yet.  It'll be great if you can spend time on this. Thank you !

[2019-09-03 18:03] Fei-Guo commented on #118
/assign @hellolijj

As we discussed offline, we need to resolve the CRD yaml version problem in Helm chart before adding the the link in README.

[2019-09-07 12:45] hellolijj commented on #118
@Fei-Guo

How about we make a folder named helm? it contains installed yaml file. then it use as follows?

[code]

[2019-09-07 12:46] hellolijj commented on #118
or we can update helm repo as kruise release?

[2019-09-08 05:54] zeminhuang commented on #115
the relevant issues :
[root@hzm ~]# kubectl get pod -n kruise-system -owide
NAME                          READY   STATUS    RESTARTS   AGE   IP             NODE
kruise-controller-manager-0   1/1     Running   1          26m   10.222.75.16   slave2

[root@hzm ~]# kubectl get svc -n kruise-system -owide
NAME                                TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)   AGE   SE

[2019-09-08 06:41] zeminhuang opened #123 "[question] inplace-update character : Pod id unchange"
**why pod id changed ? **:
when i update image version, Pod ip is changed
**Yaml**:
apiVersion: apps.kruise.io/v1alpha1
kind: StatefulSet
metadata:
  name: sample
spec:
  replicas: 3
  serviceName: fake-service
  selector:
    matchLabels:
      app: sample
  template:
    metadata:
      labels:
        app: sample
    spec:
      readinessGates:
        - conditionType: InPlaceUpdateReady

[2019-09-08 14:31] #123 closed

[2019-09-08 15:53] wu8685 opened #124 "Install kubebuilder before running test by makefile"
In order to use controller-runtime test framework, we should install kubebuilder before running test.

[2019-09-09 02:48] zeminhuang opened #125 "[Issue] Pod ip is changed ?"
before:
[root@k8s-master kruise]# kubectl  get pods -owide
NAME       READY   STATUS    RESTARTS   AGE     IP             NODE        NOMINATED NODE   READINESS GATES
sample-0   1/1     Running   0          5m20s   10.244.1.113   k8s-node1   <none>           1/1
sample-1   1/1     Running   0          5m37s   10.244.1.111   k8s-node1   <none>           1/1
sample-2   1/1     Running   0          5

[2019-09-09 03:00] FillZpp commented on #124
@wu8685 There is no need to install kubebuilder for running test. Just `make test` is fine.

[2019-09-09 03:16] #113 closed

[2019-09-09 05:11] FillZpp commented on #125
Can you show the result of these two command:
[code]

BTW, please paste your code in [markdown code block](https://www.markdownguide.org/extended-syntax/#fenced-code-blocks).

[2019-09-09 05:40] zeminhuang commented on #125
[root@k8s-master kruise]# kubectl get controllerrevision sample-55d9756b4 -o yaml
apiVersion: apps/v1
data:
  spec:
    template:
      $patch: replace
      metadata:
        creationTimestamp: null
        labels:
          app: sample
      spec:
        containers:
        - image: nginx:latest
          imagePullPolicy: Always
          name: main
          resources: {}
          termination

[2019-09-09 05:57] FillZpp commented on #125
Obviously, the `imagePullPolicy` also changed during you updated statefulset.

[2019-09-09 06:05] zeminhuang commented on #125
i am only  modify image version , nginx:latest  modify  nginx:alpine.
[root@k8s-master kruise]# cat example-state.yaml
apiVersion: apps.kruise.io/v1alpha1
kind: StatefulSet
metadata:
  name: sample
spec:
  replicas: 3
  serviceName: fake-service
  selector:
    matchLabels:
      app: sample
  template:
    metadata:
      labels:
        app: sample
    spec:
      readinessGates:
        - condi

[2019-09-10 03:02] qkboy opened #127 "[BUG] Advanced StatefulSet panic"
**What happened**:
[code]

**What you expected to happen**:
create an advenced statefulset

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f guestbook-sts-for-sidecar-demo.yaml

**Anything else we need to know?**:

**Environment**:
- Kruise version: 1.12
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
-

[2019-09-10 03:17] FillZpp commented on #127
It looks like the mutating webhook is not working. Please check the arguements of your `kube-apiserver`, make sure that `MutatingAdmissionWebhook` and `ValidatingAdmissionWebhook` must be open.

[2019-09-10 11:15] qkboy commented on #127
THX.  It works.

[2019-09-10 11:19] #127 closed

[2019-09-10 16:38] wu8685 commented on #124
Without kubebuilder installed, it is not able to run kubebuilder generated test case.
Additionally, it is a convenient way to build up a test environment, by which we can test our codes better.

[2019-09-13 18:57] Fei-Guo commented on #118
One problem is that you allow user to configure image version in helm chart. Then using per release directory cannot help solving the version problem, unless you disallow this option
"manager.image.tag"

I am ok with adding a helm directory in kruise repo and keep it updated for every release.

[2019-09-17 16:44] Fei-Guo commented on #124
Fixed by https://github.com/openkruise/kruise/commit/fe73a2e404ccae28998eceec2874be10eb421568

[2019-09-17 16:44] #124 closed

[2019-09-21 03:28] mikechengwei opened #133 "Sidecarset suppot statefulset/deployment etc workload."
**What would you like to be added**:
Sidecarset support statefulset/deployment etc workload.

**Why is this needed**:
I use sidecarset to inject log container into pod,i deployed with my custom resources like sts.
Then i find the inject container not inherit my serviceAccount volumesMount, which used to communicate with k8s api .So I think the sidecarset need to support higher workload level .Beca

[2019-09-22 08:11] #118 closed

[2019-09-23 05:36] xiang90 commented on #133
/cc @Fei-Guo

[2019-09-23 12:21] jinyuchen724 opened #134 "how to config external api-server address？"
hi:
    I changed install config like this:

spec:
      containers:
        - command:
            - /manager
          args:
            - "--metrics-addr=127.0.0.1:8080"
            - "--logtostderr=true"
            - "--v=4"
            - "--master=http://10.39.128.35:80"
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fiel

[2019-09-23 18:17] Fei-Guo commented on #134
You have two approaches to connect APIServer from controller manager:
- InCluster Mode (default):
  In this case, the cluster config only supports "https:"
https://github.com/kubernetes/client-go/blob/2bd34d193bacaec5c976bef54bbc1f80939b81ec/rest/config.go#L435
  It is hardcoded to avoid security vulnerability.
- kubeconfig mode (can be out of cluster )
[code]
if you start the controller manager b

[2019-09-23 21:26] Fei-Guo commented on #133
@mikechengwei
The feature you request does not exist in Kruise v0.1.0. The good news is that we implemented adding volume support in SidecarSet which is part of v0.2.0 release. Now if you add service account volume and volume mount in SidecarSet using the same service secret name, For example:
[code]
The created sidecar container can access the service token. For example:
[code]
Note that the Side

[2019-09-24 02:26] jinyuchen724 commented on #134
Thank you for your reply，but my kubeconfig already specifying api-server address。
like this... I didn't quite understand why。

`apiVersion: v1
clusters:
- cluster:
    server: http://10.39.128.35
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    namespace: default
    user: default-auth
  name: default-context
current-context: default-context
kind: Config
preferences: {

[2019-09-24 06:05] mikechengwei commented on #133
@Fei-Guo it satifties my requirement.

[2019-09-24 06:05] #133 closed

[2019-09-24 16:56] Fei-Guo commented on #134
You need to make sure the APIServer enables  MutatingAdmissionWebhook and ValidatingAdmissionWebhook

For example,

--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota

[2019-09-25 13:45] huzhengchuan opened #137 "[BUG]log always print "Watch close""
**What happened**:
deploy kruise in my k8s cluster, create  statefulsets.apps.kruise.io app work ok, and the app pod is running, but the kruise controller manager frequently print "watch close" logs .  is it normal?
<pre>

# kubectl logs -f kruise-controller-manager-0 -n kruise-system
I0925 13:30:24.865164       1 pod_create_handler.go:77] [sidecar inject] begin to process /
I0925 13:30:42.172745

[2019-09-25 15:44] huzhengchuan opened #138 "[BUG]demo create failed"
**What happened**:
kubectl create -f ./config/samples/apps_v1alpha1_broadcastjob-never-complete.yaml run error
<pre>
[root@ samples]# kubectl create -f ./apps_v1alpha1_broadcastjob-never-complete.yaml
Error from server (InternalError): error when creating "./apps_v1alpha1_broadcastjob-never-complete.yaml": Internal error occurred: Internal error occurred: jsonpatch replace operation does not apply

[2019-09-25 23:09] Fei-Guo commented on #137
First of all, watch close is not a catastrophic failure because client-go runtime will re-Listwatch the resources when ListAndWatch fails. See
https://github.com/openkruise/kruise/blob/91014db6b272634f008747086a3ab7f6be49d724/vendor/k8s.io/client-go/tools/cache/reflector.go#L130

But if it occurs frequently like in your case (every a few minutes), it indeed indicates the environment has problem, p

[2019-09-26 01:09] fengzixu commented on #53
Hey guys. Sorry for responding late. I'm a little busy in recent days. I plan to start translating the doc of Kruise this weekend. But I want to ask one question in advance:

Which document should be translated firstly? Readme or doc in the docs dictionary?

@jian-he

[2019-09-26 03:38] Fei-Guo commented on #137
I observe the similar in my local setup, will take a look.

[2019-09-26 07:18] Fei-Guo commented on #138
This is indeed a bug. We are working on a fix. Thanks for catching this.

[2019-09-26 16:48] #138 closed

[2019-09-27 03:50] Fei-Guo commented on #137
In fact, this is an expected behavior in client go
[code]
https://github.com/openkruise/kruise/blob/07325e51eef9976d95481cbccabe2f956a218f1c/vendor/k8s.io/client-go/tools/cache/reflector.go#L235

The timeout is a random number between 5 to 10 mins by default.

[2019-09-29 07:53] huzhengchuan commented on #137
thanks

[2019-09-29 07:54] #137 closed

[2019-10-08 10:10] hellolijj opened #145 "[BUG] failed calling webhook "validating-create-update-statefulset.kruise.io""
**What happened**:

[code]

**What you expected to happen**:

guesbook app install successful

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:
master
- Kubernetes version (use `kubectl version`):
v1.16.0

- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
4.15.0
- Install tools:
minikube
-

[2019-10-09 02:53] FillZpp commented on #145
@hellolijj It seems that `kruise-webhook-server-service` has not created by your charts.

[2019-10-09 03:50] hellolijj commented on #145
`kruise-webhook-server-service` is created by `kruise-manager`.  When we install kruise by helm charts,  `kruise-manager` didn't start because lack of `node role`. That's why this bug appear.

[code]

[2019-10-09 20:58] Fei-Guo opened #147 "[feature request] Add 0.2.0 helm charts template"
Kruise has released version 0.2.0. The helm chart template for 0.2.0 should be added.

https://github.com/openkruise/kruise/tree/master/charts/kruise/v0.1.0/README.md
may need to be updated as well (especially the installation part)

[2019-10-09 20:58] Fei-Guo commented on #147
/assign @hellolijj

[2019-10-10 08:03] #145 closed

[2019-10-14 13:28] administratort opened #151 "[BUG]"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-10-14 13:29] administratort opened #152 "[feature request]"
**What would you like to be added**:

**Why is this needed**:

[2019-10-15 01:09] #147 closed

[2019-10-15 01:10] #151 closed

[2019-10-15 01:11] #152 closed

[2019-10-25 17:15] #125 closed

[2019-11-05 03:38] karancode opened #158 "Slack link is no more active"
The slack channel link on the github readme has been expired ([slack channel](https://join.slack.com/t/kruise-workspace/shared_invite/enQtNjU5NzQ0ODcyNjYzLWMzZDI5NTM3ZjM1MGY2Mjg1NzU4ZjBjMDJmNjZmZTEwYTZkMzk4ZTAzNmY5NTczODhkZDU2NzVhM2I2MzNmODc))

[2019-11-05 23:32] Fei-Guo commented on #158
It does not in my computer. @FillZpp How about yours?

[2019-11-06 03:49] FillZpp commented on #158
@Fei-Guo Me, too.  Perhaps it works for ones have signed in?

[2019-11-06 06:04] karancode commented on #158
@FillZpp I think so too. I see [this](https://ibb.co/19HY5Xp) when I try to join!

[2019-11-07 01:37] vinnyzhaowenyu commented on #53
me too!
come on

[2019-11-07 01:46] vinnyzhaowenyu opened #159 "使用默认的CRD及demo无法正常创建broadcastjob[BUG]"
**What happened**:
使用默认的config/crds/apps_v1alpha1_broadcastjob.yaml文件创建的broadcastjob的crd后，
demo例子没有运行，DESIRED也是为空

[code]

[code]

**What you expected to happen**:
使用提供的demo例子能正常运行和体验broadcastjob

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:   v0.2.0以上最新的分支
- Kubernetes version (use `kubectl version`):v1.

[2019-11-07 02:01] Fei-Guo commented on #159
Can you post the output of controller-manager log here?

[2019-11-07 02:12] vinnyzhaowenyu commented on #159
[code]

[2019-11-07 18:55] Fei-Guo commented on #159
Please make sure controller is up and not reporting any errors.

Another thing is that v0.2.0 changed broadcastjob APIs so if you have installed the broadcastjob before, please try to
delete the old crd, download the v0.2.0 crd yaml from kruise release page, and install the newest crd yaml.   (https://github.com/openkruise/kruise/releases)

Let us see if above helps.

[2019-11-10 09:44] #158 closed

[2019-11-11 18:23] resouer opened #161 "[feature request] Using sidecar type container for SidecarSet"
**What would you like to be added**:

We may want to consider have https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/sidecarcontainers.md in plan as soon as it's ready.

Let's use this issue as tracker.

1. feature tracker: https://github.com/kubernetes/enhancements/issues/753
2. main kubelet change: https://github.com/kubernetes/kubernetes/pull/80744

[2019-11-12 02:57] jian-he commented on #53
sorry for the late reply, you may start with this overview page: https://github.com/openkruise/kruise/blob/master/docs/README.md

and then the tutorials https://github.com/openkruise/kruise/blob/master/docs/tutorial/README.md
thanks

[2019-11-19 09:48] furykerry commented on #161
sidecar type container in the kep doesn't align well with the one in sidecarset. sidecarset can operator *any" container in a pod, no matter it is a "sidecar", an  "ambasador" or an "adaptor" per [pod design pattern](https://matthewpalmer.net/kubernetes-app-developer/articles/multi-container-pod-design-patterns.html)

[2019-11-26 02:55] zjz0924 opened #169 "[Broadcast job] Is there any demos/documents of using broadcast job to configure k8s node configuration?"
I want to use broadcast job to configure docker configuration,  but I don't know how to do that.

Is there any demos/documents of using broadcast job to configure k8s node configuration?

[2019-11-26 09:09] zjz0924 opened #170 "[Broadcast job] how to use broadcast job to configure Docker configuration and then restart Docker service"
**What would you like to be added**:
I want to use broadcast job to configure Docker configuration and then restart Docker service

**Why is this needed**:
I need to configure Docker in many hosts,  manual configuration is not realistic. So I want to use broadcast job to do this.

**My Issue**:
I don't know how to execute host command in container to restart docker service.  And there are no relat

[2019-12-04 00:46] jian-he commented on #170
@zjz0924
This has less to do with broadcastjob. This is a question about whether we can run a command on host from within a container. Better asking this question in docker community.

I googled it and find this document https://stackoverflow.com/questions/32163955/how-to-run-shell-script-on-host-from-docker-container
you can check if it's useful

[2019-12-05 02:53] #88 closed

[2019-12-09 07:34] zhangxiaoyu-zidif opened #175 "[feature request] Add Advanced DaemonSet in kruise project"
**What would you like to be added**:
I want to import an advanced daemonset in this open source project.

**Why is this needed**:
This new added workload will help users have more deploy and update strategies comparing to using native DaemonSet.

[2019-12-09 07:35] zhangxiaoyu-zidif commented on #175
I will send a PR to start API review this week, and list the PR link in this issue later.

[2019-12-11 09:18] skilxn-go opened #178 "[BUG] Advance Statefulset 是否存在以下 bug"
根据代码看来：
使用

作为更新策略时，对于这个 InPlaceOnly 的限制是在 Validating Webhook 完成的，也就是说我只变更 image 就可以把更新写入 spec
然而在

函数中
[code]
如果 revisions 找不到了，则认为无法原地升级，然后后面看代码，流程就进入正常的 delete pod 升级了。
是否是我说的这样呢？
如果是的话，这个是否和 “InPlaceOnly“ 含义相悖？

[2019-12-11 09:36] FillZpp commented on #178
@skilxn-go  Actually, "old ControllerRevision not found" should not happen for `truncateHistory` can only delete non-live revisions, otherwise someone has deleted the revision manually. In this case, we have no choice but to recreate pods with non-existing revisions.

[2019-12-11 10:18] skilxn-go commented on #178
Got it, it makes sense

[2019-12-11 10:18] #178 closed

[2019-12-12 08:11] jinyuchen724 opened #181 "[BUG]"
**What happened**:
the following kruise image can't inplace update：
[code]
the error like this：
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version: image id f9fd47fb43f6
- Kubernetes version (use `kubectl version`):1.13.2
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g.

[2019-12-18 02:30] #181 closed

[2019-12-21 13:31] yiqinguo opened #196 "Rolling update failed"
**What happened**:

[code]

When rolling updates, the maxUnavailable value is 20%, and the replicas value is 3. After updating an instance, the next rolling update cannot be carried out.

**What you expected to happen**:

All instances can be updated on a rolling basis.

**Anything else we need to know?**:
![image](https://user-images.githubusercontent.com/12421121/71308556-1a3a8500-2439-11ea-8c10

[2019-12-23 14:04] cutiechi opened #198 "[feature request] Share env in SidecarSet"
**What would you like to be added**:

I define a SidecarSet has one filebeat container for collect log, the filebeat configuration file have two varible 'COMPONENT_TYPE' and 'LOG_DIR', but the set not known what value when inject pod starting

**Why is this needed**:
I want to share one env for SidecarSet and Injected container

[2019-12-27 19:36] #196 closed

[2019-12-30 08:08] devops4cc opened #202 "why use webhook-server-service, not use kruise-webhook-server-service"
I have installed kruise in my kubernetes cluster according the official docucment, the service kruise-webhook-server-service has been created
 kubectl get services -n kruise-system
NAME                                TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)   AGE
kruise-controller-manager-service   ClusterIP   10.233.25.247   <none>        443/TCP   45m
kruise-webhook-server-service

[2019-12-30 08:24] FillZpp commented on #202
@devops4cc Cloud you describe your installation commands, via helm chart or yamls?

[2019-12-30 08:32] devops4cc commented on #202
the issue has been fixed, I execute a wrong yaml file, the issue was fixed after I removed ValidatingWebhookConfiguration  and mutating-webhook-configuration

[kubeadmin@node1 ~]$ kubectl get MutatingWebhookConfiguration
NAME                                    CREATED AT
istio-sidecar-injector                  2019-12-28T10:44:46Z
kruise-mutating-webhook-configuration   2019-12-30T08:16:45Z
mutati

[2019-12-30 08:32] #202 closed

[2019-12-30 10:32] devops4cc opened #203 "can not list stetefulset after install openkruise"
**What happened**:
we can get the pod list
$ kubectl get pods -n healthcare-mpaas
NAME                       READY   STATUS    RESTARTS   AGE
hadoop-hdfs-datanode-0     1/1     Running   0          124m
hadoop-hdfs-datanode-1     1/1     Running   0          124m
hadoop-hdfs-datanode-2     1/1     Running   0          124m
hadoop-hdfs-namenode-0     1/1     Running   0          124m
hadoop-hdfs-na

[2019-12-30 11:02] FillZpp commented on #203
The group of Advanced StatefulSet is `apps.kruise.io`.
Use `kubectl get statefulset.apps.kruise.io` or `kubectl get sts.apps.kruise.io`.

Besides, you cloud follow this tutorial for the first time using Kruise.
https://github.com/openkruise/kruise/blob/master/docs/tutorial/advanced-statefulset.md

[2019-12-30 11:03] #203 closed

[2020-01-03 06:49] furykerry commented on #198
@cutiechi how do you expect the sidecar container to get the environment ? Do you have a common container naming, for example, make the sidecar share the environment with container called 'app'

[2020-01-03 20:10] Fei-Guo opened #204 "[Feature request] Advanced StatefulSet Auto Remediation"
**Problem**

When creating new Pods in scaling or rollout workflow, it is possible that a created Pod cannot reach `Ready` state due to certain node problems. For example, node misconfiguration may cause constant failures on pulling images or starting the containers.

**Proposal**

We can add a `AutoRemediation` flag in the advanced statefulset which enables controller to delete a stuck pending Po

[2020-01-04 00:43] Fei-Guo opened #205 "[New controller] PodMarker - A labeling tool"
Many advanced K8s workload management features require the use of labels. In some cases, labels are needed after Pods are created so that adding them to Pod template does not help .  For example,

- A canary release plan may want to upgrade X number of Pods out of Y number of total replica. We can add a label to the chosen Pod so that the rollout controller can upgrade these Pods first.

- Pod con

[2020-01-04 01:13] fengzixu commented on #205
/assign @fengzixu

[2020-01-04 01:16] fengzixu commented on #205
I would like to implement this feature for kruise.

[2020-01-04 08:21] pigletfly commented on #204
/assign Would like to contribute to this feature

[2020-01-05 03:58] #169 closed

[2020-01-16 13:39] kong62 opened #215 "[feature request] 类似于 job + cronjob + daemonset 这样的 CRD 控制器"
**What would you like to be added**:
实现过类似于 job + cronjob + daemonset 这样的 CRD 控制器，功能需求大致是这样的：
1. 添加新节点的时候，自动在新节点上启动一次 job，完成后退出                      【不满足】
2. 当有修改节点的任务 job 分配的时候，启动一次 job，完成后退出                  【满足】
3. 每天定时在所有节点上启动一次 job，完成后退出                                            【不满足】

**Why is this needed**:
代替 ansible 这样的工具做节点上的批量修改，速度比他们快。而且很少占用资源。另外主要就是针对新加入集群的节点自动处理，这一般人为去做比较慢。

[2020-01-16 15:49] Ghostbaby commented on #215
类似初始化系统，但是不是所有主机都加入k8s集群

[2020-01-17 10:27] kong62 commented on #215
其实主要就是2个作用把：
1. 类似于创建云主机时候的初始化脚本，用于一次性初始化新创建的节点
2. 类似于代替 ansible 这样的工具，专门用于日常做一些任务，比如定时删除镜像，删除停止的容器，拷贝文件等等

[2020-01-21 06:13] skilxn-go opened #217 "[feature request] 可以用 Image 字段来判断原地升级成功吗？"
我注意到当前是根据 ImageID 的变更来认为原地升级成功的。
这里是否能够通过 containerStatues.image 字段来判断呢？我认为应该也是唯一的

[2020-01-21 06:37] FillZpp commented on #217
We can not use `containerStatues[x].image` to check whether in-place update has succeeded. When there are multiple tags for one imageID on Node, it is decided by the CRI implement that which image name is returned to Kubelet.

For example, images `nginx:alpine` and `nginx:mainline-alpine` have the same imageID:

[code]

We updated `spec.containers[0].image = "nginx:alpine"` in Pod spec, the `statu

[2020-01-21 06:37] #217 closed

[2020-01-21 06:48] FillZpp commented on #215
`BroadcastJob` can do this with `spec.completionPolicy.type: "Never"`, it guarantees a completed job on all desired Nodes.
When new nodes are added, the pods will be triggered automatically on those new nodes.

`BroadcastJob` can do this.

A cron `BroadcastJob` is in our plan.

[2020-01-21 18:52] Fei-Guo opened #219 "[BUG] CloneSet UT"
https://travis-ci.org/openkruise/kruise/builds/640046336?utm_source=github_status&utm_medium=notification

A cloneset UT fails

cloneset_update_test.go:304: Failed to test inplace update, unexpected pod pod-0, expected
        {"metadata":{"name":"pod-0","creationTimestamp":null,"labels":{"apps.kruise.io/cloneset-instance-id":"id-0","controller-revision-hash":"rev-new"},"annotations":{"inplace-upd

[2020-01-22 04:47] #219 closed

[2020-02-03 14:26] luodw opened #225 "best practice for webhook service"
Is it a recommended way to use  webhook to inject sidecar container? If yes, webhook service must be very stable.  If webhook has something wrong, It will be a disaster, as it can not create pod any more. So there are some other best practice?

[2020-02-03 17:31] Fei-Guo commented on #225
We do, I think we can set up multiple replica for controller manager, aka, the webhook service. @FillZpp may add more about this.

[2020-02-27 09:55] Wenfeng-GAO opened #230 "[BUG] Failed when check cluster qualification by using check_for_installation.sh"
**What happened**:
When I follow *Getting Started* tutorial and check cluster qualification by using
[code]
It failed and what I found in log:
[code]

I found that it's because those **unknown fields** are newly introduced after v1.16 or in `admission.k8s.io/v1`, but we use `admission.k8s.io/v1beta1` in the script, and my k8s cluster version is v1.13.

**What you expected to happen**:
Success.
For

[2020-03-01 08:48] luodw opened #232 "how to guarantee the start order of main and sidecar container?[feature request]"
**What would you like to be added**:
how to guarantee the start order of main and sidecar container?

**Why is this needed**:
There are cases that main container should start before  sidecar container，or sidecar container  should start before main container. what is the best bractice to do with it?

[2020-03-01 09:38] furykerry commented on #232
There is indeed some plan to add a field in SidecarContainer struct, to specify the injection behavior. say 'BeforeAppContainer" specify that to inject the sidecar container before all containers in the original pod spec, or "AfterAppContainer" specify that to inject the sidecar container after all containers in the original pod spec.

Yet this injection policy CANNOT guarantee the start order of

[2020-03-03 09:35] luodw commented on #232
I ask another question，how to share infomation between main container and sidecar  container？ may be share volume？

[2020-03-06 02:10] furykerry commented on #232
1. one can specify a volume in the sidecarset with the same name as the one used by main container, and the volume will be shared
2. or one can specify some env in the sidecarset using downward api, which reference pod label or annotation.
3. or one can simply access /dev/shm
4. or one can just using lo network interface

[2020-03-10 08:12] xcm153 opened #234 "Support minReadySeconds for CloneSet[feature request]"
**What would you like to be added**:
Support minReadySeconds for CloneSet

**Why is this needed**:
Just like deployment, we need minReadySeconds for set pod available (ready for at least MinReadySeconds) and the interval of deploy during a batch

[2020-03-12 03:00] #230 closed

[2020-03-12 05:34] #234 closed

[2020-03-13 04:00] xcm153 opened #238 "workload migration tools [feature request]"
**What would you like to be added**:
We need a workload migration tools for migrate pod from deployment  to cloneset .
The process like rolling update with maxSurge=1 maxUnavailable=0 .

**Why is this needed**:
Cloneset can`t automatic takeover oprhaned pod , we need a tools to do it

[2020-03-13 05:27] hwq830 opened #239 "[feature request]Add timespan between pod condition changed and container's InplaceUpdate"
**What would you like to be added**:
Add timespan between pod condition changed and container's InplaceUpdate

**Why is this needed**:
Waiting for endpoints are removed completely.

[2020-03-17 03:09] zhangxiaoyu-zidif commented on #175
It is an overdue work, and recently the code will be sent to the involved PR.

[2020-03-17 15:55] gdetal opened #242 "SidecarSet edit is not propagated to Deployment"
**What happened**: Already injected sidecard containers were not updated when I edited the related SidecarSet Spec (image)

**What you expected to happen**: already injected sidecar to be be updated based on new SidecarSpec

**How to reproduce it (as minimally and precisely as possible)**:

Create SidecarSet using following manifest:
[code]

Create a deployment using:
[code]

Check via `kubectl de

[2020-03-17 16:09] Fei-Guo commented on #242
@gdetal  Do the apiserver have any other Pods with label app:ngnix?
"current unavailable pod number: 4(max: 1)," means there are at least four matched pods but your depolyment replica number is 3.

[2020-03-17 16:22] gdetal commented on #242
Hello @Fei-Guo, this was an artifact of a previous run, I've removed everything (SidecarSet, nginx, other deployments), and restart the controller. When I re-apply the above scenario I see the following in the logs:

[code]

Note that I noticed the error info and updated the Issue description but you were too fast ;-)

[2020-03-17 16:36] Fei-Guo commented on #242
Are your pods in running state and have Ready condition? The error indicates that Pods are not available. One of the reason can be pod is not "isRunningAndReady"

[2020-03-18 07:37] gdetal commented on #242
Seems that all pods are in Running state and Containers are also Ready. Please find the detailed status of all nginx pods bellow:

[code]

[2020-03-18 07:46] gdetal commented on #242
Please find additional info that could help you troubleshoot the issue regarding sidecarset-specific metadatas on pods:

[code]

[2020-03-18 08:28] gdetal commented on #242
I've created a repo that reproduces and can help you troubleshoot the issue: https://github.com/gdetal/kruise-sidecarset-update-issue

[2020-03-18 17:28] Fei-Guo commented on #242
I tried your scripts. It seems working. One difference is that I am using the latest all_in_one.yaml, not the helm chart but I doubt this is the root cause.

k get sidecarset
NAME              MATCHED   UPDATED   READY   AGE
sidecarset-test   3         3         3       13m

nginx-deployment-54f57cf6bf-kspcw   2/2     Running   1          13m
nginx-deployment-54f57cf6bf-r5jm2   2/2     Running   1

[2020-03-19 07:58] gdetal commented on #242
Indeed, my script does a `patch --type merge` which also cause a change of the full container section and not only the container image. I've pushed my edited code and indeed it passes. But it takes a few minutes. Do you know why it takes so long ?

I'll retry in my regular cluster to see whether I originally did something wrong.

[2020-03-19 08:58] gdetal commented on #242
I have tried to reproduce as close as possible how we deploy our pods. We use:
 1- a dedicated namespace; after a test this does not yield any update issue
 2- we already define some sidecar containers in our Pods; after a test this seems to be the source of the issue.

I have reproduced both above setups in https://github.com/gdetal/kruise-sidecarset-update-issue.

You can run the successful setu

[2020-03-19 09:48] gdetal commented on #242
There was a mistake in my repo. The issue is still not reproduced in a minikube setup. I'll keep you posted.

[2020-03-19 14:17] gdetal commented on #242
Ok we found the source of the issue, we were using an old version of docker in our cluster that caused the `containerStatuses` to append `docker.io/` to each container image name.  You can see it in the following dump of the example in my repo ran on my cluster:

[code]

This causes the function `isPodImageConsistent(corev1.Pod)` to always return false as the image name in the `Spec` is different

[2020-03-19 14:17] #242 closed

[2020-03-19 15:44] Fei-Guo commented on #242
Glad you find the root cause. Do you mind tell us what the old docker version is and which new version resolves the problem? We may add this reminder in some documents.

[2020-03-19 15:49] Fei-Guo commented on #242
type SidecarSetUpdateStrategy struct {
	RollingUpdate *RollingUpdateSidecarSet `json:"rollingUpdate,omitempty"`
}

// RollingUpdateSidecarSet is used to communicate parameter
type RollingUpdateSidecarSet struct {
	MaxUnavailable *intstr.IntOrString `json:"maxUnavailable,omitempty"`
}
SidecarSet support parallel update by specifying the MaxUnavailable. Default is 1 so the sidecars are updated seque

[2020-03-20 07:45] gdetal commented on #242
@Fei-Guo Thanks for the info.

We use Centos 7 as base for our cluster OS. The issue occur if you use the docker package provided by Centos (`Server Version: 1.13.1` via `docker info`).

Using the recommended procedure described [here](https://docs.docker.com/install/linux/docker-ce/centos/) solve the issue and install `Server Version: 19.03.8`.

[2020-03-23 03:24] hwq830 commented on #239
well done.

[2020-03-23 03:24] #239 closed

[2020-04-16 07:18] Wenfeng-GAO opened #247 "enable specific controllers by helm set option [feature request]"
**What would you like to be added**:
For now, we can only enable specific controllers by customizing manager  sts template, or only install specific crds, which means customizing crd yamls in chart.

I prefer to achieve this directly by:
[code]

**Why is this needed**:
Why not?

BTW, maybe we could ignore (upper/lower)cases when compare with `gvk.Kind`.

[2020-04-16 07:19] Wenfeng-GAO commented on #247
I can send a pr for this if we're agree on it.

[2020-04-20 03:06] #247 closed

[2020-04-20 06:35] fatedier opened #250 "[feature request] Support maxSurge in cloneset"
**What would you like to be added**:
Support `MaxSurge` in `CloneSetUpdateStrategy`.

Allow user set `maxSurge = 1, maxUnavailable = 0` to create new pod first and then delete old pod.

**Why is this needed**:
Some service need this feature to try to keep enough pods during the update.

[2020-04-27 05:09] pigletfly opened #252 "[feature request]provide a flag to turn off pod webhook register if not needed"
**What would you like to be added**:

**Why is this needed**:

currently pod webhook is registered for SidecarSet controller,but if we are not using SidecarSet, I think it's better not to register related webhook.If kruise webhook server is down, Pod can't be created in the cluster.

[2020-04-27 05:16] FillZpp commented on #252
@pigletfly We supported two ways to disable some of the controllers/webhooks: https://github.com/openkruise/kruise#optional-enable-specific-controllers .

You may need to delete the `SidecarSet` CRD and restart kruise-manager, or you can add `CUSTOM_RESOURCE_ENABLE` env into kruise-manager container, which should be set to the kinds you need, such as `CUSTOM_RESOURCE_ENABLE=StatefulSet`

[2020-04-27 06:07] #252 closed

[2020-04-29 09:06] watermeion opened #254 "[feature request] SidecarSet: Support Shared Volume Between Sidecar and Main Pod"
**What would you like to be added**:
add a strategy and implements for merging shared volumes or other pod level configs in sidecar mutation webhook.

**Why is this needed**:
If the sidecar and the main container should share the same pod level config such as volume etc, sidecarset should ensure the merging operation in mutation webhook can do as the user wish.

eg:  Use Case: Log Collection
Sidec

[2020-04-30 07:21] FillZpp commented on #254
@watermeion Please have a look at #255 , could it solve your problem?

[2020-04-30 07:34] watermeion commented on #254
@FillZpp Yes, thanks!  When or Which version  will this fix release?

[2020-04-30 08:34] FillZpp commented on #254
@watermeion This will be contained in v0.5.0, which should release at mid-May.

[2020-05-06 05:16] #254 closed

[2020-05-08 16:35] #250 closed

[2020-05-12 02:19] shiyan2016 opened #260 "[BUG] using maxSurge and partition UPDATED_READY pod not correct"
**What happened**:
create an cloneset with replicas:8 maxSurge: 10% maxUnavaliable: 10% partition: 5
perform some update for the cloneset, when the update finish, the cloneset pod status as follows:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version: master
- Kube

[2020-05-12 02:34] mkloveyy commented on #260
We have the same confusion about this.

[2020-05-12 06:30] FillZpp commented on #260
@shiyan2016 Actually the status is what we expected to be, let me explain it.

1. `replicas:8, maxSurge: 10%` means the CloneSet will scale to 9 Pods during update.
2. `replicas:8, maxUnavaliable: 10%` means the CloneSet will keep at most 1 Pod to be unavailable during update.
3. `partition: 5` means the CloneSet will keep 5 Pods not to update.

When you started to update, controller will firstly

[2020-05-12 09:39] shiyan2016 commented on #260
@FillZpp I know this behavior likes the behavior during deployment rolling update. But when we set partition and reach the partition old pods left, it thinks this work is done. This is a final state, not a processing state. So in my opinion, I think keep 3 new updated revision pod is more reasonable. During the process that reach the partition old pods, it can keep replicas+maxSurge  pods.

[2020-05-12 12:35] FillZpp commented on #260
@shiyan2016 Understand what you said.
But we want to support a condition that users could set `replicas=8, partition=8, maxSurge=10%`, which will keep all `replicas` number of Pods remain running and scale out 1 more Pod to verify.

[2020-05-12 20:31] Fei-Guo commented on #260
Is this possible to manipulate the output of DESIRED?  For example, it can be 9(8) for update case where the number outside of the brackets is "replica+maxsurge" and the number inside bracket is "replica". In other cases, the DESIRED number is 8(8).

[2020-05-13 02:22] FillZpp commented on #260
@Fei-Guo I'am afraid we cloud not print the output like `9(8)`. `printcolumn` must be a clear type without format.
https://github.com/openkruise/kruise/blob/master/config/crds/apps_v1alpha1_cloneset.yaml#L12

[2020-05-13 03:07] shiyan2016 commented on #260
@FillZpp @Fei-Guo If we keep updated ready replicas-partition+maxsurge pods when partition update done, it will waste resource especially for the big cluster. For example, I have a cloneset with replicas 200, maxSurge 20%, set partition to 100, and need to keep this state for a period of time. Then in this period of time, it will keep more 40 pod.

[2020-05-13 06:19] FillZpp commented on #260
@shiyan2016 How about we add a validation that forbids users to set `maxSurge` together with `partition` for it might be a little confusing?

[2020-05-13 06:49] shiyan2016 commented on #260
@FillZpp Forbid setting maxSurge and partition together, it is not friendly for Recreate update strategy when updating small cluster which will cause some pods not ready that cannot provide services.

[2020-05-13 08:30] shiyan2016 opened #261 "[BUG] partition not in expected state"
**What happened**:
Create a cloneset with replicas 8, maxSurge 10% and maxUnavaliable 10%, update the cloneset and set partition 5, after that will be 4 updated pods and 5 old pods. Then update partition to 7, it still 4 updated pods and 5 old pods. And if I delete one updated pod, it will create a old pod.

**What you expected to happen**:
When update partition to 7, should keep 2 updated pods an

[2020-05-13 08:48] FillZpp commented on #261
@shiyan2016 This is by design, not a bug.

CloneSet can only update Pods to the latest revision which matches its template, but it cloud not update Pods to a historic template.

It's just like the original StatefulSet. If you update `partition` from 5 to 7, controller will do nothing unless you delete the Pods with order 5 or 6.

[2020-05-13 09:07] shiyan2016 commented on #261
ok, I will close this issue.

[2020-05-13 09:07] #261 closed

[2020-05-13 09:58] fatedier commented on #260
It depends on how to understand the `update` state.

For current design, `update` means the process of updating all pods from last versions to update version.

But maybe for other users, they do an update operation from `replicas: 5, partition: 0, maxSurge=1, version: 1` to `replicas: 5, partition: 4, maxSurge=1, version: 2`.   What they want are 1 new pod and 4 old pods. `maxSurge` pods can be cr

[2020-05-13 22:41] uhari03 opened #262 "[feature request] Support Deployment for UnitedDeployment"
**What would you like to be added**:
Currently UnitedDeployment only supports Statefulsets. The docs do mention that Deployments will be supported soon, but no timelines exist.

**Why is this needed**:
I am personally looking to support biased spreading of pods in a deployment across Availability Zones. I am also more than happy to contribute, but will love some pointers on where I can start.

[2020-05-14 00:01] Fei-Guo commented on #262
May I ask why StatefulSet or AdvancedStateful does not fit your requirement?

[2020-05-14 00:30] uhari03 commented on #262
@Fei-Guo we currently have folks deploying "Deployment" objects into k8s clusters.
We want the transition to UnitedDeployment to be as smooth and as simple as possible. Deployment support will assist with this.

We may also have a small subset of users doing special tooling around Deployment objects (blue/green deployment is one example). Using statefulsets may result in additional work being done

[2020-05-14 03:41] FillZpp commented on #260
@shiyan2016 @fatedier Thanks for all your suggestions. It sounds reasonable to make `maxSurge` work with `partition`.

Let's confirm the process again. For a CloneSet to update revision from `v1` to `v2` with `replicas=5, partition=3, maxSurge=1, maxUnavailable=0`:

1. Controller firstly creates 1 Pod in `v2` (currently `v1` * 5, `v2` * 1)
2. When there are `v1` * 3 Pods left which matches `partit

[2020-05-14 04:37] fatedier commented on #260
@FillZpp It's fine for me.

[2020-05-14 06:36] shiyan2016 commented on #260
@FillZpp That's what I expected.

[2020-05-14 07:38] zhouguangming commented on #260
Can we consider to have a new policy named RollingUpdate or something else just like Deployment for MaxSurge？

[2020-05-14 07:47] shiyan2016 commented on #260
@zhouguangming @FillZpp I tried set ReCreate and MaxSurge together, it still work. It seems a little contradiction in k8s design. And in deployment, only rolling update strategy can set maxSurge.

[2020-05-14 07:48] mkloveyy commented on #261
@FillZpp Will CloneSet enable to reset partition to a bigger value (such as 5 -> 7) in future? Perhaps for rollback deploy or something else. Thx!

[2020-05-14 07:58] mkloveyy commented on #260
@FillZpp
I think it should be easier to understand by renaming ReCreate to RollingUpdate. As in K8S Deployment, only RollingUpdate strategy supports MaxSurge and MaxUnavailable.

[2020-05-14 08:20] fatedier commented on #260
Can we also support `maxSurge` for `In-place update`.

For some stateless applications, they always want to keep enough replicas(not take up extra resources all the time). But for some reason(such as to keep the scheduling result), they prefer `In-place` update.

If we support `maxSurge` for `In-place` update, the process will be changed to:

`version v1 -> v2, replicas=5, maxSurge=1, maxUnavailab

[2020-05-14 08:43] FillZpp commented on #260
@shiyan2016 @zhouguangming  It might be a misunderstanding, the policy types in CloneSet are not same as Deployment.

@mkloveyy is partly right. But why we call it `ReCreate` instead of `RollingUpdate`?

1. The mainly difference between `RollingUpdate` and `Recreate` in Deployment are rolling and killing-all. In this respect, all policies in CloneSet are rolling update (we do not support killing-a

[2020-05-14 08:48] FillZpp commented on #260
@fatedier We do support to use `maxSurge` with in-place update.
The only question is since the `v2` Pod created in the beginning is available, why should we delete this specific Pod finally?

[2020-05-14 09:04] fatedier commented on #260
The `v2` pod created in the beginning is aimed to keep enough ready pods during the `in-place` update (5 `v1` -> 5 `v2`). After all pods have been updated to new version and ready, we get 6 `v2` pods and the beginning one is unexpected.

[2020-05-14 09:13] FillZpp commented on #260
@fatedier How about open a new issue to track this requirement?

[2020-05-14 09:19] fatedier commented on #260
Sure. I will do that.

[2020-05-14 09:37] wu8685 commented on #262
Generally, you can consider to start by providing an adapter for Deployment by implementing the [interface](https://github.com/openkruise/kruise/blob/master/pkg/controller/uniteddeployment/adapter/adapter.go#L26).

Considering Deployment does not has `partition` feature, current `[UpdateStrategy](https://github.com/openkruise/kruise/blob/master/pkg/apis/apps/v1alpha1/uniteddeployment_types.go#L105

[2020-05-14 17:14] Fei-Guo commented on #262
@uhari03 I encourage you to start adding deployment support. Let me know if further assist is needed. You can find me via the slack channel (id: Fei Guo).

[2020-05-14 20:46] uhari03 commented on #262
I agree that UpdateStrategy might need to be disabled initially for deployment objects.
But I'm sure more can be done with it to expand.

Initially it should be fine since Deployments support rollout strategies themselves.

I appreciate the pointers, let me take a look at the pointers you both provided.

[2020-05-15 01:56] mkloveyy commented on #260
@FillZpp Understood. The definition of ReCreate is different between in CloneSet and in Deployment and all strategies in CloneSet are RollingUpdate.

[2020-05-15 04:00] fatedier opened #263 "[feature request] CloneSet support maxSurge for In-place update"
**What would you like to be added**:
Now, `maxSurge` is forbidden to use with `InPlaceOnly` policy. We can try to support it.

Example:
`version v1 -> v2, replicas=5, maxSurge=1, maxUnavailable=0`

If `maxSurge = 0`, in-place update works as before.

If `maxSurge > 0`, the process will be changed to:

1. Create 1 `v2` pod.
2. Wait for new pod ready, in-place update 1 `v1` pod to `v2`.
3. Continue

[2020-05-15 04:00] fatedier commented on #263
/cc @FillZpp

[2020-05-15 08:49] fatedier opened #264 "[feature request] CloneSet selective Pod deletion support label selector"
**What would you like to be added**:
[code]

**Why is this needed**:
CloneSet now supports `podsToDelete` to specify which pod to delete first. It requires users to update CloneSet spec manually. It's ok if user want to scale down pods in the same time.

To condiser another scenario：
We want to drain one node and migrate its pods to others and we prefer create new pod first and then delete old pod

[2020-05-15 09:15] mkloveyy opened #265 "[feature request] Support Partition for the CloneSet creation"
**What would you like to be added**:
Support Partition for the CloneSet creation.

**Why is this needed**:
We hope that the CloneSet creation can have the same behavior with CloneSet update.

[2020-05-15 09:31] FillZpp commented on #265
@mkloveyy We do support partition during creating Pods.
Ref: https://github.com/openkruise/kruise/blob/master/pkg/controller/cloneset/core/cloneset_core.go#L72

[2020-05-15 10:02] mkloveyy commented on #265
@FillZpp It's not creating pods from old to new versions, but the first creation of CloneSet(from nil to v1).

[2020-05-15 10:10] FillZpp commented on #265
@mkloveyy I don't quite understand. Could you please describe it with a case?

[2020-05-15 10:45] mkloveyy commented on #265
### What happened:
Create CloneSet for the first time with replicas:8 partition: 5. When the creation finish, the CloneSet pod status as follows (partition isn't active):
[code]
### What you expected to happen:
[code]

[2020-05-15 11:09] fatedier commented on #265
@mkloveyy Does this behavior really make sense? What's scenario requires you must do this instead of creating a cloneset with 3 replicas?

[2020-05-15 20:36] #260 closed

[2020-05-16 12:15] joesonw opened #268 "[feature request] Inject Pod annotations for SideCarSet containers"
**What would you like to be added**:

Inject Pod annotations for SideCarSet containers through labels or environment variables?

**Why is this needed**:

In practice, a large amount of sidecars rely on annotations to configure how the sidecar should perform.

[2020-05-16 15:36] #268 closed

[2020-05-18 04:01] yuyulei opened #269 "[feature request]Advanced StatefulSet update pods parallelly"
What would you like to be added:
Now StatefulSet's update strategy including: RollingUpdate and OnDelete.

RollingUpdate, meaning update pod one by one.
OnDelete, meaning updata after deleted.

I suggest a new policy "Parallelly". This policy also need "partition" field.

For example, given statefulset with {name: demo, replicas: 5, policy: Parallelly, partition: 2}, then the statefulset controlle

[2020-05-18 04:09] FillZpp commented on #269
@yuyulei Advanced StatefulSet supports `maxUnavailable` when PodManagementPolicy is Parallel.

The default value of `maxUnavailable` is 1, which makes pods been updated one by one. But if you modify it to an absolute number or a percentage, it helps you to update pods parallelly.

Doc ref: https://github.com/openkruise/kruise/tree/master/docs/concepts/astatefulset#maxunavailable-rolling-update-str

[2020-05-18 05:11] Fei-Guo commented on #264
To me, draining node should be coordinated by another controller. We should not rely on workload controller to support a series of node operation procedures.

The request of adding a label then translates to whether the coordinator  should save a list of Pods or a label. The latter is more convenient, but I don't think it is a must. I am reluctant to make nonessential change at this stage since we

[2020-05-18 07:00] fatedier commented on #264
@Fei-Guo It's a sample scenario if ClonetSet support this feature, but not the only purpose. `Label selector` can decouple process between CloneSet and other workloads.

I agree with you to keep APIs stable now. Maybe we can collect more requirements in the future and discuss again.

[2020-05-18 09:14] shiyan2016 opened #270 "[feature request] Can we add currentRevision state in CloneSet status?"
**What would you like to be added**:
Add currentRevision in CloneSet status.

**Why is this needed**:
Like StatefulSet, it's status has CurrentRevision and UpdateRevision.Which is more clearly for looking pods on current revision and update revision.

[2020-05-18 09:30] yuyulei commented on #269
@FillZpp thanks, it works.

[2020-05-18 10:09] #269 closed

[2020-05-18 14:41] uhari03 opened #272 "[BUG] manager.custom_resource_enable helm variable not working"
**What happened**:
I ran the command:
[code]

This was straight from the README. I expected unnecessary CRDs to not be installed, but they still were installed. The environment variable inside the kruise-controller-manager was also not set.

**What you expected to happen**:
Only the StatefulSet and SidecarSet CRDs to be installed and the CUSTOM_RESOURCE_ENABLE environment variable to be set inside

[2020-05-19 02:58] Wenfeng-GAO commented on #272
It's because `--set manager.custom_resource_enable=` feature was supported after helm v0.4.1 release pkg.

Helm v0.4.1 should be re-packaged and archived in order to make it work.
@FillZpp

[2020-05-19 04:07] FillZpp commented on #272
@Wenfeng-GAO Exactly. I packaged it into v0.5.0 which has just released today.

@uhari03 Would you try it with v0.5.0?

[code]

[2020-05-19 18:40] uhari03 commented on #272
The environment variable is set correctly with v0.5.0.

The CRDs are still all set though (I'm assuming this is expected):
[code]

I think if the instructions on the README are fixed to specify this, it should be good enough.
@FillZpp

[2020-05-20 02:34] mkloveyy commented on #265
ok，I wil close the issue.

[2020-05-20 02:34] #265 closed

[2020-05-20 02:40] #272 closed

[2020-05-20 04:04] FillZpp commented on #270
@shiyan2016 The truth is, `UpdateRevision` is the latest revision, but `CurrentRevision` may not be the revision for all non-updated Pods, this is why we didn't put it into status.

For example, a CloneSet with `replicas=10`, the original revision is `v1`. First you set `partition=5` and update to revision `v2`, then you set `partition=8` and update to revision `v3`. At this moment, all Pods might

[2020-05-20 06:07] FillZpp commented on #254
@watermeion Hey, we have released v0.5.0 yesterday which contains this volume merge logic for SidecarSet. You may be interested to have a try. 😄

[2020-05-20 06:11] watermeion commented on #254
awesome~!

[2020-05-22 05:56] shiyan2016 commented on #270
@FillZpp I did not consider that. Thank you for your answer. I will close it.

[2020-05-22 05:56] #270 closed

[2020-06-02 07:53] skilxn-go opened #277 "I have three questions about `SidecarSet`. Could anyone help?"
Two of them are about [these codes](https://github.com/openkruise/kruise/blob/eb63c9b2aa9fa52ba7eb2e14f9dd140d9cfa4bb2/pkg/controller/sidecarset/sidecarset_utils.go#L227-L239)
[code]
1. Using container spec image for `PodImageConsistent` is not reliable, right? If two image has the same imagelayer with different tags, `containerStatus.Image` may differ to `pod.Spec.Containers.Image` forever. Why d

[2020-06-02 12:05] FillZpp commented on #277
@skilxn-go Thanks for these nice suggestions.

1 & 2: It is really a bad idea to compare images between spec and status. We used to think about considering other containers to be image consistent before sidecar updating. But as you said, there is no need to do this, for both `CloneSet`, `Advanced StatefulSet` will make Pods NotReady before in-place update and original workloads like `Deployment` o

[2020-06-02 12:09] skilxn-go commented on #277
Sure, I'm trying to use `SidecarSet` in our project, so I need to fix them anyway. I will open new issues for tracking these problems separately.

[2020-06-02 12:34] FillZpp commented on #264
Hi @fatedier , I'm considering your proposal these days. It is useful to provide such strategy which allows user to keep available number during migrating Pods.

Do you think the `maxUnavailable` and `maxSurge` in updateStrategy can be reusable, which means these fields will take effect on both updating and deleting?

[2020-06-02 14:35] fatedier commented on #264
@FillZpp I think it's acceptable. It's a little weird but stable API is more important at this stage.

[2020-06-03 07:13] cuishuaigit opened #278 "[BUG]scale clonesets error"
**What happened**:
when i scale clone,something was wrong
**What you expected to happen**:
scale clone  1 to  3
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
→ kubectl scale --replicas=2 clone guestbook-clone
+ kubectl scale --replicas=2 clone guestbook-clone
The clonesets "guestbook-clone" is invalid: metadata.resourceVersion: Invalid value

[2020-06-03 08:53] FillZpp commented on #278
@cuishuaigit This is a bug in kubectl v1.15, references:
- https://github.com/kubernetes/kubernetes/issues/80515
- https://github.com/kubermatic/kubeone/issues/593

Cloud you test it with kubectl 1.16+ ?

[2020-06-08 01:53] xiegang1 opened #279 "[feature request] support manual rolling update of the upstream deployment"
**What would you like to be added**:
We'd like to have the function of the rolling update of the deployment controlled by people manually.

**Why is this needed**:
kruise supports manual rolling out in clone set. But it against the pod. Some cloud native framework, like istio, usually operate the deployment directly. So, if we want to use those third party framework, we have to use the original k8

[2020-06-08 01:59] furykerry commented on #279
I'm afraid it is not possible since apps/deployment is controlled by the k8s controller not the kruise one. We cannot change the behavior of apps/deployment without changing [code](https://github.com/kubernetes/kubernetes).

[2020-06-08 02:37] xiegang1 commented on #279
So, in Ali, with kruise, how do we cooperate it to the third-party framework, like istio, which operates the unstream controller, like deployment?

[2020-06-08 07:15] #277 closed

[2020-06-08 08:58] servo1x opened #280 "[feature request] Add healthcheck / readiness endpoints"
**What would you like to be added**:

The controller should provide a `/healthz` endpoint for healthchecking.

**Why is this needed**:

Currently the healthcheck used is TCP and it clutters the logs with messages such as:

[code]

It can be confusing to a user.

[2020-06-08 09:12] FillZpp commented on #280
@servo1x Sounds reasonable. I will improve it, thanks!

[2020-06-09 02:41] FillZpp commented on #279
@xiegang1 It seems istio injects sidecars for Pods, so it does not depend on the Pod managed by either original `Deployment` or `CloneSet` in OpenKruise?

[2020-06-09 09:32] Aerospace191 opened #282 "[BUG]kruise在serverless集群上的错误"
kruise在serverless集群上创建后会产生certs为空的情况，手动补上cert-secret后能够正常部署，但在使用时会有如下错误：
![image](https://user-images.githubusercontent.com/66671892/84131288-f0bcf680-aa76-11ea-823b-78c920d75436.png)
集群中的svc是kruise在创建时自动创建的，如下：
![image](https://user-images.githubusercontent.com/66671892/84131418-18ac5a00-aa77-11ea-9dfb-c1dea5fa503b.png)
请问这种情况应该如何解决呢？

[2020-06-09 09:32] #282 closed

[2020-06-09 09:32] Aerospace191 commented on #282
图片无法显示 重新提交

[2020-06-09 09:35] Aerospace191 opened #283 "[BUG]kruise在阿里云serverless集群上的错误"
kruise在serverless集群上会有如下错误：
`[root@QA cashier_backend]# kubectl apply -f nginx.yaml
Error from server (InternalError): error when creating "nginx.yaml": Internal error occurred: failed calling webhook "validating-create-update-statefulset.kruise.io": Post https://webhook-server-service.kruise-system.svc:443/validating-create-update-statefulset?timeout=30s: service "webhook-server-service" not foun

[2020-06-09 09:45] FillZpp commented on #283
@Aerospace191 How did you install kruise, via helm or all_in_one.yaml ?

[2020-06-10 04:01] shiyan2016 opened #286 "[BUG] setting maxSurge and partition, cloneset's behavior is not suitable"
**What happened**:
Create a cloneset with replicas 8, partition 6, maxSurge 50% and maxUnavaliable 0. Do some update for the cloneset pod template, it will create 8*50%=4 update pod, and after ready delete 4+2=6 pod.

**What you expected to happen**:
During the update, the update pod creation should not
exceed maxSurge and replicas-partition. In this case, just create 2 update pod, after ready del

[2020-06-10 04:59] FillZpp commented on #286
@shiyan2016 What a coincidence! @fatedier and I just talked about this yesterday.

He has submitted a PR to fix it #285

[2020-06-10 05:07] shiyan2016 commented on #286
Ok. That's great. I will pay attention to the PR #285.

[2020-06-10 07:39] FillZpp commented on #286
@shiyan2016 Hi, the PR has been merged. It should be released in v0.5.1 this month.

[2020-06-12 03:45] FillZpp opened #289 "Wanted: Who is using Kruise | 如果贵司正在使用 Kruise 请留言"
# Who is using Kruise

First of all, thanks sincerely for constantly using and supporting Kruise. We will try our best to keep Kruise better, and keep community and eco-system growing.

## The purpose of this issue

- We’d like to listen to the community to make Kruise better.
- We want to attract more people to contribute to Kruise.
- We're willing to learn more Kruise use scenarios for better pl

[2020-06-12 07:25] yanruogu commented on #289
Orgnization/Cmpany: DouyuTV
Location: Wuhan, China
Contact: yanwei@douyu.tv
Purpose/Scenario: Using Kruise for managing statefulset applications. We need parallel updates

[2020-06-15 08:24] linuxcer opened #291 "[feature request] support batch update strategy in sidecarSet workload"
**What would you like to be added**:
In the case, I want to test 10% or 10 pods to verify sidecar image，now I only do as follows: set maxUnavailable=10% or 10，and then watch the sidecarset status updatedPods，when up to maxUnavaiable number of pods，patch the paused=true to stop update。 Whether sidecrset can add a configure like "maxUpdatedNumber" to support this function.

**Why is this needed**:
I

[2020-06-16 07:40] shiyan2016 commented on #286
@FillZpp  When will v0.5.1 be released？

[2020-06-16 07:53] FillZpp commented on #286
@shiyan2016 Hi, it will be released next week.

By the way, to get more feedback of Kruise's adoption in industry, would you mind helping comment in issue #289  to give more information about your enterprise's Kruise usage. Thanks a lot in advance. 😄

[2020-06-21 09:33] #263 closed

[2020-06-22 03:24] FillZpp commented on #53
@KaiwenWang @fengzixu @vinnyzhaowenyu  We have moved docs from github to [openkruise.io](https://openkruise.io/), and we also provided both English and Chinese docs there. 😃

[2020-06-22 03:24] #53 closed

[2020-06-22 05:31] Yetsenn opened #293 "[feature request] support minReadySeconds in StatefulSet workload"
**What would you like to be added**:
[code]

**Why is this needed**:
In my case, I want a process like:
1. Set minReadySeconds=60 and MaxUnavailable=1.
2. Update statefulSet for an image, and the container in first Pod will be updated, restarted and ready.
3. Then after minReadySeconds, continue to update the second Pod.

This effectively works for container warm-up.

[2020-06-22 07:53] hkebao commented on #289
Orgnization/Company:Sto
Location: Shanghai, China
Contact: yaofang@sto.cn
Purpose/Scenario: Using Kruise for managing statefulset applications, we need local upgrade

[2020-06-23 11:48] peacocktrain commented on #289
Orgnization/Company: Boss直聘
ocation: Beijing, China
Contact: sunfuze@kanzhun.com
Purpose/Scenario: sidecar,cloneset,statefulset for Corporate pass

[2020-06-23 14:31] ilanni2460 commented on #289
Orgnization/Company: hangyinxiaofei
ocation: HangZhou, China
Contact: 506636022@qq.com
Purpose/Scenario: sidecar,cloneset,statefulset for Corporate Paas

[2020-06-28 00:51] Yetsenn opened #298 "[feature request] Pre-hook and post-hook on Pod in-place upgrading"
**What would you like to be added**:
[code]

[code]

**Why is this needed**:
Before patching a pod when upgrading images in a cloneSet, in order to download data first, I need:
1. Set a lifecycle label to a cloneSet and Pods like foo.io/handler: "true".
2. Update images in the cloneSet.
3. Lifecycle state label in the Pod is changed to BeforeUpdate. Then I remote the handler label.
4. The CloneSet

[2020-06-28 02:47] peacocktrain opened #299 "[feature request]Add metric for kruise‘s cr"
**What would you like to be added**:
statefulset/cloneset/sidecarset/job  need to add metric with replica, available, unavailable, complete, number of resource .....

**Why is this needed**:
For example, Deploy has kube-state-metric, which can provide the metric, so we can well count and monitor it in Prometheus. Kruise's CR also needs these things

[2020-06-28 03:18] windnod opened #300 "[feature request] Build ARM/ARM64 images"
**What would you like to be added**:
Provide ARM/ARM64 images.

**Why is this needed**:
Need work on ARM machines.

[2020-06-29 18:11] billonahill opened #301 "[BUG] CloneSet requires dataSource"
**What happened**:
Applied a CloneSet without a dataSource and got this error:
[code]

**What you expected to happen**:
The config is applied.

**How to reproduce it (as minimally and precisely as possible)**:
Apply a CloneSet config that does not include `spec.volumeClaimTemplates.spec.dataSource`.

**Anything else we need to know?**:
Link to slack discussion:
https://kruise-workspace.slack.com/a

[2020-06-29 19:39] reverson commented on #301
We install the CRD from here, which has the dataSource requirement I believe: https://github.com/openkruise/kruise/blob/master/config/crds/apps.kruise.io_clonesets.yaml

Versus the one from here that does not have the CRD: https://github.com/openkruise/kruise/blob/master/charts/kruise/v0.5.0/templates/apps_v1alpha1_cloneset.yaml

[2020-06-30 07:48] lklkxcxc opened #302 "TLS handshake error from worker node IP"
kubectl -n kruise-system  logs -f kruise-controller-manager-0 :

`I0630 07:30:56.525925       1 reflector.go:357] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: Watch close - *v1.ControllerRevision total 0 items received
2020/06/30 07:31:05 http: TLS handshake error from 172.16.55.72:47164: EOF`

why kruise-controller-manager-0 need access work node host ip？

[2020-06-30 08:01] FillZpp commented on #302
@lklkxcxc It is because there is a readinessProbe in kruise-controller-manager pod:

[code]

So kubelet will keep connecting kruise with webhook port 9876.

And when a https server is connected by tcp, it will print log `TLS handshake error`. It is just a warning log.

[2020-06-30 08:03] FillZpp commented on #302
Duplicate of #280

We should add a `/healthz` endpoint for healthchecking.

[2020-07-01 01:53] #302 closed

[2020-07-01 12:04] FillZpp commented on #238
Thanks for the nice suggestion. We have provided [kruise-tools](https://github.com/openkruise/kruise-tools) as a migration tool for users.

[2020-07-01 12:04] #238 closed

[2020-07-02 06:26] zhangxiaoyu-zidif opened #303 "[feature request]How to manage more and more operators? A system of operators is wanted."
**What would you like to be added**:
How to manage more and more operators? A system of operators is wanted.

**Why is this needed**:
* More and more operators are created, we need a system to manage it.
* Operators' rolling update should follow specified security policies.
* Other reasons for Kubernetes cluster stability.

[2020-07-02 11:22] shiyan2016 opened #306 "[BUG] cloneset scale choose pod panic when diff > len(pods)"
**What happened**:
scale choose pod panic when diff > len(pods)

cloneset status:
[code]
panic log:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create an cloneset with replicas=5
2. update the cloneset's pod template and partition to 5
3. scale the clonset to replicas=4

**Anything else we need to know?**:

**Environment**:
- Kruise

[2020-07-02 12:00] FillZpp commented on #306
@shiyan2016 Thanks for reporting this. Could you describe how to reproduce it?

[2020-07-03 23:43] Fei-Guo commented on #301
This seems to be a controller-tools problem. We have filed this issue to track

https://github.com/kubernetes-sigs/controller-tools/issues/457

By the mean time, we may add a temporal script to manually workaround this problem. @FillZpp.

[2020-07-05 14:18] yuchengwu opened #307 "[feature request] support advanced stateuful pod offline"
## What would you like to be added

Support marking advanced stateful pod ordinal offline, a offline pod ordinal serves as a dummy placeholder, advancedstatefulset controller will skip checking the corresponding pod status and the pod will be treated as a condemed pod.

## Why is this needed

Consider the following scenarios:

1. A stateful pod is running on and strongly bound to a node, once the

[2020-07-06 01:24] furykerry commented on #307
advancestateset support setting maxUnavailable to value larger than one, so that rolling upgrade will not stuck on waiting pod, is this suffice in your situation?

[2020-07-06 03:40] yuchengwu commented on #307
thanks for the reminding, yes that's can be an alternative and meet most of our need. Setting Priority Unordered Rolling Update Strategy can also helps to upgrading in an unordered way so the controller won't stuck. I will update the proposal.

[2020-07-06 04:47] shiyan2016 commented on #306
@FillZpp I have update how to reproduce it. In this case, it will panic. And we should discuss another question, when partition > replicas, how many old revision pods should we keep, paritition or replicas? If keep partition, we do not need update the calculateDiffs func. If keep replicas, then we should update the func calulate currentRevDiff  as belows:
[code]

[2020-07-06 08:46] FillZpp commented on #306
@shiyan2016 Get it. I think it is a bug in `calculateDiffs`, not `choosePodsToDelete `. We should keep replicas during partition > replicas and fix the func as you said.

Additional unit tests in `TestCalculateDiffs` could be better:
[code]

[2020-07-06 10:11] shiyan2016 commented on #306
@FillZpp ok, I will submit another PR. And for the choosePodsToDelete func I think it is better to handle like https://github.com/openkruise/kruise/pull/305/files and we can add a warnning log to remind us coming diff > len(pods).

[2020-07-06 10:59] furykerry commented on #307
Can you add a readiness gate to your pod, and make the pod unready by change the readiness gate? To avoid block rolling update process, you may need  increase the maxUnavailable setting accordingly.

In all, I suggest making your own workload CR on top of advance statefulset, and add related fields in the CR

[2020-07-06 11:02] FillZpp commented on #306
@shiyan2016 Great, I have added a comment in #305 . Thanks for your contributing!

[2020-07-06 11:07] shiyan2016 commented on #306
@FillZpp  I submit another PR #309 , maybe you can closed the PR #305 and review the PR #309. Thanks.

[2020-07-06 11:22] #306 closed

[2020-07-06 11:35] FillZpp commented on #301
I have submitted a PR [kubernetes-sigs/controller-tools#460](https://github.com/kubernetes-sigs/controller-tools/pull/460) for controller-tools.

If it can not be released in the short term, I will use a *kruise-fork* controller-tools to fix it for a while.

[2020-07-08 07:51] #301 closed

[2020-07-10 03:19] yeyuguang1 commented on #289
Orgnization/Company: vanyitech
ocation: ShenZhen, China
Contact: 564470785@qq.com
Purpose/Scenario: Using Kruise for managing clonese tapplications, we need local upgrade。Using BroadcastJob to clean images

[2020-07-10 17:12] #175 closed

[2020-07-14 07:53] kong62 opened #312 "donot support kubectl rollout status"
[code]

[2020-07-14 20:50] billonahill commented on #289
Orgnization/Company: Lyft
Location: San Francisco, CA, USA
Contact: reverson@lyft.com
Purpose/Scenario: Using Kruise CloneSets and bin packing for selective downscaling of stateful nodes.

[2020-07-16 04:09] zhangxiaoyu-zidif commented on #303
ping @Fei-Guo @FillZpp

Should we start our thread on operator Platform here ?

[2020-07-16 04:16] zhangxiaoyu-zidif commented on #303
/assign @Fei-Guo  @FillZpp

[2020-07-16 17:13] Fei-Guo commented on #312
I don't think Kubectl can support crd without code change @FillZpp correct me if I am wrong.

[2020-07-16 19:43] reverson opened #313 "[BUG] CloneSet pods not created when PVC is terminating"
**What happened**: The cloneset was scaling, and somehow one of the pods got into a state where it's PVC was being Terminated, while the pod itself was running.  The pod continued to run fine, but all other pods were stuck in a Pending state, and no new pods would get created (even in a Pending state) until the offending one was deleted.

I saw this in the logs
[code]

Before that pod was deleted,

[2020-07-16 23:26] reverson commented on #313
I'm not sure how this happened, but I was able to reproduce this again.

Best I can tell, if you deploy a cloneset, and then immediately scale it down this triggers (so deploy a 10 replica cloneset, and then immediately scale down to 3 replicas). That is the usecase I'm currently running into.

I can add some delay to my scaling logic so that we only scale after a certain time period, but I would

[2020-07-17 00:17] reverson commented on #313
So I was able to just reproduce this by scaling up my cloneset, immediately scale it down, and then I see the following.

The number of pods running in the end is correct (3), but the data in the get cloneset call is wrong. These are the pods scaled down.
[code]
These are the pods the kruise-controller-manager started to delete (or at least the EBS volumes it started to delete).
[code]
So it seems

[2020-07-17 01:07] reverson commented on #313
Now these are the PVCS and their cloneset-instance-ids after waiting a bit.
[code]
And the pods running
[code]
Weirdly the PVCs with the cloneset-instance-id of `t6q4k` that were associated with pods that got deleted ended up getting removed.

[2020-07-17 01:59] reverson commented on #313
Just repro'd this case by scaling my cloneset from 3 to 10 and looking at the pvc instance-id, of the 7 that got created, 1 of them was created with the wrong instance-id.
[code]

[2020-07-17 04:01] Fei-Guo commented on #313
We have identified the root cause. We have not hit cases where a pvc can be stuck in terminating stage (maybe due to some finalizers set by other controllers) before. This case can be optimized and we are preparing a fix.

[2020-07-17 04:12] FillZpp commented on #313
@reverson Sorry for inconveniencing you. It looks like two problems in it:

1. Terminating PVC will block the CloneSet to scale out again.
2. PVCs have wrong instance-id.

For the former one, I have found [where the problem is](https://github.com/openkruise/kruise/blob/master/pkg/controller/cloneset/cloneset_event_handler.go#L262). Currently the `pvcEventHandler` must wait for PVC already deleted

[2020-07-17 17:38] reverson commented on #313
I'm unable to test this in the environment we use (we build and host the image locally), but I tested this locally and wasn't able to reproduce either issue.

Is there a code branch I can use to build and test in our staging environment?

[2020-07-20 03:24] FillZpp commented on #313
@reverson Sure. Could you test it with repo `https://github.com/FillZpp/kruise` and branch `fix-cloneset-blocking-by-terminating-pvc`? If not, I can create a test branch in repo `openkruise/kruise` for you.

[2020-07-20 03:40] FillZpp commented on #312
Yes, this cloud not be done unless we change the code of Kubectl.

[2020-07-20 03:40] #312 closed

[2020-07-20 03:48] swift201905 opened #315 "错误日志"
2020/07/19 14:20:46 http: TLS handshake error from 10.244.0.1:56888: EOF   manager的日志，如何通信的？

[2020-07-20 03:54] FillZpp commented on #315
@swift201905 This is caused by the readinessProbe in kruise-controller-manager pod:

[code]

So kubelet will keep connecting kruise with webhook port 9876.
And when a https server is connected by tcp, it will print log TLS handshake error. It is just a warning log.

Duplicate of #280 , we should add a /healthz endpoint for healthchecking.

[2020-07-20 03:54] #315 closed

[2020-07-20 18:27] reverson commented on #313
If it's possible to set it up with a branch in the openkruise repo that
would be much easier for us to test.

On Sun, Jul 19, 2020 at 8:24 PM Siyu Wang <notifications@github.com> wrote:

[2020-07-21 05:48] shiyan2016 commented on #289
Orgnization/Company: Ctrip
ocation: Beijing, China
Contact: shi_yan@trip.com
Purpose/Scenario: Using CloneSet and AdvanceStatefulSet for manage stateless and stateful apps. We need in place and partial update.

[2020-07-21 05:49] shiyan2016 commented on #286
@FillZpp  How about the v0.5.1 release ?

[2020-07-21 06:04] FillZpp commented on #313
@reverson Done. You could test it with branch `testing-cloneset-blocked-by-terminating-pvc` now :)

[2020-07-21 07:22] shiyan2016 opened #316 "[BUG] CloneSet update not expected"
**What happened**:
Create a cloneset with replicas 1, and updateStrategy as follows:
[code]
doing an update, it will delete and create new pod at the same time.

**What you expected to happen**:
After the newly pod ready，delete the old pod.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version: master
- Kubernetes

[2020-07-21 07:27] shiyan2016 commented on #316
https://github.com/openkruise/kruise/blob/master/pkg/controller/cloneset/update/cloneset_update.go#L145， why we get maxUnavailable value round up? @FillZpp

[2020-07-21 07:27] FillZpp commented on #316
@shiyan2016 Currently the `maxUnavailable` percentage is calculated by rounding up, which means `10%` will be at least 1.

https://github.com/openkruise/kruise/blob/master/pkg/apis/apps/v1alpha1/cloneset_types.go#L92

[2020-07-21 19:40] reverson commented on #313
I've confirmed that I don't see the scaling issue when there are terminating PVCs now.

Should we open another issue for the issue with pvcs getting created with the wrong cloneset id? I attempted to delete a pod manually that would had an incorrect instance-id, but I see the pod gets recreated with the same name, so I can't see if the underlying PVC would also get deleted.

[2020-07-22 11:22] #316 closed

[2020-07-23 17:48] Fei-Guo commented on #313
Yes. I would suggest to open another issue to track incorrect instance-id problem which seems to be irrelevant to the PVC stuck problem.

Thanks

[2020-07-23 19:02] Fei-Guo commented on #300
The ubuntu:lastest image supports arm arch so you may just simply change the docker file to specify the GOARCH to arm when building the image.

[code]
Let us know if this one works as we don't have arm machine to verify at this moment.

Thanks

[2020-07-24 03:01] #313 closed

[2020-07-27 19:19] reverson opened #320 "[BUG] CloneSet PVCs get set with incorrect cloneset-instance-id"
**What happened**: When scaling up a cloneset, the PVCs that are created get the proper name, but the incorrect cloneset-isntance-id

**What you expected to happen**: PVCs get the same name and cloneset-instance-id.

**How to reproduce it (as minimally and precisely as possible)**: In my environment (AWS) scale up the cloneset from 3 to 10 instances and run the following command
`kubectl  get pvc

[2020-07-30 07:58] yangyongzhi7 commented on #289
Orgnization/Company: Dmall
Location: Beijing/ChengDu, China
Contact: yongzhi.yang@dmall.com
Purpose/Scenario: Advance HPA, In-Place Update, Sidecar management, etc.

[2020-08-03 08:17] FillZpp commented on #225
Fixed by #321

[2020-08-03 08:17] #225 closed

[2020-08-05 00:05] ryanzhang-oss commented on #299
Is the Prometheus/Grafana setup up already so all we need to do is to collect the metrics and emit them through Prometheus client?

[2020-08-05 02:19] peacocktrain commented on #299
yes, Implement the metric and teach him out

[2020-08-05 06:13] ryanzhang-oss commented on #299
teach him out?

[2020-08-05 09:58] peacocktrain commented on #299
Translation software error， export them

[2020-08-10 08:45] shiyan2016 commented on #301
@FillZpp It happened when I applied cloneset with pvcs. And when I apply the new crd yaml. The problem still exists. Since I delete and recreate the crd, it repaired. But this will cause the cloneset object deleted.

[2020-08-10 09:04] FillZpp commented on #301
@shiyan2016 You may replace the crd yaml using `kubectl replace` instead of applying it?

[2020-08-11 08:30] peacocktrain commented on #299
@ryanzhang-oss Are you going to start another program like Kube-state-metrics?

[2020-08-11 09:40] peacocktrain opened #329 "[feature request]Sidecar Resource is calculated according to the proportion of POD Resource."
**What would you like to be added**:
SidecarSet，Sidecar Resource is calculated according to the proportion of POD Resource.

**Why is this needed**:
We have some thoughts on the sidecar resource limit.  Business containers consume more resources, so sidecar should also consume more resources than other Pods. so sidecar resource should be set up in two ways，defined and proportional

[2020-08-11 10:15] peacocktrain opened #330 "[feature request]Cloneset under the update strategy of recreate join reserved IP inherited features"
**What would you like to be added**:
In cloneset recreate updated, updated pod can inherit old pod IP.

**Why is this needed**:
Pod wants to keep ip

[2020-08-11 23:19] kenoshi opened #331 "[BUG] failed installation"
**What happened**:

Kruise-manager keeps crashing with

I0811 23:04:49.494039       1 :0] kubebuilder/webhook "level"=0 "msg"="starting the webhook server."
E0811 23:04:49.494207       1 :0] kubebuilder/webhook "msg"="server returns an unexpected error" "error"="open /tmp/cert/cert.pem: no such file or directory"
E0811 23:04:49.494247       1 main.go:124] entrypoint "msg"="unable to run the manage

[2020-08-12 04:00] FillZpp commented on #330
@peacocktrain Kruise has no way to keep pod IP inherited during recreate update, since IP is allocated by your cni plugin.

[2020-08-12 04:00] #330 closed

[2020-08-12 04:08] FillZpp commented on #331
@kenoshi I'm not familiar with spinnaker, so you did not install Kruise with helm?

[2020-08-12 07:11] peacocktrain commented on #330
@FillZpp When cloneset updating, the delete POD'S IP can be recorded, and write to the new POD's annotation . IP allocation is indeed implemented by CNI, but it also needs to be allocated.

[2020-08-12 16:14] lichaojacobs opened #332 "[feature request] configMap should support partition update"
**What would you like to be added**:

configMap which mounted in pod should support partition upgrade when rolling update statefulset.

**Why is this needed**:

when we use k8s configMap to separate config from docker image. we sometimes need upgrade config only instead of image. In this case, we also need partition update pod config just like docker image.

[2020-08-12 20:46] Fei-Guo commented on #329
This sounds to be a reasonable request.  @ryanzhang-oss FYI.

[2020-08-12 22:38] Fei-Guo commented on #332
I am trying to understand the problem. If the configMap name is changed with the new version, the partition based upgrade should just work as usual.  Are you talking about a case where configmap name is not changed but the data values are changed during update?

[2020-08-13 05:49] ryanzhang-oss commented on #329
@peacocktrain  I think this is a reasonable ask. However, I wonder if you can be a bit more specific on the use case? Like exactly what does the sidecar is trying to achieve?

[2020-08-13 07:15] peacocktrain commented on #329
Network sidecars，like  envoy.  Logs sidecars. We give sidecar to all pods，but 4C pod flow is significantly higher than 2C

[2020-08-13 09:34] lichaojacobs commented on #332
Yes, or is there a way that statefulset can support muti-version configMap partition based upgrade？Sometimes we need to define a pod in place upgrade using special configMap

[2020-08-13 18:52] Fei-Guo commented on #332
It seems that the simplest way is to create a new configmap and change configmap name in the Pod template for the new version. Of course, the Pod will be created to use the new version. Directly changing cfgMap content has a few issues, for example, kubelet automatically refreshes the mounted cfgMap for all the Pods that use it. This makes the cfgMap take effect in a partition manner even harder.

[2020-08-13 23:25] ryanzhang-oss commented on #329
What is a 4C pod? Is the sidecar's resource proportional to the total resource of the pod or the "main" container?

[2020-08-14 01:57] ryanzhang-oss commented on #329
@peacocktrain Another question is how do you plan to consolidate the differences between this value proportional to the size of the pod and the `Requests` and `Limits` value set in the sidecar container. Will this value replace them all?

[2020-08-14 02:07] peacocktrain commented on #329
“main” container

[2020-08-14 02:18] peacocktrain commented on #329
In our scenario, limit=request because Sidecar does not change the POD's qos

[2020-08-14 02:20] peacocktrain commented on #329
emmm. 4C is the total requested resource of the pod, This value participates in the schedule

[2020-08-14 02:29] ryanzhang-oss commented on #329
now we have 3/4 values,  you can set the Requests and Limits value set in the sidecar container spec with the additional value proportional to the "main" container. Do you want to void the Requests and Limits value set in the sidecar container spec and use the additional value alone?

[2020-08-14 02:36] peacocktrain commented on #329
`you can set the Requests and Limits value set in the sidecar container spec with the additional value proportional to the "main" container`,That's what I want

[2020-08-14 03:14] ryanzhang-oss commented on #329
so now we have 3 values, how do you want those to consolidate? What exactly does each value mean?

[2020-08-14 03:42] peacocktrain commented on #329
@ryanzhang-oss  What is the 3 values?

[2020-08-14 04:39] ryanzhang-oss commented on #329
1. The proportional value you asked
2. Resource requests in the sidecar container spec
3. Resource limits in the sidecar container spec

[2020-08-14 08:49] peacocktrain commented on #329
If (request or limit is set in sidecarset) it depends on the value.
else If  (can we looking for the container which the largest resource in POD) calculate that and make request=limit
else nil

[2020-08-14 18:15] ryanzhang-oss commented on #329
can you elaborate on what exactly does "depends" mean here?

[2020-08-14 19:38] ryanzhang-oss commented on #299
what do u mean by "another program"? Another container? process? goRoutine?

[2020-08-15 02:49] peacocktrain commented on #329
pod.spec.container[].resources = sidecar.resource

[2020-08-15 02:52] peacocktrain commented on #299
写在kruise里， 还是像Kube-state-metrics一样另写一个项目单独部署？

[2020-08-18 06:18] lichaojacobs commented on #332
Thanks for advice.  we just want configMap partition based upgrade instead of recreating pod for it is too heavy to recreate pod if only config changed.

[2020-08-18 07:29] zeusro opened #337 "[feature request] Operator-manager proposal"
**What would you like to be added**:

![image](https://user-images.githubusercontent.com/5803609/90482892-7e4b4f80-e166-11ea-98ed-6de8ed936d2a.png)

- 选主

选取性能最高的奇数台Node，通过反亲和度部署不同的 manager。

出发点：如果一个节点上有2个manager，它的网络连通性出现问题，会导致整个 kruise 不可用。

- 再选主

如果一个节点的网络连通性出现问题，再失败重连机制不奏效以后，应该把它列入黑名单，重新选一个节点部署manager。

- 退化方案

如果用户kubernetes节点<3，是否应该考虑以副本为1的方式部署，即当前这种方案。

**Why is this needed**:

面向最终一致性和超高

[2020-08-18 07:38] #337 closed

[2020-08-18 08:19] jiyeyuran opened #338 "[BUG] Failed to create kruise-controller-manager-0"
**What happened**:
Failed to create pod. show error message: can't find volume "cert" to mount into container "manager"
**What you expected to happen**:
Pod successfully created.
**How to reproduce it (as minimally and precisely as possible)**:
Deploy kruise on aliyun ask.
**Anything else we need to know?**:
No
**Environment**:
- Kruise version: 0.5
- Kubernetes version (use `kubectl version`):
-

[2020-08-18 08:41] FillZpp commented on #338
@jiyeyuran How did you install kruise? Can you find this secret `kubectl get secret -n kruise-system kruise-webhook-server-secret`

[2020-08-18 21:18] ryanzhang-oss commented on #293
Does `minReadySeconds` apply to the scaleup/down too?

[2020-08-20 06:11] jiyeyuran commented on #338
Install following doc instruction.
[code]
[code]
got empty and no cert information.

The latest version 0.6.0 works.

[2020-08-20 23:08] ryanzhang-oss commented on #329
so here is the semantics

when the proportional value is set, then the sidecar container limit will be the max (limit, proportional value) and the sidecar's request is also set to that value if it's not set.

[2020-08-21 02:56] peacocktrain opened #343 "[feature request]WebhookConfiguration‘s failurePolicy is need to configurable"
**What would you like to be added**:
If sidecarSet is configured incorrectl or kruise is down， All POD creation in the cluster will be stuck.
**Why is this needed**:
when kruise is down，pod still starts. The WebhookConfiguration‘s failurePolicy can be configured to Ignore

[2020-08-21 08:18] lichaojacobs commented on #332
we finally decide to use sidecar in kruise to achieve our goal

[2020-08-24 08:46] #332 closed

[2020-08-24 08:49] lichaojacobs opened #346 "[feature request] sidecar set should support partition-based upgrade"
**What would you like to be added**:
sidecar set should support partition-based upgrade

**Why is this needed**:
when we use sidecar set for managing monitor or config versions , we want sidecar pod upgrade by partition.

[2020-08-24 17:26] #343 closed

[2020-08-25 03:52] FillZpp commented on #338
@jiyeyuran OK, enjoy 0.6.0

[2020-08-25 03:52] #338 closed

[2020-08-25 09:04] hantmac opened #348 "[Question] About the `pause` feature in CloneSet rollout"
![image](https://user-images.githubusercontent.com/7600925/91154946-be757980-e6f4-11ea-996e-c810e50588a1.png)

`不过控制器还是会做 replicas 数量管理`  没有太理解这句话。意思是如果暂停后继续发布的话，控制器依然以暂停前的 replicas 为准吗？

[2020-08-25 09:08] FillZpp commented on #348
@hantmac 不是。paused 语义是控制器暂时不会对存量 Pod 做升级，但是你调整 replicas 数量控制器还是会做扩缩容的。

[2020-08-25 18:33] reverson opened #349 "[BUG] Scaling up Clonesets causes kruise-controller to crash"
**What happened**: Scaled up a cloneset deployment from 10 to 100 pods (and then from 100 to 140 pods) all at once, and the kruise-controller continuously crashed and made only a little progress on each iteration.

**What you expected to happen**: The controller would say up.

**How to reproduce it (as minimally and precisely as possible)**: Scale up a deployment from 10 to 100 (at least in my exp

[2020-08-26 06:46] hantmac commented on #348
那 paused 后再执行扩容，扩容出来的版本是新版本 or 旧版本？如果是新版本，那旧版本怎么办？旧版本什么时候消失（是 paused=false的时候吗？）感觉这里有点不好理解🤔，像是操作之间没有做原子化。

[2020-08-26 09:37] dylandee commented on #348
从源码上看：
scale down的时候，delete的是旧版本
scale up的时候，create的是新版本

`func (c *commonControl) NewVersionedPods(currentCS, updateCS *appsv1alpha1.CloneSet,
	currentRevision, updateRevision string,
	expectedCreations, expectedCurrentCreations int,
	availableIDs []string,
) ([]*v1.Pod, error) {
	var newPods []*v1.Pod
	if expectedCreations <= expectedCurrentCreations {
		newPods = c.newVersionedPods(currentCS, c

[2020-08-26 10:35] hantmac commented on #348
@dylandee Thanks, 理解了。不过我觉得 paused 的时候应该禁止 scale up/down 比较好。paused 的时候要么继续完成新版本发布，要么回退到旧版本，一点拙见。

[2020-08-26 11:59] leeweir commented on #348
感觉这个你要做的话，可以外部系统控制，对于 发布（更新镜像） 和 扩缩 ，本质上就是两个行为。

[2020-08-26 12:16] hantmac commented on #349
@reverson This bug was fixed in release 0.6: Fix scale panic when replicas < partition

[2020-08-26 12:28] hantmac commented on #349
@reverson This bug seems to have been solved in release 0.6.

[2020-08-26 15:34] FillZpp commented on #349
@hantmac No, it looks like a new case. The `concurrent map writes` panic is caused by `vendor/github.com/modern-go/reflect2/unsafe_map.go:76`.

[2020-08-27 04:12] hantmac commented on #349
@FillZpp So we can't create pod concurrently?

[2020-08-27 07:02] likeyao opened #355 "[feature request] UnitedDeployment supports CloneSet"
**What would you like to be added**:
UnitedDeployment supports CloneSet

**Why is this needed**:
运行环境是阿里云ACK集群，接入了ECI。目前通过UnitedDeployment+Advanced StatefulSet让POD按比例分配在ECS/ECI上。新需求需要在已有功能之上实现“指定容器缩容”，所以希望能UnitedDeployment能够支持CloneSet。

[2020-08-27 17:07] Fei-Guo commented on #355
This is in our roadmap. Since you ask for it now, we will bump the priority. This feature will be included in our next release.

[2020-08-27 17:12] Fei-Guo commented on #355
By the way, please try to file PR using english so that more people can understand the ask. Thanks!

[2020-08-28 19:45] reverson commented on #349
So it appears there are 3 threads that may update the state: https://github.com/openkruise/kruise/blob/f7fc13185cc8870d4c4ae090dc24a260d5cb03bc/pkg/controller/cloneset/cloneset_controller.go#L104

I'm not seeing any locking in the code that actually creates the pod, so if they share a map this would certainly cause it:
https://github.com/openkruise/kruise/blob/master/pkg/controller/cloneset/scale/

[2020-08-28 20:28] reverson commented on #349
After looking a bit closer, that might help the issue, but this is related to the PVC creation, which we currently have another issue where the cloneset-instance-id on the PVC gets created with a differently named id than the cloneset that actually uses it.

I was able to capture a panic of the other error we see while scaling, which appears to be a similar issue, but of a concurrent map iteration

[2020-08-29 00:06] reverson commented on #320
This may be related to #349 as it fails also on the PVC creation, but I'm having a hard time finding the connection.

The only place I can see in the code that sets the PVC instance ID is in cloneset_utils.go:GetPersistentVolumeClaims.  I have a commit here that I think may address the issue, but I can't see why the reference to the pod would change out from the function while it's running. https:

[2020-08-30 19:21] wgitg opened #358 "Cannot run kruise locally with remote cluster"
Experimenting with the kruise, so I followed the instruction [here](https://github.com/openkruise/kruise/blob/master/docs/debug/README.md)

When I set the kubeconfig with local deployed cluster such as kind, I can start the controller manager.

**What failed**
When I set the kubeconfig with  remote cluster, I encountered the following error:

[code]
**What I want**
As the instruction says, if I se

[2020-08-31 04:02] hantmac commented on #358
What is your k8s version?
And you need to add params in each Kube-Apiserver instance  --admission-controll validatingAdmissionWebhook
  MutatingAdmissionwebhook.

[2020-08-31 19:36] wgitg commented on #358
Yes, we are running on Kubernetes 1.18, and the instances up already set up with the admission hook.
Right now I am starting to investigate on if the CA bundle is correctly set for the remote cluster...

[2020-09-01 01:20] reverson commented on #320
Odd, even with that commit (which sets the id as a var instead of inspecting it twice) the tag still gets set incorrectly.

[code]

[2020-09-01 02:01] reverson commented on #349
I wonder if in the Create function the Post to the apiserver that updates the object in place writes to the map, though this map does not seem to be written to from another thread, so I'm not sure how there is concurrent map writes.
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/typed_client.go#L47

[2020-09-01 02:05] hantmac commented on #349
@reverson I agree with you,  the Create function request apiserver concurrently and there is concurrent map writes.

[2020-09-01 02:23] reverson commented on #349
I'm also seeing what I think may be similar memory locations being passed to the createPods and createOnePod function in my thread dump.

[code]

[code]
Namely `0xc001ff0000` and `0xc0008167b0`, I thought the `ff0000` would be the reference to the pod, but perhaps I'm not reading the thread dump correctly.

[2020-09-01 02:25] reverson commented on #349
Also, I was pretty easily able to reproduce this with the code in master or in my branch, but once I build the binary with `-race` I was no longer able to reproduce this (so the extra latency of the binary might allow the apiserver to respond before the next map write).

[2020-09-01 06:24] reverson commented on #320
I think I may have identified the cause for this and #349.  The controller-runtime uses a cache for the api connection, which uses a shared api client connection. When all 3 of the default cloneset workers attempt to create a cloneset pvc at the same time, I believe this causes some data corruption within the controller-runtime code.
https://github.com/kubernetes-sigs/controller-runtime/blob/maste

[2020-09-01 08:41] adlerliu commented on #289
Orgnization/公司：佐疆科技
地点：上海，
中国联系人：liudehan_xin@163.com
目的/场景：使用克隆集和预陈述集管理无状态和有状态的应用程序。我们需要就地和部分更新。

[2020-09-01 11:59] FillZpp commented on #286
Already fixed in `v0.6.0`.

[2020-09-01 11:59] #286 closed

[2020-09-01 12:00] FillZpp commented on #280
Already added in `v0.6.0`.

[2020-09-01 12:00] #280 closed

[2020-09-01 18:17] #349 closed

[2020-09-01 19:20] wgitg commented on #358
The other debugging route is: Anybody knows where is the `kruise-mutating-webhook-configuration` registered at the first place, before it is get queried [here](https://github.com/openkruise/kruise/blob/master/pkg/webhook/util/configuration/configuration.go#L40)
Right now the client just complains

[code]

[2020-09-02 09:33] FillZpp commented on #320
@reverson Could you please retest **incorrect instance-id** and **concurrent write panic** with the latest master branch, since we have merged #361 ?

[2020-09-02 21:20] wgitg commented on #358
Closing the issue since somehow sorted out. basically I did the following things if anybody has the problem again:
1. delete everything previously installed in the remote cluster via helm
2. change to use the workstation machine and set the webhook host to the IP.
3. uninstalled minikube and kind previously used for local testing.

[2020-09-03 04:14] reverson commented on #320
Yep, I tested this briefly and did not see the issues during my tests.

On Wed, Sep 2, 2020 at 2:34 AM Siyu Wang <notifications@github.com> wrote:

[2020-09-03 06:38] FillZpp commented on #320
Cool. So this issue can be closed.

[2020-09-03 06:38] #320 closed

[2020-09-04 10:34] chestarss opened #364 "默认创建的sidecarset只支持注入default namespace下的，如何配置支持其他namespace"

[2020-09-04 17:38] #298 closed

[2020-09-04 17:46] Fei-Guo commented on #364
SidecarSet is cluster scoped crd. It mutates Pods in all namespaces besides kube-system and kube-public.

Check this for details
https://github.com/openkruise/kruise/blob/1bc2c39a5633b05d5492d4431ec8dd5bd89259c0/pkg/webhook/pod/mutating/pod_create_handler.go#L60

[2020-09-07 01:42] #364 closed

[2020-09-07 01:46] chestarss opened #365 "[BUG] sidecarset 原地升级not working"
**What happened**:
when i change sidecarset container image, it dose not upgrade sidecar container to new version image.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:  v0.6.0
- Kubernetes version (use `kubectl version`): v1.18.3+2cf11e2
- OS (e.g: `cat /etc/os-release`):

[2020-09-07 01:52] chestarss commented on #365
sorry, i found this in log
sidecarset_controller.go:115] begin to process sidecarset test-sidecarset
I0907 01:41:43.101338       1 sidecarset_controller.go:178] current unavailable pod number: 2(max: 2), skip update

when i change maxUnavailable , it works

[2020-09-07 01:52] #365 closed

[2020-09-07 02:40] #348 closed

[2020-09-07 12:48] andrewshaoyu opened #366 "[feature request] use sidecarset to replace istio webhook inject"
**What would you like to be added**:
1. use sidecarset inject initContainers

**Why is this needed**:
1. use sidecarset to replace istio webhook totally.
1. initContainers do not need inplace update
1. if mutiple sidecarsets inject mutiple initContainers in a pod , there is a simple solution that initContainers can be sorted by their name and inserted into the suitable position, the initContainer

[2020-09-08 05:48] Shareed2k commented on #289
Orgnization/Company: Bringg
Location: Tel-Aviv, Israel
Contact: roman@bringg.com
Purpose/Scenario: Advanced DaemonSet, to solve load balancer connection to api gateway running with deamonset

[2020-09-08 06:07] Shareed2k opened #367 "[BUG] advanced daemondset after update of container image in daemondset still running with old image"
**What happened**:
Hi, i have a question i'm trying to play with advanced daemondset surging methodology, but when i'm trying to do rolling restart i see pods that was created with kruise-controller-manager is still using old docker image, how can i update also this pods?

**What you expected to happen**:
bring all pods to same version

**How to reproduce it (as minimally and precisely as possible

[2020-09-08 06:38] FillZpp commented on #367
@Shareed2k Hi, I'm trying to understand your description. What do you mean `do rolling restart`, deleting pods directly or leting pods updated by kruise-controller-manager?

To update each pod on node with `Suring` type, kruise will firstly create a new pod on the node. when the new pod reaches running and ready, kruise will then delete the old one. And `maxSurge=1` means kruise will do this updat

[2020-09-08 09:05] Shareed2k commented on #367
nm my bad i removed old helm release and installed again now it work, can i do rollout restart to daemonset.apps.kruise.io like to default daemonset ?
[code]

[2020-09-08 11:08] FillZpp commented on #367
@Shareed2k oh, `kubectl rollout` could only handle those built-in resources, it can not recognize custom resources like daemonset.apps.kruise.io

[2020-09-08 11:45] Shareed2k commented on #367
hmm only with patch
[code]

[2020-09-09 02:49] chacha923 commented on #289
Orgnization/Company: xiaohongshu
Location: ShangHai, China
Contact: wenyi@xiaohongshu.com
Purpose/Scenario: Using CloneSet and BroadcastJob for manage stateless apps and async job.

[2020-09-09 04:16] FillZpp commented on #367
@Shareed2k Yes, or you can update it with go client. https://openkruise.io/en-us/docs/go_client.html

[2020-09-09 07:47] #367 closed

[2020-09-09 07:51] sunnoy opened #368 "[BUG]官方文档例子没有注入容器"
**Environment**:
- Kruise version: 0.6.0
- Kubernetes version (use `kubectl version`): 1.18.3

https://openkruise.io/en-us/docs/sidecarset.html 这个文档跟着走没有注入容器

[2020-09-09 07:54] sunnoy commented on #368
kruise-system ns不监听么

[2020-09-09 08:09] FillZpp commented on #368
@sunnoy Yes, SidecarSet injection will ignore namespaces with `control-plane: controller-manager` label to avoid circular dependency, including `kruise-system`.

[2020-09-09 11:00] sunnoy commented on #368
ok

[2020-09-09 11:00] #368 closed

[2020-09-09 18:02] kfox1111 commented on #303
https://github.com/operator-framework/operator-lifecycle-manager

Its now a cncf incubating project

[2020-09-10 06:46] shiyan2016 opened #369 "[BUG] cloneset inplace update hang"
**What happened**:
Create a cloneset with replicas: 4, maxUnavailable: 10%, Type: InplaceOnly . And then update the cloneset's image. The cloneset hang after restart one pod. And I did not seen any errors in the kruise controller.
[code]

And the restarted pod sample-hvbxx status:
[code]

**What you expected to happen**:
Inplace update all pod.

**How to reproduce it (as minimally and precisely as

[2020-09-10 20:55] wgitg opened #370 "no kind "CloneSet" is registered for version "apps.kruise.io/v1alpha1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28""
I used `CloneSet` to deploy my service. However, when I try to get rollout status or history, I will get the following error message

[code]

I am expecting the roll out history will be the same feature as for Deployment?

[2020-09-10 20:57] Fei-Guo commented on #370
Are you using Kubectl?  Kubectl cannot support CRD without code changes.

[2020-09-10 21:06] wgitg commented on #370
Thanks for the reply. Yes. I am using `kubectl`.

So how can we view deployment history using `Cloneset`?

If needed to implement on our own, any idea where to do it? Only in kubectl?

[2020-09-10 21:16] Fei-Guo commented on #370
cloneset controller essentially create controllerrevisions API objects.
Try `k get controllerrevisions -n kruise-system`

[2020-09-11 07:50] shiyan2016 commented on #369
In my case, the images are different tag but the same image. Then cloneset inplace check inplace update not update success since the imageid is the same. @FillZpp

[2020-09-11 18:10] wgitg commented on #370
Th

[2020-09-11 18:10] #370 closed

[2020-09-11 21:18] #358 closed

[2020-09-13 12:57] huzhengchuan opened #372 "[BUG]sidecar pod webhook SidecarIgnoredNamespaces not work"
**What happened**:
use the sidecar controller of openkruise with k8s 1.18.5, pod webhook ignore kube-system namespaces pod inject, but not work.

https://github.com/openkruise/kruise/blob/1bc2c39a5633b05d5492d4431ec8dd5bd89259c0/pkg/webhook/pod/mutating/pod_create_handler.go#L171

	will decode pod, but found the debug log print like this, cannot get pod.name and pod.namespace.
I0913 19:40:44.68565

[2020-09-14 02:42] furykerry commented on #372
According to "after mutating" log entry, the sidecar container is injected as expected since pod is not within namespace kube-system or kube-public. The log entry of "begin to process" do have some problem since the pod use generated name.

[2020-09-14 11:10] huzhengchuan commented on #372
<pre>
func (h *PodCreateHandler) sidecarsetMutatingPod(ctx context.Context, pod *corev1.Pod) error {
	for _, namespace := range SidecarIgnoredNamespaces {
		if pod.Namespace == namespace {
			return nil
		}
	}

	klog.V(3).Infof("[sidecar inject] begin to process %s/%s", pod.Namespace, pod.Name)

	sidecarSets := &appsv1alpha1.SidecarSetList{}
	if err := h.Client.List(ctx, sidecarSets); err != nil {

[2020-09-15 11:41] cuishuaigit commented on #278
thanks a lot @FillZpp v1.18 work for me

[2020-09-15 11:41] #278 closed

[2020-09-15 18:25] wgitg opened #373 "[BUG] CloneSet clientset API Create method changes the cloneset object to create"
I have a Foo CRD and controller, the controller is creating a cloneset object based on what's specified in a Foo object.
The foo controller is using code-generator's clientset, lister and informer.
I use openkruise/kruise, where there are generated lister/clientset/informers as well, see the import packages I used.
[code]
I used the those packages to do `syncHandler` similarly as
sample-[controlle

[2020-09-15 18:41] Fei-Guo commented on #372
@huzhengchuan Is this a 1.18 specific problem? Most of our tests are done in 1.16.  Have you verified if 1.16 works in your environment? This can help us narrow down the problem.

[2020-09-15 18:57] Fei-Guo commented on #373
Please try call  cloneSetClientset.AppsV1alpha1().CloneSets(lideployment.Namespace).Get() method to see if you can get the created object correctly.

The clientset APIs are generated by client-go tool, so the returned value of Create() call is determined by how APIServer handles the POST API call (there may be behavior mismatch there).

Usually, we don't use the return value of Create API directly

[2020-09-15 20:05] wgitg commented on #373
`cloneSetClientset.AppsV1alpha1().CloneSets(foo.Namespace).Get(fooCloneSet, metav1.GetOptions{})` works, Thanks @Fei-Guo

I think it is very possible. FYI, my original foo controller is with kubernetes v0.18.6. (including api-server, api, etc).
the `code-generator` is on v18.6 too.

But then when I compiled with openkruise/kruise, it seems the modules need to be pined to v0.16.6. So does the code-

[2020-09-15 20:20] Fei-Guo commented on #373
I believe this is going to be part of the work of upgrading Kruise to support 1.18 dependency, which we hope to finish in Q4 this year.

[2020-09-15 20:28] wgitg commented on #373
Awesome! Thanks for the information!  Closing the ticket.

[2020-09-15 20:28] #373 closed

[2020-09-16 21:42] shamil opened #374 "[BUG] MutatingWebhookConfiguration gets resets after re-applying helm chart"
**What happened**:

As far as I understand (by reading the code), once helm release deployed, it creates `MutatingWebhookConfiguration` configuration which automatically converted to `template` (in annotations) by the `kruise-controller-manager`. Which means the original `MutatingWebhookConfiguration` created by helm chart is no longer present.

If I run `helm upgrade`, the `MutatingWebhookConfigu

[2020-09-17 09:01] wgitg opened #375 "[BUG]kubectl edit/apply changes on sidecarset isn't updating the injected containers in deployment"
I see the sidecarset containers are appended to the pod container lists in creation time. However, I am trying to figure out how come the sidecar container image field is changed is not causing the deployment to recreate. After all, the containers injected into the deployment pod is just another container for the deployment pod. So according to the official doc that Deployment pod will be updated

[2020-09-17 09:11] FillZpp commented on #375
@wgitg It might be caused by the changing of `imagePullPolicy`, which has different default value between latest and no-latest images.

Could you retest it using images without `latest`, such as update the sidecar from `centos:6.7` to `centos:6.8`?

[2020-09-18 09:22] shiyan2016 opened #376 "[BUG] CloneSet not work correctly"
**What happened**:
Create an clone with replicas 1 maxSurge 50% maxUnavailable 10%. After that we had one pod named: `sample-89hnf`.
 And do some update, for any reason which make the new revision pod (named: `sample-8qbjl`) stuck pending. Then rollback the clone. It will kill the pod `sample-89hnf`, and recreate an new pod. This will cause service unavailable.

**What you expected to happen**:
Ju

[2020-09-20 00:32] #376 closed

[2020-09-21 06:19] #369 closed

[2020-09-21 09:49] a1135656335 commented on #289
Orgnization/公司：享住智慧
地点：成都
中国联系人：1135656335@qq.com
目的/场景：使用克隆集和预陈述集管理有状态的应用程序。

[2020-09-21 19:55] shamil commented on #374
@FillZpp any input? do you need any more information about this issue?

[2020-09-22 05:55] FillZpp commented on #374
@shamil Sorry for replying late. I understand your situation, but can you describe why you should run `helm upgrade` for the same chart?

In our design, if `helm upgrade` a new chart, the whole `MutatingWebhookConfiguration` will be reset. And when the new `kruise-controller-manager` starts, it will update the `MutatingWebhookConfiguration` again.

Also, we can not define the  `MutatingWebhookConf

[2020-09-22 08:37] shamil commented on #374
Hi @FillZpp

I will want to run `helm upgrade` when I change the values, for example once  I decided that I want or enable or disable specific controllers using `manager.custom_resource_enable` value.

The design you have in place can lead to problem which will cause kruise to stop working and potentially also affect all other operations in the cluster, since `MutatingWebhookConfiguration` has som

[2020-09-24 08:29] xieyanker opened #379 "[BUG]The openkruise's website docs should update Kruise-manager from statefulset to deployment"
**What happened**:

In the openkruise version v0.6.0, the Kruise-manager component has been updated from statefulset to deployment, and the service `kruise-controller-manager-service` also has been removed, we should update the document synchronously.

https://openkruise.io/zh-cn/docs/components.html
https://openkruise.io/en-us/docs/components.html

**What you expected to happen**:

**How to repro

[2020-09-24 08:52] #379 closed

[2020-10-01 07:39] #374 closed

[2020-10-04 04:13] PualrDwade opened #389 "support sidecar sequential start"
**What would you like to be added**:

sidecarSet workload should support user-defined startup sequence

**Why is this needed**:

sometimes we should ensure that certain agent containers start before business containers, then we need defined the startup sequence

[2020-10-04 05:14] Fei-Guo commented on #389
FYI, for normal containers, the start up order is random.

Quoted from Tim Hockin:
"In short, no. We have 2 stages for now - init and "normal". The issues around sequencing get really hard in the face of restarts and crashes."

If you want to ensure the order, you have to do it in the application layer.

[2020-10-08 00:39] sourcedelica opened #392 "[BUG] In kubelet log: Kubelet is trying to update pod condition "InPlaceUpdateReady" for pod xxx. But it is not owned by kubelet."
**What happened**:
In syslog, I noticed these messages for all of the pods in the demo Guestbook cloneset.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Install guestbook demo using instructions at https://github.com/openkruise/kruise/blob/master/docs/tutorial/cloneset.md

**Environment**:
- Kruise version: openkruise/kruise-manager:v0.6.0
- Kubernetes version (use `kub

[2020-10-09 02:28] FillZpp commented on #392
@sourcedelica This is just a useless warning printed by Kubelet, you can ignore it.

The earlier k8s did not support customize conditions, so Kubelet added this log. But for k8s >= 1.12, it supports Pod readinessGates which allows users to add customize conditions, but the warning log has not removed yet.

[2020-10-09 02:28] #392 closed

[2020-10-09 15:32] sourcedelica commented on #392
The problem is that it logs once a minute.  It sounds like you are saying this is a bug in the Kubelet and I should log the bug there?  I checked https://github.com/kubernetes/kubernetes/issues and there are no issues matching this one which is a surprise.

[2020-10-09 20:00] AdheipSingh opened #394 "[feature request]Mount ConfigMaps in Clonset ?"
**What would you like to be added**:
- as per the api spec for clonset, i dont see volumeMounts, is it possible to add volumeMounts and volumes so that we can mount configmaps to cloneset ?

**Why is this needed**:
- to mount configmaps to clonset

[2020-10-09 20:10] AdheipSingh commented on #394
sorry missed the podtemplatespec

[2020-10-09 20:10] #394 closed

[2020-10-10 07:30] #389 closed

[2020-10-10 07:30] PualrDwade commented on #389
close

[2020-10-12 08:42] huzhengchuan commented on #372
set  namespaceSelector in ValidatingWebhookConfiguration  to ignore namespace.

[2020-10-12 08:42] #372 closed

[2020-10-13 08:18] #366 closed

[2020-10-15 22:26] lowkeyliesmyth opened #406 "[BUG] Dockerfile should pin specific ubuntu version"
**What happened**:

Get released kruise-manager image: `docker pull openkruise/kruise-manager:v0.6.1`
Check underlying OS release:
[code]

**What you expected to happen**:
Latest ubuntu LTS release 20.04 would be used since the Dockerfile references `FROM ubuntu:latest`. Instead, version 18.04.4 is used.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2020-10-16 03:30] FillZpp commented on #406
@lowkeyliesmyth emm... this might be caused by the cached image on my vm. I used `--no-cache` option for `docker build` each time, but it seems no effect on the base image.

[2020-10-17 01:02] #406 closed

[2020-10-20 19:07] rishi-anand commented on #47
Is there any way, I can run BroadcastJob as cron job @FillZpp, @jian-he , @xiang90

[2020-10-22 12:26] rishi-anand opened #409 "[BUG] Container Spec with securityContext as privileged is not working"
**What happened**:
Container Spec with securityContext as privileged is not working. I have tried BroadcastJob and it was failing with below error msg.
[code]
However, it works with native Deployment, DaemonSet.

**What you expected to happen**:
I should be able to create BroadcastJob with securityContext as privileged.

**How to reproduce it (as minimally and precisely as possible)**:
Apply below

[2020-10-22 20:03] maxking opened #410 "[BUG] Increasing the partition in CloneSet has no effect"
**What happened**:
In a given CloneSet resource, if decrease the number of partitions by 1, one of the Pod running previous version if killed and the new one is created. However, the process does not go in reverse if I decrease the partition by 1. There is no effect of increasing the partition actually.

**What you expected to happen**:
It should be possible to scale down new version and slowly in

[2020-10-22 20:33] Fei-Guo commented on #410
I believe Cloneset somehow wants to be consistent with upstream statefulset behavior of handling partition increase: the controller will not recreate the Pods with old version but if the Pods with ordinals that are smaller than partition are deleted, they are recreated using the old version.

I don't see a strong use case of implementing reverting some Pods to old version when partition increases

[2020-10-22 21:20] maxking commented on #410
I guess the explanation for the behavior is reasonable. However, the issue is that Kruise accepts the change and applies to the resource but doesn't take an action. This makes the view of the object in-consistent where I see that Partition value is 4 but there are 2 old versions running instead of 4.

Then, when you bump the version of the image, you end up in a very weird situation where you have

[2020-10-22 21:34] maxking opened #411 "[feature request] Provide a way to view a CloneSet's complete state"
**What would you like to be added**:
When using CloneSet along with `partition` to canary new versions, CloneSet splits the Pods into running two different Pod specs. While the latest (canary version for us) is easily viewable via `kubectl describe cloneset`, there doesn't seem to be a way in the documentation to view the Pod spec of the rest of the Pods.

It is only visible that `partition` numbe

[2020-10-22 22:07] maxking opened #412 "[BUG] Better document the behavior of partition feature in CloneSet"
**What happened**:
This is more of question and perhaps request to refine the docs than a bug report.

The documentation of `partition` in docs currently state:

However, it is un-clear what it considers as the "old revisions". For example:

I start with this spec:
[code]

Then I update the partition to 2 and bump the image version:
[code]
It updates the revision hash to a new value:
[code]
At thi

[2020-10-22 22:13] Fei-Guo commented on #410
I understand your concern. I think your experiments are more easily understandable if partition defines the number of Pods with new version. However, if partition is defined that way, it creates other problems such as every cloneset version update requires changing the partition as well even if canary release is not needed. Also, if cloneset needs to be scaled up while doing upgrade, the field `re

[2020-10-22 22:20] maxking opened #413 "[feature request] Provide a way to filter Pods running the Canary version when using partition in CloneSet"
**What would you like to be added**:
Partition feature in CloneSet is really useful to run Canary versions of the applications. However, there is no easy way to filter the Pods that have been updated to the Canary version and the ones running the "old versions" so that we can run tests and analyses against the Canary version.

While if you really want to do it, you could get the current `Update Re

[2020-10-22 22:35] maxking commented on #410
Well, I understand that part of the doc that it specifies the total number of old pods. I think your point about the ordinal of the Pod makes absolute sense from an implementation standpoint too.

Perhaps, `partition` is working as designed and this isn't really a bug. My previous understanding was that `partition` splits the Pods in only two versions.

However, from a declarative system like Kube

[2020-10-22 23:57] Fei-Guo commented on #412
Let us continue this topic in #410.

[2020-10-22 23:57] #412 closed

[2020-10-23 00:10] Fei-Guo commented on #410
I think #411 and #413 are valid requests to better present the partition behavior as people use cloneSet.  You are correct that cloneset was initially designed to be a replacement of deployment. The concept of partition was missing in deployment and it is more difficult to explain since cloneset does not persist ordinal index in Pod.

Besides #411 and #413, we can leverage this issue to improve do

[2020-10-23 06:26] FillZpp commented on #410
Actually, workloads like CloneSet, usually they can only update Pods with the latest template defined in their spec.

For example, a CloneSet with `replicas=10`, the original revision is `v1`. First you set `partition=5` and update to revision `v2`, then you set `partition=8` and update to revision `v3`. At this moment, all Pods might stay 5 * v1, 3 * v2, 2 * v3 (also there are other conditions).

[2020-10-23 06:47] rishi-anand commented on #409
Tried to add below securityContext in deployment for kruise-controller-manager. But that didn't helped.
[code]

[2020-10-23 07:31] Fei-Guo commented on #409
you may put
	capabilities.Initialize(capabilities.Capabilities{
		AllowPrivileged: true,
	})
in main.go and rebuild the kruise-manager.

[2020-10-23 07:53] rishi-anand commented on #409
@Fei-Guo, Yup, I think that will solve my problem as of now. Should we initialize this in code and let user deploy BroadcastJob with security privilege. By the way, I have modified `kruise-manager-role` to access `podSecurityPolicy` and my use-case should work now.

[code]

Thanks a lot @Fei-Guo 👍

[2020-10-23 17:08] #409 closed

[2020-10-23 17:18] maxking commented on #410
Fei-Guo commented:

Sure, I can take stab at clarifying the current behavior of partition in the docs. I'll open a PR.

 FillZpp commented:

Is this because of the current implementation or some sort of limitation that cannot be changed? I see that when a Pod running old revision dies they are spinned off with the same revision. Could we not do the same when partition is increased?

Not knowing wh

[2020-10-23 17:22] maxking opened #415 "[feature request] Document ControllerRevisions resource"
**What would you like to be added**:
Document the ControllerRevisions resource in OpenKruise docs.

**Why is this needed**:
This is partially related to https://github.com/openkruise/kruise/issues/411, but I was looking for something which can tell me the Specs of Pods running older revisions when I am using the partition feature. Thanks to @FillZpp's [comment](https://github.com/openkruise/kruise

[2020-10-23 17:28] maxking commented on #411
An additional change that would be awesome is to label Pods with the numerical revision number along with the controller-revision hash for a human to make sense about the logical "generations" of the Pod specs. You can already see the "Generation" as a numerical value in the CloneSet spec & ControllerRevision resoruce, we could re-use those numbers and label the Pods.

[2020-10-23 18:32] rishi-anand commented on #215
@FillZpp, @Fei-Guo, If `BroadcastCronJob` is in the plan and if no one is working on it then I would like to implement it.

[2020-10-23 20:00] maxking commented on #410
How is the ordinal of a Pod derived in CloneSet? It isn't explicitly part of the Pod name like it is in StatefulSets.

[2020-10-23 20:04] Fei-Guo commented on #215
Hi, Rishi,

You are very welcome to contribute for this feature. From high level perspective, this can be done by either simply enhancing upstream CronJob to support BroadcastJob spec in addition to JobSpec or adding Cron capability directly in BroadcastJob.

I personally feel the formal is a cleaner solution but I understand the downside of introducing one more CRD.  If we do the latter, the cont

[2020-10-23 23:06] Fei-Guo commented on #410
There is no ordinal index for CloneSet Pods so partition only means the number, not the "position".  Your proposal may help view the big picture of canary release but I'd reluctant to change `partition` API since it is a widely adopted API already and it is simple to use in most of known use cases.

Also, I don't think maintain multiple revisions in one controller is a good idea. Concept-wise, the

[2020-10-24 05:00] rishi-anand commented on #215
Yes @Fei-Guo, I feel having BroadcastCronJob just like k8s cron job would be better solution. I have generated all boilerplate codes for BroadcastCronJob resource and controller. I will create a PR for initial review.

Yes, I will create proposal docs.

[2020-10-28 07:16] shiyan2016 opened #418 "[BUG] inplace rollback not expected when spec image no latest tag"
**What happened**:
Create a cloneset with container image: nginx, gracePeriod: 30s, and update the image to nginx:stable. During the gracePeriod, rollback the cloneset with image: nginx. The cloneset pod will always in StartInPlace condition.
**What you expected to happen**:
After the gracePeriod，update the pod and make readnessGate condition to true.

**How to reproduce it (as minimally and preci

[2020-10-28 12:09] #418 closed

[2020-11-01 04:17] rishi-anand commented on #215
Added proposal https://github.com/openkruise/kruise/pull/427

[2020-11-10 06:44] ppmsgit commented on #289
Orgnization/Company: bixin
Location: ShangHai, China
Contact: zhangjunjie@bixin.cn
Purpose/Scenario: Using CloneSet and BroadcastJob for manage stateless apps and async job.

[2020-11-11 08:15] jetmuffin opened #443 "[BUG] DaemonsetController didn't delete pod after drained node from cluster"
**What happened**:

We meet a scenario that when we are draining some nodes from cluster and in the meantime daemonset controller creates some pods to these nodes, all created pods becomes pending since its nodeAffinity cannot be satisfied.

![image](https://user-images.githubusercontent.com/4486005/98785491-a2ea5700-2437-11eb-8dc6-87a4099f11e9.png)

Also, daemonset controller does not remove thes

[2020-11-13 07:44] takakawa commented on #375
Same Problem:

- Kubernetes version: v1.19.3

- kruise-0.6.0

- 5.9.7-1.el7.elrepo.x86_64

- centos7

[2020-11-14 09:04] danche commented on #307
------

Do you have some examples for CR on top of advance statefulset?

[2020-11-16 03:48] devincd commented on #289
Orgnization/Cmpany: VIPKID
Location: Beijing, China
Contact: caodi@vipkid.com.cn
Purpose/Scenario: Using BroadcastJob for managing clusters

[2020-11-17 05:09] #443 closed

[2020-11-18 03:25] fatedier opened #451 "[feature request] Selective Pod deletion satisfies the rule of MaxUnavailable and MaxSurge"
**What would you like to be added**:
If `maxSurge = 1, maxUnavailable = 0, specified-delete = 1`,  create a new pod first and then delete the specified-delete pod.

If `maxSurge = 0, maxUnavailable = 1, specified-delete = 2`, delete pod  one by one.

**Why is this needed**:
We'd better not break the rule of MaxUavailable and MaxSurge if we can.

[2020-11-18 07:58] hantmac opened #453 "[BUG] Internal error occurred: failed calling webhook mcloneset.kb.io"
**What happened**:

When create or update cloneSet I got the error
'error="Internal error occurred: failed calling webhook \"mcloneset.kb.io\": Post https://kruise-webhook-service.kruise-system.svc:443/mutate-apps-kruise-io-v1alpha1-cloneset?timeout=30s: x509: certificate signed by unknown authority (possibly because of \"crypto/rsa: verification error\" while trying to verify candidate authority

[2020-11-18 08:03] hantmac commented on #289
Orgnization/Company: zhangmen
Location: ShangHai, China
Contact: shanjie.han@zhangmen.com
Purpose/Scenario: Using CloneSet and AdvanceStatefulSet to deploy app on production env. We need in place and partial update.

[2020-11-18 12:05] hellolijj opened #454 "[feature request] CloneSet Partition support `intstr.IntOrString` format"
**What would you like to be added**:

change cloneset spec partition format from `*int32` to `*intstr.IntOrString`

**Why is this needed**:
sometimes, we want to set partition percentage not number.

[2020-11-18 12:06] hellolijj commented on #451
/assign

[2020-11-18 12:08] hellolijj commented on #454
/assign

[2020-11-19 07:41] brianzhangrong commented on #289
Orgnization/Company: ihomefnt
Location: NanJing, China
Contact: 693404752@qq.com
Purpose/Scenario: Using sidecarset to inject container .

[2020-11-21 07:31] #47 closed

[2020-11-22 03:30] alandtsang commented on #453
I am stuck with the same problem

[2020-11-23 03:02] FillZpp commented on #453
@hantmac @alandtsang Can you describe how to reproduce it? Install kruise in a new Kubernetes cluster, or upgrade kruise from a historic version?

[2020-11-23 07:13] rishi-anand commented on #47
@yehaifeng, @jian-he, @xiang90
I have submitted a proposal for AdvancedCronJob which can be used for any cron type resource.
https://github.com/openkruise/kruise/blob/master/docs/proposals/20201024-advancedcronjob.md

[2020-11-23 08:43] 27149chen commented on #453
@FillZpp I'm the colleague of @hantmac who encountered this issue.
In fact, I don't know how to reproduce it, because it is not 100% reproducible. I just met this issue twice, one create and one patch.
If you want to dig into it, I can provide the logs or other info.

[2020-11-23 13:13] alandtsang commented on #453
@FillZpp Thanks for the reply, it cannot be reproduced stably. When yaml is deployed multiple times, the content of caBundle in ValidatingWebhookConfiguration will sometimes be empty.

[2020-11-24 02:33] FillZpp commented on #453
This reminds me... Do you have some components that will deploy the kruise chart repeatedly? @alandtsang @27149chen
This will lead to the `MutatingWebhookConfiguration/ValidatingWebhookConfiguration` to be reset and kruise-manager will add the real caBundle into them again.

[2020-11-24 06:28] LeoWenxiang commented on #453
you can reproduced it as follow:
(1)  helm template kruise https://github.com/openkruise/kruise/releases/download/v0.6.1/kruise-chart.tgz > kruise.yaml
(2) kubectl apply -f kruise.yaml
(3) kubectl apply -f kruise.yaml
(4) kubectl get  mutatingwebhookconfigurations kruise-mutating-webhook-configuration -oyaml |grep caBun
      {"apiVersion":"admissionregistration.k8s.io/v1beta1","kind":"MutatingWeb

[2020-11-24 06:29] LeoWenxiang commented on #453
@FillZpp

[2020-11-24 09:54] FillZpp commented on #453
@LeoWenxiang The MutatingWebhookConfiguration/ValidatingWebhookConfiguration yamls in chart do have empty caBundles, and kruise-controller-manager will add real certs into them when started.

[2020-11-25 07:42] cvvz commented on #307
I think this proposal was implemented in this [advanced-statefulset](https://github.com/pingcap/advanced-statefulset), which is used in [tidb-operator](https://github.com/pingcap/tidb-operator). I think it won't be too complicated to implement this feature, I'd like to take this if could.

[2020-11-25 11:53] 27149chen commented on #453
@FillZpp , I just installed kruise once.
I met this issue several times today when trying to update a cloneSet. please guide me how to dig into it, thanks.
Also, please tell me how to get rid of it if you know.

[2020-11-26 02:05] #454 closed

[2020-11-26 10:21] peacocktrain opened #463 "[BUG]The status of Cloneset is inconsistent with the true state of POD"
**What happened**:
In-place upgrade One POD Image was not updated after the real upgrade was completed
ps： inplace gracePeriodSeconds == 3s
**cloneset**
![image](https://user-images.githubusercontent.com/15363932/100338465-93603600-3013-11eb-8812-2bdf99b05b78.png)
**pod**
![image](https://user-images.githubusercontent.com/15363932/100338515-a541d900-3013-11eb-9daf-a5294f90d2dd.png)
![image](https:

[2020-11-27 10:08] yanruogu opened #464 "[BUG]OpenKruise的Advanced StatefulSet无法传递startupProbe"
**What happened**:

我们在1.16的集群上使用Advanced StatefulSet功能时，发现sts.apps.kruise.io资源上有了startupProbe，但其创建的pod中并没有该spec，从而导致在sts.apps.kruise.io资源中，startupProbe功能不可用

openkruise使用的是0.6.1版本

**What you expected to happen**:

期望startupProbe功能可正常使用

**How to reproduce it (as minimally and precisely as possible)**:

在集群上开启了startupProbe的featuregates:

kube-apiserver：
[code]
kubelet:
[code]

创建一个应用示例如下：

[code]

[2020-11-27 11:55] #464 closed

[2020-11-27 11:55] yanruogu commented on #464
三个master，有个master配漏了featuregate，问题可忽略

[2020-11-27 21:34] Daxcor69 opened #465 "BroadcastJob won't execute command."
I am trying to create a job, that when a node is created, I can copy application files from a nfs share to the node/host.  Here my yaml.

[code]
When I look at the logs I get ``` cp: can't stat '/mnt/core/*': No such file or directory```

If I run the pod and run sleep. I exec into the pod and run the same command manually it works just fine.  What am I doing wrong?  It just doesn't make sense why

[2020-11-28 14:57] Daxcor69 commented on #465
This was a timing issue, the nfs mount was not ready for the copy command.

[2020-11-28 14:57] #465 closed

[2020-11-29 09:00] hellolijj opened #466 "[feature request] add e2e test config"
**What would you like to be added**:

add e2e test config in ci/cd

**Why is this needed**:

For more reliable code, we should add e2e test `ci/cd`  to check every submitted `pr`

[2020-11-29 09:00] hellolijj commented on #466
/assign

[2020-11-30 02:13] 27149chen opened #467 "[QUESTION] How to rollback a CloneSet"
I find that CloneSet use ControllerRevision like StatefulSet and DaemonSet, is there a way to easily rollback a cloneSet?
Kubernetes don't have a specific API, instead, `kubectl rollout` implements it by combining several Kubernetes APIs. But it is not extendable, so I wonder how to easily rollback a cloneSet?

[2020-11-30 09:21] 27149chen commented on #413
+1 for this feature
It is really helpful if an app in pod is  aware of it (in a canary stage / is a new pod during uprgade), so that we can use different policy to run this app, for example, do not accept traffic by default

[2020-12-01 00:43] cerebrate commented on #300
I have this working fine on ARM, but I would like to extend the feature request slightly. I have a multiple architecture cluster incorporating both amd64 and arm nodes, so I would particularly appreciate it if OpenKruise came with a multi-arch image.

My current method of building these for my cluster uses `docker buildx`, which I believe is still technically experimental. Given that, would you be

[2020-12-01 01:41] Fei-Guo commented on #300
Are you suggesting to include two binaries (one for arm and one for amd64) in one image?

[2020-12-01 02:00] cerebrate commented on #300
I think it’s two images in one manifest rather than two binaries in one image?

The one I built for myself is cerebrate/kruise-manager:0.7.0 on Docker Hub; when one of my nodes pulls that repository and tag, it automatically gets the image that matches the architecture of the node.

[2020-12-01 02:09] FillZpp commented on #453
@27149chen

1. First, you can get the caBundle from `kubectl get mutatingwebhookconfigurations kruise-mutating-webhook-configuration` and decode it using base64 to get ca-cert.
2. Then, you can use exec to get into the two kruise-controller-manager and read `/tmp/kruise-webhook-certs/ca-cert.pem`.
3. You should check these three ca-cert should be the same.

[2020-12-01 05:36] cerebrate commented on #289
Orgnization/Company: Arkane Systems
Location: Wichita, KS
Contact: avatar@arkane-systems.net
Purpose/Scenario: Using BroadcastJob/AdvancedCronTab for periodic per-node tasks and cleanup; using SidecarSet to inject local maintenance containers.

[2020-12-01 06:16] FillZpp commented on #467
@27149chen Currently `kubectl rollout` can only recognize built-in workload like Deployment. The easy way to rollback a CloneSet is to choose the historic ControllerRuntime and overwrite its data into CloneSet template, but there is no command-line tool to do this yet. Maybe it can be supported in https://github.com/openkruise/kruise-tools.

[2020-12-01 06:40] 27149chen commented on #467
@FillZpp thanks for you reply, https://github.com/openkruise/kruise-tools is a good place to support it

[2020-12-01 09:10] FillZpp commented on #307
@cvvz Sorry, I haven't seen your comment last week... Would you please review this PR and check if it could meet your requirement.

[2020-12-02 00:02] #463 closed

[2020-12-02 02:16] Fei-Guo commented on #300
@cerebrate Understood!  Yes. You are certainly welcome to help to build multi-arch image for Kruise.

Thanks

[2020-12-02 08:21] #307 closed

[2020-12-03 09:08] kangdaroo opened #473 "[Question]Metrics error while inplace update"
while using advance statefulset or sidecarset to make a inplace update, prometheus often get a metrics error, kubelet log like
[code]

[2020-12-03 12:07] FillZpp commented on #473
@kangdaroo Is it warned some times during in-place update, or continuously even after in-place update?

[2020-12-03 16:29] shamil commented on #374
@FillZpp not sure why this was closed, bu the problem still exists even after upgrading to 0.6.1

[2020-12-04 03:17] FillZpp commented on #374
v0.6.1 does not supported this feature, #387 will be released in v0.7.0 soon.

[2020-12-07 20:55] wgitg opened #475 "[feature request] Distribute kruise controller binary (rhel/CentOs, etc)"
**What would you like to be added**:
We'd like to have the kruise controller binary distribution, at least for linux arch (rhel/centOS).

**Why is this needed**:
Currently we are using the kruise controllers. However, we will need to hook up the kruise controller within our own infrastructure:
1. containerize the image and push to the internal image registry
2. hook up with our internal deployment

[2020-12-07 21:58] Fei-Guo commented on #475
For compatibility and security reasons, it is not suggested to distribute binary directly.

I will close this issue for now and we would like to help with any image building request if the problem can be worked around with image.

[2020-12-07 21:58] #475 closed

[2020-12-08 10:56] jiyeyuran commented on #453
I am also stuck with the same problem. `kruise-controller-manager`  is running for a quite long time.

[2020-12-09 07:38] kangdaroo commented on #473
I found it is a problem with kubernetes version 1.17. And it is fixed with https://github.com/kubernetes/kubernetes/pull/86009

[2020-12-09 07:38] #473 closed

[2020-12-10 18:58] #466 closed

[2020-12-14 02:55] tianshouzhi opened #478 "how does SidecarSet achieve canary release"
Hello, how does SidecarSet achieve canary release? And how to support different applications, using different versions of Sidecar?

- If only one instance of the SidecarSet CRD is created for a sidecar,  the above scenario is difficult to realize.
- If create an instance of CRD for each application, the number of CRDS will swell.

What do you recommend here?

[2020-12-14 03:23] #478 closed

[2020-12-14 09:44] yutinghua opened #479 "[feature request] image pre-download"
**What would you like to be added**:
Kruise-daemon什么时候可以开源？

**Why is this needed**:
需要用来预热镜像

[2020-12-16 08:31] hellolijj commented on #410
/assign

[2020-12-17 08:35] mosesyou commented on #289
Orgnization/Company: 永辉科技中心
Location: ShangHai, China
Contact: mosesyou1994@gmail.com
Purpose/Scenario: Using CloneSet and SidecarSet to using in-place upgrade and manage sidecar pod.

[2020-12-17 11:06] shyung commented on #204
The function of Advanced StatefulSet should be pure. The node problems, I supposed, are more suitable to be solved by a new controller, which can stain the nodes according to a series of strategies to make full use of the pod eviction mechanism.:sweat_smile:

[2020-12-18 02:01] LeoLiuYan opened #487 "[feature request] UnitedDeployment support `Blue/Green` and `Canary` update strategy type"
**What would you like to be added**:
As the title,  when use unitedDeployment,  we want to support more strategy, like `Blue/Green` or `Canary`.  Whether the strategy is `Beta` or `Batch` or `Blue/Green`,  for unitedDeployment the logic is common.  When use `Blue/Green` or `Canary`  strategy, the traffic ratio should be not considered by this workload.

**Why is this needed**:
In some case,  users

[2020-12-18 03:27] LeoLiuYan commented on #487
For example,  there is three AZ: AZ1,AZ2,AZ3,  there also one subset in each AZ: AZ1-Subset1, AZ2-Subset1, AZ3-Subset1.

When use `Green/Blue` strategy,  the unitedDeployment workload will create three new subset in each AZ: AZ1-Subset2, AZ2-Subset2, AZ3-Subset2.

When use `Canary` strategy, the unitedDeployment workload will update pods in the present subnet.

[2020-12-18 05:15] Fei-Guo commented on #487
I think UD currently supports canary release by using statefulset as subset workload. For Green/Blue rollout, I think we can consider adding deployment as the subset workload (which is in our roadmap).

[2020-12-18 06:24] LeoLiuYan commented on #487
`Blue/Green` and `Canary`  publish may be use cloneset as the subset workload.

[2020-12-18 06:34] LeoLiuYan commented on #487
Can we start designing features that support `Blue/green` and `Canary`?

[2020-12-18 06:46] Fei-Guo commented on #487
@FillZpp Doesn't cloneset already support blue/green (via maxsurge) and canary (via partition) release?

[2020-12-18 07:23] LeoLiuYan commented on #487
The maxSurge strategy may not enough for blue/green release. In a blue/green release, blue and green represent different publish version,  they have different labels for traffic rules to distinguish.

[2020-12-18 07:39] zzxwill opened #488 "[feature request] Allow sidecar to be injected to existing pods"
**What would you like to be added**:
Currently sidecarset won't support injection of sidecar to existing pods until the pods are recreated by the upper business workload. I would like to sidecarset expose the ability of recreating pods to business users.

[code]

If possible, providing RollingUpdate strategy for business Pods would be better. Thanks.

**Why is this needed**:
In this way, I can eas

[2020-12-18 07:44] furykerry commented on #488
inject containers to existing pod is not possible in official k8s, since k8s apiserver will reject any container removal or addition in existing pod. You may change k8s apiserver admission plugin code to remove this restriction

[2020-12-18 07:50] Fei-Guo commented on #488
To me, this request is too risky. Sidecarset is a cluster scoped crd. It may affects multiple workloads belonging to multiple orgs. Any operation that may break existing business needs extra care for safety. You may get horrible result if this flag is abused.

[2020-12-20 03:24] danche opened #489 "[BUG] Observed a panic: "invalid memory address or nil pointer dereference""
**What happened**:
E1220 03:13:23.644716       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory addr
ess or nil pointer dereference)                                                                                                                       goroutine 804 [running]:

[2020-12-20 03:35] danche commented on #489
more logs
I1220 03:30:13.866141       1 stateful_set_control.go:126] StatefulSet inplace20-pd pod status replicas=3 ready=2 available
=2 current=3 updated=3
I1220 03:30:13.866154       1 stateful_set_control.go:135] StatefulSet inplace20-pd revisions current=blade-blade-dbatest4i
nplace20-pd-5458c68d85 update=blade-blade-dbatest4inplace20-pd-5458c68d85
I1220 03:30:13.866179       1 statefulset_con

[2020-12-21 02:12] #300 closed

[2020-12-21 02:23] FillZpp commented on #489
Turns out this asts is created during uninstall and install Kruise, so it has no default fields like `revisionHistoryLimit` injected by webhook.

[2020-12-21 02:23] #489 closed

[2020-12-21 03:19] FillZpp commented on #479
@yutinghua This plans to be open sourced within three months.

[2020-12-21 03:23] FillZpp commented on #453
This problem should be solved in the latest `v0.7.0`. Would you please upgrade Kruise and check it again? @jiyeyuran @27149chen @LeoWenxiang @alandtsang

[2020-12-21 05:11] alandtsang commented on #453
Cool, we will try it.

[2020-12-21 09:52] LeoLiuYan commented on #487
ping @Fei-Guo @FillZpp

[2020-12-21 17:41] #262 closed

[2020-12-21 17:53] Fei-Guo commented on #487
@LeoLiuYan I don't exactly understand your quest since the blue/green, canary like behavior can be implemented in multiple ways in UnitedDeployment. Do you prefer different subsets to having different versions for blue/green? E.g., UD have two subsets : A and B. They share the same template in the beginning. During update, Subset A has version 2 but Subset B keeps version A.

[2020-12-22 15:51] #487 closed

[2020-12-22 16:06] LeoLiuYan opened #493 "[feature request] UnitedDeployment subsets support different labels"
**What would you like to be added**:

As the title said, UD's subsets can support different labels which specified by users.  For example, Subset-1 has labels:  AZ=az1 and Subset-2 has labels: AZ=az2.
One possible implement is:
[code]

**Why is this needed**:

User can add more labels for application to use.

[2020-12-23 02:42] FillZpp commented on #493
@LeoLiuYan Sounds good. Will this `labels` be added into only template of subset workload or both template and labels of it?

[2020-12-23 05:15] LeoLiuYan commented on #493
I think add into both labels and template of subset workload is better.

[2020-12-24 02:27] takakawa opened #495 "[feature request] Container Restart"
**What would you like to be added**:
We want the ability to restart Container only, not to create the whole Pod.

**Why is this needed**:
 There is always some reason to restart the services running in Pod. In baremetals everything is easy.`systemctl restart xxxx.service` is enough.but when in k8s you need to recreate a new Pod to just restart a Container. THAT IS TOO EXPENSIVE.

[2020-12-24 15:40] LeoLiuYan commented on #493
Could I work on thie feature?  @FillZpp @Fei-Guo

/assign

[2020-12-25 05:56] FillZpp commented on #493
Sure, thanks.

[2020-12-25 06:15] naivelife commented on #289
Orgnization/公司：跟谁学
地点：北京
中国联系人：1711358893@qq.com
目的/场景：使用UnitedDeployment做单元化部署

[2020-12-25 08:09] naiveboy96 opened #496 "[QUSESTION]"
当更新UnitedDeployment的时候，会创建一个新的ControllerRevision，如果版本并未和历史版本发生冲突则会创建。但是newRevision和createControllerRevision好像创建了两次name。
![image](https://user-images.githubusercontent.com/38353946/103127061-54cda200-46cb-11eb-95fa-19e9f8913681.png)
![image](https://user-images.githubusercontent.com/38353946/103127073-62832780-46cb-11eb-880b-f2c10a89a589.png)

[2020-12-25 08:20] Fei-Guo commented on #496
What is your question? or what the potential problem it is?

[2020-12-25 08:31] naiveboy96 commented on #496
这里创建两次name是出于什么原因呢，而且createControllerRevision里面的for循环每次都会创建name，是出于什么考虑呢

[2020-12-25 22:16] Fei-Guo commented on #496
The loop in CreateControllerRevision is to handle a case of hash collision. i.e., if the name is used by a different revision already, we have to choose a new name.

For the first question, the `hash` parameter in the ControllerRevisionName call seems to be different.

[2020-12-25 23:32] naiveboy96 commented on #496
谢谢，我再仔细看一下

[2020-12-25 23:32] #496 closed

[2020-12-28 07:38] phoenixwu0229 opened #497 "[QUESTION]"
how to  upgrade kruise

[2020-12-28 07:42] FillZpp commented on #497
@phoenixwu0229 Use helm `upgrade` instead of `install`:

[code]

[2020-12-28 09:44] #497 closed

[2020-12-28 10:49] phoenixwu0229 commented on #497
helm upgrade kruise ./kruise  in k8s 1.14, report unknown field "x-kubernetes-int-or-string" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1beta1.JSONSchemaProps, no --disable-openapi-validation with helm upgrade

[2020-12-28 10:51] phoenixwu0229 commented on #497
my helm version is old, ignore it

[2020-12-28 12:10] naiveboy96 opened #499 "[BUG] 官方文档有误"
![image](https://user-images.githubusercontent.com/38353946/103213437-9fa81d80-4948-11eb-8128-66c943326d17.png)

PreparingDelete应该是准备原地删除吧

[2021-01-05 02:16] xuxinkun commented on #289
Orgnization/Company: OPPO
Location: Shenzhen, China
Contact: xuxinkun@gmail.com
Purpose/Scenario: Using Kruise for managing large-scale applications and sidecars.

[2021-01-05 09:04] phoenixwu0229 opened #502 "[feature request] how to add podmanagepolicy in uniteddeploy combine with asts"
**What would you like to be added**:
how to add podmanagepolicy in uniteddeploy combine with asts

**Why is this needed**:
not work add like blow
![image](https://user-images.githubusercontent.com/49689460/103628306-c6cea280-4f79-11eb-8e51-d44d9d4238af.png)

[2021-01-05 11:05] FillZpp commented on #502
@phoenixwu0229 The `P` in `PodManagementPolicy` should be lower case.

[code]

[2021-01-07 09:26] #502 closed

[2021-01-07 10:20] FillZpp commented on #453
This problem should be solved since `v0.7.0`.

[2021-01-07 10:20] #453 closed

[2021-01-07 11:08] FillZpp commented on #355
It has been implemented in #378 .

[2021-01-07 11:08] #355 closed

[2021-01-07 12:04] FillZpp commented on #283
Rotten issues close after 90d of inactivity.

[2021-01-07 12:04] #283 closed

[2021-01-07 12:21] FillZpp commented on #264
There are two feature requests in this issue:

1. **Selective Pod deletion support label selector**: this have been supported by CloneSet, now users can patch `apps.kruise.io/specified-delete=true` into Pod labels and CloneSet will delete it.
2. **Scaling with maxUnavailable/maxSurge strategies**: this is duplicated with #451

So I will close this issue and we can track it in #451 @fatedier

[2021-01-07 12:21] #264 closed

[2021-01-07 12:22] FillZpp commented on #215
@kong62 It has been implemented in AdvancedCronJob.

[2021-01-07 12:22] #215 closed

[2021-01-07 12:26] FillZpp commented on #204
@shyung Good point, thanks.

[2021-01-07 12:26] #204 closed

[2021-01-07 12:29] FillZpp commented on #170
Rotten issues close after 90d of inactivity.

[2021-01-07 12:29] #170 closed

[2021-01-07 12:31] FillZpp commented on #159
Rotten issues close after 90d of inactivity.

[2021-01-07 12:31] #159 closed

[2021-01-07 12:31] #134 closed

[2021-01-07 12:32] FillZpp commented on #108
OpenKruise only supports Kubernetes version >= 1.13+ because of CRD conversion. Note that for Kubernetes 1.13 and 1.14, users must enable CustomResourceWebhookConversion feature-gate in kube-apiserver before install or upgrade Kruise.

See https://openkruise.io/en-us/docs/quick_start.html

[2021-01-07 12:32] #108 closed

[2021-01-07 12:33] FillZpp commented on #76
We do have a [CHANGELOG](https://github.com/openkruise/kruise/blob/master/CHANGELOG.md) now :)

[2021-01-07 12:33] #76 closed

[2021-01-07 12:34] FillZpp commented on #72
Rotten issues close after 90d of inactivity.

[2021-01-07 12:34] #72 closed

[2021-01-07 12:35] #42 closed

[2021-01-11 11:43] #198 closed

[2021-01-11 11:43] #291 closed

[2021-01-11 11:43] #346 closed

[2021-01-11 13:56] #479 closed

[2021-01-12 00:35] kfox1111 opened #507 "[BUG] Excessive Permissions"
**What happened**:

I looked through the permissions granted in the chart and it has a large amount of permissions granted. I was trying to deploy openkruise to be able to do cronjobs with broadcast jobs and not sure why read/write all secrets in all namespaces is needed. customresourcedefinitions read/write/create/delete is also concerning. The crd's should be uploaded as part of the helm install

[2021-01-12 00:40] kfox1111 opened #508 "[BUG] helm CRD's"
**What happened**:

CRD's are not disableable.

**What you expected to happen**:

The CRD's should be in the crds/ directory of the chart as per https://helm.sh/docs/chart_best_practices/custom_resource_definitions/ section: "Method 1: Let helm Do It For You"

I prefer to disable helm from ever managing a CRD because its been quite buggy in the past so I need a way to disable helm from ever touchi

[2021-01-12 00:45] kfox1111 opened #509 "[feature request] cert-manager support"
**What would you like to be added**:

The webhooks should support a helm value for creating cert-manager certificate / ca requests so that cert-manager secures the webhooks rather then generating the certs in the container.

**Why is this needed**:

This centralizes all the certificate management code in one place that can be much more easily monitored and secured. It is difficult to manage lots o

[2021-01-12 00:52] kfox1111 opened #510 "[feature request] configurable sidecar webhook selector"
**What would you like to be added**:

Right now the selector for pods is everything but namespaces labeled as control-plane.

I'd like the option to set it on my clusters to only apply to pods in namespaces with specific labels applied and not namespaces without the label.

Probably best to just pass through the entire configuration of the namespace selector via helm values?

**Why is this needed*

[2021-01-12 02:08] FillZpp commented on #507
@kfox1111 The `allowPrivileged` is not used [here](https://github.com/openkruise/kruise/blob/master/main.go#L93) to allow users to create Kruise workloads like CloneSet or BroadcastJob with privileged containers ( #409 ).

[2021-01-12 02:18] FillZpp commented on #508
@kfox1111  I tried to put the CRDs in `crds/` directory in the original `v0.7.0` chart, but I found the CRDs will be deleted during `helm upgrade` from an old version. So I have no choice but to move them back to `template/`.

Besides, our CRDs will always be changed between different versions. Are you sure it is ok to put them in `crds/` directory during `helm upgrade`?

[2021-01-12 02:29] FillZpp commented on #509
@kfox1111  Users need not to care about the certificate management of Kruise. Actually, we don't want to make OpenKruise relied on cert-manager, lots of our users do not have cert-manager in their clusters.

We expect OpenKruise to be an independent component and anyone could easily install it with one command in any Kubernetes clusters.

[2021-01-12 02:42] FillZpp commented on #510
Sounds reasonable, like the `istio-injection=enabled` namespace selector in Istio? But we should think of how could this be compatible with the existing sidecarset usage scenarios.

[2021-01-12 07:39] kong62 commented on #215
@FillZpp 666

[2021-01-12 18:22] kfox1111 commented on #510
Yeah. That's kind of what I was thinking.

Maybe have a selector in the values. If the selector is set in values, use that. if not set, use the existing selector as a default? Then it would continue to work the way it always had, and can still be overridden by those that want to.

[2021-01-12 18:47] kfox1111 commented on #508
ouch. :(

Thats why I don't trust helm managing crd's at all. I've seen way too many bugs with it. What about wrapping the crds in the template/ directory in:
[code]

That would at least allow helm to not manage them.

[2021-01-12 19:13] kfox1111 commented on #509
I have increasing numbers of webhooks on my systems which means more  and more time spend dealing with security issues. Your webhook doesn't exist in isolation. It exists on production clusters along with many others. The sum total of them is relevant to your users who care about strong security. This can hamper adoption of openkruise in certain environments...

I'm not saying you must require cer

[2021-01-13 02:30] FillZpp commented on #509
@kfox1111 Understand. We can add a flag in chart which allows users to install Kruise with certificate managed by cert-manager.

[2021-01-13 02:37] FillZpp commented on #508
@kfox1111 We can do this, but I'm not really understand why do you need this and how will you manage CRDs without helm?

[2021-01-13 11:36] lyj8330328 opened #513 "[feature request] Java client needed"
**What would you like to be added**:
Are there any plans to open java-client?
**Why is this needed**:
I hope to use openkruise in a java project and use Kubernetes Java Client to automatically generate crd model failure.

[2021-01-13 11:59] FillZpp commented on #513
@lyj8330328 Now we have https://github.com/openkruise/client-java to store the Java API of Kruise, but we have not upload the jar to official maven repository yet. Can you temporarily download it and package manually for your project?

[2021-01-13 12:13] lyj8330328 commented on #513
thanks a lot

[2021-01-13 17:12] kfox1111 commented on #508
Manually. kubectl apply -f <crds>

[2021-01-18 09:58] shiyan2016 opened #516 "[feature request] support lifecycle hook for AdvancedStatefulSet"
**What would you like to be added**:
support lifecycle hook for AdvancedStatefulSet

**Why is this needed**:

[2021-01-18 12:06] yutinghua opened #517 "[feature request]image pre-download这个功能希望可以包含节点筛选"
**What would you like to be added**:
ImagePullJob的用法和实现可以开源

**Why is this needed**:
之前提过希望开源：https://github.com/openkruise/kruise/issues/479；但是我看目前的实现没有对node进行筛选，我希望的任务是一部分选中的node拉镜像，不知道什么时候可以开源，谢谢！

[2021-01-18 12:07] yutinghua commented on #517
我觉得原地发版应该是需要选择节点的，即只需要将镜像预热到正在运行的app对应的node上即可。

[2021-01-18 12:17] FillZpp commented on #517
@yutinghua The `ImagePullJob` do have a node selector. You can put a list of node name or a selector for node labels in the spec of ImagePullJob. https://github.com/openkruise/kruise/blob/master/apis/apps/v1alpha1/imagepulljob_types.go#L56

And the implementation of ImagePullJob and NodeImage will be coming this week.

[2021-01-19 07:56] yutinghua commented on #517
That's GREAT!

[2021-01-20 06:56] PokerBySwq opened #518 "[feature request]CloneSet 增加优先级缩容功能 To add the function of scaling down with priority"
**What would you like to be added**:
我希望可以在 CloneSet 上增加根据 pod 标签/节点标签 优先删除的能力，不是立即删除，而是在缩容的时候，优先从带有该标签的 pod 中删除实例 或者 从带有该标签的节点上运行的 pod 中删除。
同时可以设置多组标签，多组标签组成一个有序集合，按照集合的顺序，进行 pod 筛选，删除所需数量的 pod

I propose to add a function of priority deletion based on pod label/node label to CloneSet. Instead of immediate deletion, it is preferred to delete instances from PODs with this label or from PODs runnin

[2021-01-22 04:07] qiankunli opened #519 "AdvancedCronJob支持展示上一次执行的成功job数"
acj 常规输出
[code]
我们发现部分node 可能是因为负载较高的缘故，从未执行过job（pod 状态为OutOfpods），但一直没发现。

期待可以输出最近一次执行的 成功数/node节点数，来判断在所有节点上是否都执行，如果未执行，可以尽快去采取一些措施。该数据也建议与kube-state-metrics 集成，方便做监控。

[2021-01-22 04:11] FillZpp commented on #519
@qiankunli `AdvancedCronJob` 只负责周期性创建 `BroadcastJob` 或 `Job`，因此输出只包含周期信息。至于每次 `BroadcastJob` 执行的结果，可以通过 `k get bcj -o wide` 来看到。

[2021-01-22 05:40] qiankunli commented on #519
[code]
DESIRED=52，SUCCEEDED=10，FAILED=2 中间的差值在哪看呢？

[2021-01-22 05:55] FillZpp commented on #519
@qiankunli YAML please. `k get bcj clean-log-1611273600 -o yaml`

[2021-01-22 06:42] qiankunli commented on #519
[code]
这个acj的作用是，每天早上8点执行clean-log image 中包含的clean-log shell 清理物理机xx 天前的日志。我发现有一些pod 报Outpod（估计是物理机负载较大导致pod 创建失败），导致pod failed，如果 FailurePolicyType默认为FailFast，导致整个bj 执行失败？

[2021-01-22 06:47] FillZpp commented on #519
@qiankunli 是的，默认 `FailFast` 发现有 job 失败整个 BroadcastJob 就算作失败了，你可以在 `broadcastJobTemplate` 里把这个策略显示设置为 `Continue`

[2021-01-22 07:26] #519 closed

[2021-01-22 07:27] qiankunli commented on #519
@FillZpp 感谢提醒，我试试

[2021-01-22 07:37] FillZpp commented on #519
@qiankunli 方便的话可以登记一下使用 #289 ，以便我们后续收集反馈

[2021-01-22 07:38] quxiaotong commented on #289
Orgnization/公司：火花思维
地点：北京
中国联系人：quxiaotong@huohua.cn
目的/场景：使用cloneset管理应用更新

[2021-01-29 08:47] yutinghua opened #526 "[BUG]convertToRegistryAuthInfo没有给registry加上https，导致无法与secret中的auth匹配"
**What happened**:
现象：
W0129 11:57:05.720466   10356 puller.go:333] Worker failed to pull image xxx, cost 15.041022179s, err: imagePullSecret {ns}/{secret} contains neither .dockercfg nor .dockerconfigjson
原因：ImagePullJob.Spec.PullSecrets指定拉镜像需要的secret列表，secret.data[".dockerconfigjson"]的内容解析后的key是registry，一般是"https://xxx"，而镜像名没有"https://"，所以无法匹配，导致找不到拉镜像所需的user:password

**What you expected to hap

[2021-01-29 10:51] FillZpp commented on #526
@yutinghua 感谢反馈！我已经在 #520 中新增一个 commit 解决这个 pull secrets 解析问题，可以再验证一下 😄

[2021-01-29 13:38] funnyAnt opened #527 "[BUG]Internal error occurred: failed calling webhook "mcloneset.kb.io""
**What happened**:
`I0129 21:33:00.287613   21998 request.go:1068] Response Body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Internal error occurred: failed calling webhook \"mcloneset.kb.io\": Post https://kruise-webhook-service.kruise-system.svc:443/mutate-apps-kruise-io-v1alpha1-cloneset?timeout=30s: context deadline exceeded","reason":"InternalError","detail

[2021-01-31 03:46] yutinghua commented on #526
已验证

[2021-01-31 03:46] yutinghua commented on #526
已验证

[2021-01-31 03:46] #526 closed

[2021-02-01 02:55] FillZpp commented on #527
@funnyAnt Please check the network connection between kube-apiserver and kruise-manager in your cluster.

[2021-02-02 03:27] #517 closed

[2021-02-02 09:17] shiyan2016 opened #528 "[BUG] inplace update lifecycle does not work correct"
**What happened**:
create a cloneset as follows:
[code]
And then just update the cloneset image to make it inplace update, it will cause one pod state change to PreparingUpdate, then update the pod's label  foo-unready-block to false, it will keep PreparingUpdate state. Then update the pod's label  test-unready-block to false, the pod state will changed to Updating and start inplace update. When i

[2021-02-02 11:53] #528 closed

[2021-02-03 06:29] rishi-anand commented on #289
Orgnization/Company: Spectro Cloud
Url: https://www.spectrocloud.com/
Location: Santa Clara, US
Contact: rishi@spectrocloud.com
Purpose/Scenario: Using Kruise for managing periodic node actions.

[2021-02-04 03:46] fatedier opened #531 "[BUG] CloneSet name length can't be greater than 63"
**What happened**:
Create a CloneSet with name `sample-long-long-long-long-long-long-long-long-long-long-long-long-name`.

CloneSet controller will create a pod with label `controller-revision-hash` and value is `{CloneSet name}-{hash}`.

Label value length must be less than 64 bytes, so pod create request will be rejected by kube-apiserver.

**What you expected to happen**:
Allowed to create a Cl

[2021-02-04 04:15] FillZpp commented on #531
@fatedier Good point, we can do this. And also a flag should be added to let users choose to use the feature, because I'm afraid some users may already depend on the `controller-revision-hash` label to be the full name of ControllerRevision.

So... are you interested in implementing it? 😄

[2021-02-04 08:30] fatedier commented on #531
Sure.

[2021-02-06 14:07] funnyAnt commented on #527
The https service of openkruise cannot be called. Cluster-ip is the internal IP of the cluster, which can be accessed because when kube-proxy starts, it will configure the cluster-ip to the corresponding iptables/ipvs, and then route to pod-id. Therefore, you need to start the **kube-proxy** process on the manager node, and the **flanneld** process if necessary.

Then first ping its cluter-ip to t

[2021-02-12 18:34] Daxcor69 opened #534 "Webhook TimeoutSeconds in values.yaml"
I am hosted with Digital Ocean using a managed kuberenetes.  They have an auto upgrade feature for the cluster software.  However the upgrade is  blocked if the TimeoutSeconds > 30 secs.  Which it what you have set as a default.  I need this to be a value that I can set.  I don't want to mess with the deployment outside of the normal way of editing values.yaml. I am not experienced enough to dive

[2021-02-12 18:56] Fei-Guo commented on #534
Are you requesting to make Timeoutseconds configurable in future releases (which I think we can support) or asking for changes in current releases?

For current release, you can modify Values.yaml and template/webhookconfiguration.yaml accordingly following the example of webhook "failurePolicy"  in Values.yaml.

[2021-02-12 18:59] Daxcor69 commented on #534
yeah, I think it would be a good addition to your helm chart for future versions.  I will have a look at the repo as suggested and see. I just used the tgz link for the install of the helm chart.  So I will clone the repo and have a look.

Thank you for your time.
Brad

[2021-02-19 02:44] peacocktrain opened #535 "Internal error occurred: failed calling webhook "mcloneset.kb.io" kind/bug"
**What happened**:
Internal error occurred: failed calling webhook \\\"mcloneset.kb.io\\\": Post https://kruise-webhook-service.kruise-system.svc:443/mutate-apps-kruise-io-v1alpha1-cloneset?timeout=30s: x509: certificate signed by unknown authority (possibly because of \\\"crypto/rsa: verification error\\\" while trying to verify candidate authority certificate \\\"webhook-cert-ca\\\"
这个错误会持续十几分钟然

[2021-02-19 08:06] huzhengchuan commented on #289
Orgnization/Company: Suning.cn
Location: Nanjing, China
Contact: 18044103@suning.com
Purpose/Scenario: Using CloneSet and SidecarSet to manage stateless apps and sidecar.

[2021-02-20 03:29] #527 closed

[2021-02-22 07:58] alandtsang commented on #535
same problem, is there any progress?

[2021-02-23 02:21] FillZpp commented on #535
@peacocktrain @alandtsang Please collect the informations below when the error occurs:

1. `kubectl get mutatingwebhookconfiguration kruise-mutating-webhook-configuration -o yaml`
2. `kubectl get secret -n kruise-system kruise-webhook-certs -o yaml`
3. read /tmp/kruise-webhook-certs/ca-cert.pem file in the two kruise-controller-manager pods -- `kubectl exec -n kruise-system kruise-controller-manag

[2021-02-23 03:41] alandtsang commented on #535
@FillZpp

[code]
[code]

[code]
[code]

[code]
[code]

[2021-02-23 05:52] FillZpp commented on #535
@alandtsang Are you sure that the `mutatingwebhookconfiguration` and `kruise-webhook-certs` are complete? It seems the Kruise is not installed by helm.

[2021-02-23 06:25] alandtsang commented on #535
The `annotations` in `mutatingwebhookconfiguration` are too long to be displayed, and the `ca-key.pem`, `key.pem`, `tls.crt `and `tls.key` in `kruise-webhook-certs` are not displayed either.

Do you need `annotations` and other `key files`?

[2021-02-23 07:04] FillZpp commented on #535
@alandtsang I find these labels in `mutatingwebhookconfiguration`:

[code]

Is there any components in your cluster will modify the kruise configurations?

[2021-02-23 08:56] alandtsang commented on #535
OpenKruise is installed through apply yaml, and there is no component to modify the configuration of OpenKruise.

[2021-02-24 08:36] #516 closed

[2021-02-27 01:26] peacocktrain commented on #535
I installed Kruise by Helm install without any modification. I suspect it is caused by the dynamic CA and accidental problem of apiserver, so could kruise open a static CA file feature for use?

[2021-02-27 01:27] peacocktrain commented on #535
The problem came up again last night and It's the third time this month.

[2021-03-01 06:37] tudou34 opened #540 "[QUESTION] cloneset pod name"
ReplicaSet use metadata.GenerateName to generate unique pod name
but Cloneset use getOrGenAvailableIDs function to generate unique pod name.
Why cloneset design like this？

[2021-03-01 07:19] FillZpp commented on #540
@tudou34 It is because CloneSet supports `volumeClaimTemplate`, which creates PVCs before Pods and they all have the random ID such as `xp52p`.

So kruise have to generate the ID locally. And both kube-apiserver and kruise generate the ID using `k8s.io/apimachinery/pkg/util/rand` package.

Ref: https://github.com/kubernetes/apiserver/blob/master/pkg/storage/names/generate.go#L49

[2021-03-01 08:32] riverzhang opened #541 "In-place update --Support resize resources"
**What would you like to be added**:
     I want to modify the cpu and memory size of the pod. Currently, it will go through the recreate process. not to update locally, or restart the container to take effect. At the same time, the scheduler needs to be aware of resource changes.
     Does openkruise have any plans for this? Hope to discuss this with everyone.

**Why is this needed**:
Reduce proc

[2021-03-01 09:40] felix-hxz commented on #289
Orgnization/Company: Deepexi
Location: Shenzhen, China
Contact: huxuze@deepexi.com
Purpose/Scenario: Using Kruise for managing large-scale applications and sidecars.

[2021-03-04 04:41] #508 closed

[2021-03-04 05:01] FillZpp commented on #534
Closed in #543

[2021-03-04 05:01] #534 closed

[2021-03-04 05:02] #499 closed

[2021-03-04 17:44] kfox1111 commented on #508
Thanks! :)

[2021-03-05 02:26] FillZpp commented on #535
Hi @peacocktrain @alandtsang , Kruise v0.8.0 has released https://github.com/openkruise/kruise/releases/tag/v0.8.0 , and it has optimized the secret generation and synchronization.

Would you please upgrade to the latest version and check if the problem still exists? If so, I will make static CA as an option in v0.8.1 to solve this.

Install/upgrade doc: https://openkruise.io/en-us/docs/installati

[2021-03-05 06:37] peacocktrain commented on #535
OK，I will upgrade to 0.8， but static CA may be available。“Sync Webhook certs“ in logs are too frequent

[2021-03-05 12:10] cvvz opened #546 "[feature request] support to configure timezone for kruise-controller-manager"
**What would you like to be added**:
support to configure timezone for kruise-controller-manager

**Why is this needed**:
The timestamp of log in `kruise-controller-manager ` is based on `UTC` timezone, but timezone in China is `UTC+8`, which makes it difficult to analyze logs.

[2021-03-06 16:39] cerebrate opened #547 "[BUG] ImagePullJob reports error if image already exists"
**What happened**:

I am using ImagePullJob to ensure that certain images needed by all nodes are always downloaded in advance. However, when this is configured and executes, I receive a large number of PullImageFailed warning events of the form:

[code]

for those nodes on which the image has already been downloaded. The pull is recorded as failed in the NodeImage and ImagePullJob objects.

**Wha

[2021-03-08 02:43] FillZpp commented on #547
@cerebrate Typically, if the image already exists on the node, the CRI should return success when calling by kruise-daemon.

Can you provide the log `kubectl logs -n kruise-system kruise-daemon-xxx` and which CRI do you use in k3s?

[2021-03-08 04:00] cerebrate commented on #547
Sure, can do. This is the log from one of my kruise-daemon instances:

https://gist.github.com/cerebrate/43f0fdfd199cc23811f4b961d48bd16c

First instance of the error shows up around line 1605.

The CRI is listed as containerd://1.4.3-k3s3 .

[2021-03-08 08:35] FillZpp commented on #547
@cerebrate I'm not sure why it occurs on k3s containerd.

I have packaged an image `openkruise/kruise-manager:v0.8.0-debug`, it is based on v0.8.0 and just adds some debug logs. Would you please update this image into `kubectl get ds -n kruise-system kruise-daemon` and create ImagePullJob again? See what logs it will print out.

[2021-03-08 19:08] cerebrate commented on #547
Sure, can do. After updating to this image, deleting the existing ImagePullJobs and recreating one, I get this:

[code]

[2021-03-09 09:16] FillZpp commented on #547
@cerebrate Hi, #548 should solve your problem. Thanks for @fuweid.

I have packaged `openkruise/kruise-manager:v0.8.0-debug` again based on #548 . Could you delete a kruise-daemon pod, let it recreate with the new image, and try imagepulljob again?

[2021-03-10 17:56] #531 closed

[2021-03-10 20:38] cerebrate commented on #547
That seems to work perfectly now, thank you!

[2021-03-11 02:27] #547 closed

[2021-03-11 03:54] FillZpp commented on #547
@cerebrate I have rebuild `openkruise/kruise-manager:v0.8.0` and you can rollback kruise-daemon to this image now.

[2021-03-11 07:01] Tobewont opened #553 "[BUG] NodeImage reports error the node could not be patched"
**What happened**:

After installing Kruise, trying to pull the image using NodeImage is wrong:

[code]

[code]

What I actually edited was:

[code]

Modified `images` and `tags` still report this error. What does this error mean? How to solve it?

**Environment**:
- Kruise version: v0.8.0
- Kubernetes version (use `kubectl version`): v1.18.3
- OS (e.g: `cat /etc/os-release`): CentOS Linux 7
- Ins

[2021-03-11 07:44] FillZpp commented on #553
@Tobewont It seems the request was blocked in apiserver or webhook over 34s. Please provide the informations below:

[code]

And make sure you can edit other resources locally.

[2021-03-11 08:46] Tobewont commented on #553
Kruise-controller-manager is rebooted once, log is checked and error is reported:

[code]

So I delete the rs, and now it looks like this:

[code]

[code]

I have tried again now, but still get an error:

[code]

Istio is installed in my cluster. Is it related to it?

[2021-03-11 09:12] FillZpp commented on #553
@Tobewont Oh, it is because your apiserver can not connection to kruise-controller-manager using service.

[code]

You can see the service of kruise `kubectl get svc -n kruise-system kruise-webhook-service` and the endpoints is `kruise-controller-manager` pods. But apiserver failed to connect to this service becaused of timeout.

Please make sure the network between apiserver and kruise-controller

[2021-03-11 09:37] Tobewont commented on #553
OK. Thanks.

[2021-03-11 09:37] #553 closed

[2021-03-11 09:40] tudou34 commented on #540
thanks

[2021-03-11 09:40] #540 closed

[2021-03-11 13:45] chaishiqi opened #555 "有没有前台管理工具类似rancher那样便于维护的？"
RT

[2021-03-12 01:52] liangyuanpeng commented on #555
As far as I know, there is no. What do you need UI for?

[2021-03-12 06:03] oldshipmaster opened #556 "install problem"
#helm install kruise https://github.com/openkruise/kruise/releases/download/v0.8.0/kruise-chart.tgz
Error: failed to download "https://github.com/openkruise/kruise/releases/download/v0.8.0/kruise-chart.tgz" (hint: running `helm repo update` may help)

helm install openkruise ./ -n kube-system
Error: rendered manifests contain a resource that already exists. Unable to continue with install: Namespa

[2021-03-12 06:36] FillZpp commented on #556
@oldshipmaster `helm install openkruise ./ -n kube-system` is not the recommended way to install Kruise.

If `helm repo update` can not solved the error of `helm install kruise https://github.com/openkruise/kruise/releases/download/v0.8.0/kruise-chart.tgz`, you can try to firstly download the chart

[code]

then install

[code]

[2021-03-12 10:16] chaishiqi commented on #555
就是给相对不熟悉k8s和openkruise的运维和开发一个个管理的渠道，点点点就能管理的那种^_^

[2021-03-14 08:37] wgitg commented on #541
+1 on this feature. Our org needs to use this too.

[2021-03-14 08:46] wgitg opened #560 "[feature request] In-place updates support for init containers in CloneSet"
**What would you like to be added**:

We'd like to have in-place updates for init containers in CloneSet

**Why is this needed**:
In-place updates is an important requirement for us to migrate existing workload to Kubernetes (stabilities, maintainabilities, etc). We are levering CloneSet in-place update in the app containers. Currently we are also leveraging init containers to do some configuratio

[2021-03-17 06:12] dylandee opened #565 "[BUG] potential problems in sidecarset"
Hi @zmberg @FillZpp

I am very interested in Feature 'SidecarSet'. In the process of  viewing the source code, I found two possible issues which can be easily reproduced：

  1. We all know that init containers in pod are executed in order, but Sidecarset sorts init containers by name, which would disrupt our established order.

  2. If we set main container's name as the same as the container name

[2021-03-17 07:29] zmberg commented on #565
Thank you very much for your interest in openkruise, here are the answers to the two issues above:
1. init containers order
The current solution, firstly, puts the initContainers in Sidecarset behind the initContainer defined in pod. Second, for the scenario that the same pod matches multiple SidecarSet initContainers, only the sidecarSet initContainers are sorted by name. The initContainers defin