[2021-03-17 08:15] dylandee commented on #565
I got two yamls:

[code]
[code]

 i apply two yamls in order, pod is created successfully, and container in pod is from sidecarset

[code]

[2021-03-17 08:27] dylandee commented on #565
Yep, #366 is exactly what i mean. And I think It seems redundant to sort initcontainers in mutating webhook to build pod.

[2021-03-17 08:41] zmberg commented on #565
@dylandee about **container name conflict**
You are right, there is a scenario of injecting sidecar when updating pods inside Ali Group. I will fix the issue, because when creating pods, it must not allow the case of sidecar and main container name conflict.

[2021-03-17 09:02] zmberg commented on #565
@dylandee > "It seems redundant to sort initcontainers in mutating webhook to build pod"

There is two SidecarSets matched one pod.
First SidecarSet:
[code]
Second SidecarSet:
[code]
DB whitelist authorization must be executed before istio proxy setting, how to achieve?

[2021-03-17 09:04] dylandee commented on #565
I found this issue when viewing source code and tried this. This kinda scenario would frequent occur if sidecarset widely used~

[2021-03-17 09:13] dylandee commented on #565
@zmberg You are right, But if i go two initcontainers in one sidecarset, named "Dog" and "Cat" ,which "Dog" should be called before "Cat". But sidecarset would sort them so that "Cat" is called first, This is not what users what.
In order to run correctly, these two should be named liked "A-Dog","B-Cat", will it be a little bit confused~

[2021-03-17 09:19] zmberg commented on #565
If it is in the same SidecarSet scenario, sorting is really not a good way. But if we consider the case of multiple SidecarSet, it is hard to go for both( single and multiple SidecarSet ) at the same time.

[2021-03-17 14:30] silence8013 commented on #289
Orgnization/Company: 哈啰出行
Location: ShangHai/HangZhou, China
Contact: jiyufeng048@hellobike.com
Purpose/Scenario: In-Place Update, Sidecar management, etc.

[2021-03-18 13:51] wangyanghack commented on #560
@wgitg hi,I don't understand how it is necessary to have in-place update for init containers.I think main container is ready and running when you want to in-place update for init containers.Main container is still running after in-place update for init containers is completed.So init container after in-place update cannot execute again.Is it necessary to have in-place update for init containers?

[2021-03-19 06:11] wgitg commented on #560
As mentioned in the Why section, but let us list out the use case in-place update in init container

Init containers execute before any main containers, and init containers can run as root to set up a lot of stuff that app container can not do. So they are used to set up anything needed before the app containers start. This can include getting applications certs, set up file structure, set up the

[2021-03-19 07:55] Fei-Guo commented on #560
Inplace updating init container may work (kubelet seems to support it). One problem is that init container restart cannot trigger main containers to restart automatically. The real benefit of supporting this is not very clear as you may need to update initcontainer image and main container images at the same time, which should not be a common practice.

The code change to support this feature is n

[2021-03-19 07:57] Fei-Guo commented on #546
Are you sure the timestamp is not consistent with your hardware machine where the container is running?

[2021-03-19 07:58] #513 closed

[2021-03-19 08:02] Fei-Guo commented on #541
The same has been asked before but Kubelet does not support inplace updating Pod size. This feature requires the changes to Kubelet and scheduler which is out of the scope of Kruise.

[2021-03-19 08:02] #541 closed

[2021-03-19 08:03] Fei-Guo commented on #555
Sorry we don't have UI in Kruise. We always recommend new users to start with tutorials (we have plenty of them and they are proven to be useful).

[2021-03-19 08:03] #555 closed

[2021-03-22 09:36] wangyanghack commented on #560
@wgitg hi, i know about your mean. But just image changes for container can in-place update in cloneset. So are you sure to want to implement init container in-place update for command changes? Or you want to implement init container in-place update for image changes?

[2021-03-23 23:23] Daxcor69 opened #566 "Kill pod after broadcast job terminates"
I have a bj that has this 👍
[code]

The job terminates, successfully.  In order to run the job again, I have to first delete the old pod from the cluster. I would like the option to be able to kill the pod as well after the job has completed.  I don't want it hanging around.

thanks
Brad

[2021-03-23 23:34] Fei-Guo commented on #566
The Pods created by the BroadcastJob should have ownerreference being set to the Job CR. So if you delete the Job, the Pods should be deleted as well. Can you check why the Pods are not deleted?

[2021-03-23 23:43] Daxcor69 commented on #566
[code]

so here is what describe, shows. Here is my yaml.

[code]
the script that runs in the pod
[code]

[2021-03-24 00:05] Fei-Guo commented on #566
Yes. For some reason, the ownerreference is not added to the job Pod.

[2021-03-24 00:22] Daxcor69 commented on #566
is this something I have to add to the yaml? or is this a bug?

[2021-03-24 00:40] Fei-Guo commented on #566
Seems to be a bug to me. Let me see if I can reproduce it locally.

[2021-03-24 05:07] Fei-Guo commented on #566
I take it back. I just realize you were using kubectl describe.  `Controlled By:  BroadcastJob/broadcastjob-node-update` means the Pod has the owner reference. If you use `kubectl get pod XXX -o yaml`, you should be able to see the ownerreference field.

I just confirm that when running the bcj tutorial demo, the Pod will be automatically deleted when the bcj cr is deleted.

Please make sure the c

[2021-03-24 15:06] tclh123 commented on #453
@FillZpp Why is this bugfix not mentioned in the CHANGELOG? If you can reference the bugfix commit to this issue, it would be helpful.

[2021-03-24 15:22] Daxcor69 commented on #566
[code]

[2021-03-24 18:10] Fei-Guo commented on #566
Let me try to understand your request.

If you delete your bcj CR and the job Pod still exists, please check if the Pod's ownerreference field in the metadata is set correctly. If the ownerreference is set correctly, the Pod should be deleted by the K8s's built-in garbage collection (https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/) .

If you don't want to delete the b

[2021-03-24 18:26] Daxcor69 commented on #566
ok, I will explain what is happening.  I create a bcj using the yaml spec'ed above. It runs and completes with status  terminated:succesfull.   Now when I want run this bcj again via kubectl apply -f my.yaml, it fails because there is one that already exists. So I issue, kubectl delete bcj myjob.  Then I am free to run kubectl apply -f my.yaml  again to run the tast again.  So my question is two f

[2021-03-24 18:39] Fei-Guo commented on #566
If you look at the BCJ API https://github.com/openkruise/kruise/blob/master/apis/apps/v1alpha1/broadcastjob_types.go.

You should specify
[code]

[2021-03-25 02:14] FillZpp commented on #453
@tclh123 Sure, I can add it into CHANGELOG later, thanks.

[2021-03-25 11:25] #410 closed

[2021-03-27 14:02] 4220182 opened #574 "不支持在kustomization.yaml中添加新labels"
**What happened**:
我通过Kustomize管理我们部署文件，定义kustomization.yaml 如下：
[code]
定义cloneset文件：cloneset.yaml
[code]
定义service.yaml:
[code]
执行发布：
[code]
问题：nginx的endpoints获取不到pod的ip：
[code]
检查service:
[code]
检查pod的yaml：
[code]

可以看到service通过以下标签寻找pod的ip地址：
[code]
但是cloneset没有把标签：
[code]
添加到pod的labels中，因此导致service找不到pod。

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as p

[2021-03-29 02:10] FillZpp commented on #574
@4220182 Looks like the service defined in `service.yaml` only has `app: nginx` selector. I have no idea where the `release: production` comes from.

Please make sure the component which injects `release: production` into service should also inject it into cloneset or pod directly.

[2021-03-29 12:25] 4220182 commented on #574
我已经在kustomization.yaml中定义了 release: production 注入cloneset和service([参考https://kustomize.io/](https://kustomize.io/))，如下：
[code]
但是，我发布后，查看cloneset 并没有注入 ：release: production ，只注入了service。是不是kustomize不支持 cloneset ?
如果是这样，请问有什么办法可以在kustomize使用cloneset ?

[code]

[2021-03-31 03:13] hantmac commented on #574
@4220182 You should delete cloneset and recreate it, because admission webhook "vcloneset.kb.io" denied the request for updating resources other than to cloneset spec for fields other than 'replicas', 'template', 'lifecycle', 'scaleStrategy', 'updateStrategy', 'minReadySeconds' and 'revisionHistoryLimit'.

[2021-03-31 03:34] FillZpp commented on #574
@4220182 It is because the `kustomize` does not recognize the resource `CloneSet`.

As you define `release: production` in `commonLabels`, `kustomize` will help you inject the label into resources. And if it find the resource is the K8s built-in workload like `Deployment`/`StatefulSet`, it will also inject the label into the pod template of workload.

However, `kustomize` does not recognize the re

[2021-03-31 03:41] hantmac commented on #574
But it also can't inject the label into CloneSet labels, `spec:selector:matchLabels`  of cloneset does not have  `release: production`.

[2021-03-31 03:46] FillZpp commented on #574
@hantmac  `kustomize` does not recognize `CloneSet`, which means it has no idea that `CloneSet` has `spec.selector` or `spec.template`, and will only inject the label into `metadata.labels`. So the problem is not caused by the immutable `spec.selector`.

[2021-03-31 03:48] hantmac commented on #574
I got you, but recreate this cloneset  will  resolve this problem.

[2021-03-31 03:55] FillZpp commented on #574
Recreate this cloneset can not solve this problem. `kustomize` can still only inject `release: production` into `metadata.labels`, and no injection in `spec.selector` or `spec.template`. Unless he explicitly defines the label in CloneSet, instead of let it injected by `kustomize`.

[2021-03-31 03:58] hantmac commented on #574
What i mean.

[2021-04-01 03:18] #451 closed

[2021-04-02 08:09] TonyBian opened #580 "broadcastjob 状态不对，无法自动删除"
Kruise 版本：0.8.0

Kubernetes 版本：1.18.16

broadcastjob 配置及状态：
spec:
  completionPolicy:
    activeDeadlineSeconds: 600
    ttlSecondsAfterFinished: 30
    type: Always
  failurePolicy:
    type: FailFast
  parallelism: 2147483647
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - command:
            ......
status:
  active: 8
  desired: 8
  failed: 0
  phase

[2021-04-02 08:52] hantmac opened #581 "[DOC] Shortcut name for BroadcastJob is `bcj` not `bj`"
![image](https://user-images.githubusercontent.com/7600925/113399893-88f3e580-93d3-11eb-89c0-94b05ce145bd.png)

Shortcut name for BroadcastJob is `bcj` not `bj`, the docs `https://openkruise.io/en-us/docs/broadcastjob.html` need fix.

[2021-04-03 13:55] hantmac opened #582 "[BUG] broadcastJob reconcile failed"
**What happened**:
I create a `broadcatJob` use next yaml:

[code]
BUT, the `broadcastJob` stop in the next status:

![image](https://user-images.githubusercontent.com/7600925/113480276-1e6fa200-94c6-11eb-968a-d11b648dddc1.png)

**What you expected to happen**:

I want the `bcj` run until all the job (number of node) completed.

**How to reproduce it (as minimally and precisely as possible)**:

Us

[2021-04-05 16:45] LiuVII opened #583 "[Question/Feature request] Terraform support and/or helm subcharts support"
Would be great if openkruise could be efficiently used with Terraform.

1) I couldn't find an existing provider for it, but I'll ask here anyway: is there one? are there any plans to make one?

2) If not direct terrafrom support, I noticed that openkruise has helm charts support but charts/templates are not hosted in any repo one can easily access iiuc. An awesome way to go would be if templates c

[2021-04-07 03:58] FillZpp commented on #583
@LiuVII Thanks for the advice.

Could the [helm release with chart URL](https://registry.terraform.io/providers/hashicorp/helm/latest/docs/resources/release#example-usage---chart-url) helps you use openkruise in Terraform?

[2021-04-07 07:28] yutinghua opened #586 "[BUG]kruise预热镜像导致docker.sock连接数暴增"
**What happened**:
现象：使用kruise预热镜像时，docker.sock连接数暴增，导致拉镜像卡住，必须重启docker才能恢复。
初步排查：查看docker.sock 发现数量非常多，达到好几万，拉镜像会非常慢，甚至卡住，然后重启kruise-daemon，docker的连接会慢慢下降。但是目前看代码，发现kruise查看镜像和实际拉镜像，都是使用了pullWorker.runtime，里面使用使用的client应该是单例的，不知道哪里创建了这些连接
![image](https://user-images.githubusercontent.com/20547895/113827405-d8605a00-97b5-11eb-8ad8-5ea1e8d28809.png)

**Environment**:
- Kruise version: https://gith

[2021-04-07 08:29] FillZpp commented on #586
@yutinghua You can firstly get the pid of kruise-daemon: `ps -ef | grep kruise-daemon`, then look for the number of socket it connected `ls /proc/${PID}/fd -l | grep socket:`

[2021-04-07 17:29] #580 closed

[2021-04-07 17:29] #582 closed

[2021-04-09 02:14] FillZpp commented on #581
closed by https://github.com/openkruise/website/pull/47

[2021-04-09 02:14] #581 closed

[2021-04-09 02:17] FillZpp commented on #580
@TonyBian Sorry for the trouble. We have released `v0.8.1` that fixes this bug, please update kruise version if you need.
https://openkruise.io/en-us/docs/installation.html#upgrade-with-helm-charts

[2021-04-09 02:17] FillZpp commented on #582
@hantmac Sorry for the trouble. We have released `v0.8.1` that fixes this bug, please update kruise version if you need.
https://openkruise.io/en-us/docs/installation.html#upgrade-with-helm-charts

[2021-04-09 04:36] xiaohui opened #590 "`apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+` when helm install greater than v1.16+"
**What happened**:
warning messages  display when  helm install on the kubernetes's version is   greater than v1.16
[code]

**What you expected to happen**:
no warning messages

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:
v0.8.1
- Kubernetes version (use `kubectl version`):
[code]

- Kernel (e.g. `uname

[2021-04-09 06:04] yutinghua commented on #586
排查发现应该不是kruise的问题，抱歉，我再继续排查一下

[2021-04-09 06:04] #586 closed

[2021-04-09 06:20] FillZpp commented on #590
@xiaohui To make Kruise compatible with Kubernetes version lower than 1.16, we had to use CRD v1beta1 currently.
But we do have a plan to bump CRD to v1 in future, maybe Kruise v1.0 release.

[2021-04-14 09:27] zmberg opened #597 "[BUG] create sidecarSet with volumes.downwardAPI failed"
create sidecarSet with volumes.downwardAPI failed.
sidecarSet.yaml
[code]
kubectl create -f sidecarset.yaml
Error from server: error when creating "sidecarset.yaml": admission webhook "vsidecarset.kb.io" denied the request: [spec.volumes[0].downwardAPI.fieldRef.apiVersion: Required value, spec.containers[0].volumeMounts[0].name: Not found: "podinfo"]

[2021-04-14 09:29] zmberg commented on #597
This issue is due to the lack of default setting for sidecarset.spec.volumes, resulting in a null of spec.volumes[0].downwardAPI.fieldRef.apiVersion

[2021-04-16 04:08] zmberg opened #602 "[BUG] pod.annotations[sidecarset-hash] compatibility issues"

[2021-04-24 02:36] littletiger123 opened #611 "[Discussion] How to make sure the data is up-to-date when the events of the same instance are reconciled in more than one worker at the same time?"
I notice that the log shows the worker number is 3 when installing the kruise. I want to know that when the events of the same instance are reconciled in more than one worker at the same time, how to make sure the instance info got by one worker is up-to-date because the info may be modified by the other workers.

[2021-04-24 02:40] Fei-Guo commented on #611
Client-go workerqueue ensures that there is only one worker that actively handles a reconciled object (no parallel reconciling).

Check this out for details.
http://openkruise.io/en-us/blog/blog2.html

[2021-04-24 02:53] littletiger123 commented on #611
Get, thanks a lot.

[2021-04-24 05:52] #611 closed

[2021-04-29 20:25] lowkeyliesmyth opened #614 "[BUG] Helm chart 0.8.1 uses system namespace instead of kruise-system namespace"
**What happened**: Upgrading helm install from 0.7.0 -> 0.8.1 fails to install Statefulset CRD, validating-webhook and mutating webhook correctly as they reference namespace `system` instead of `kruise-system`. Helm chart does not include `system` namespace.

**What you expected to happen**: Applying helm chart 0.8.1 would update and install all objects correctly.

**How to reproduce it (as minima

[2021-04-30 03:08] #614 closed

[2021-04-30 03:10] FillZpp commented on #614
@lowkeyliesmyth Thanks for reporting! I have fixed the yamls and upload the new chart.

[2021-05-05 13:10] yxxhero opened #616 "[feature request] HPA support?"
**What would you like to be added**:
Cloneset adds feature similar to HPA.

**Why is this needed**:
horizontal autoscale

[2021-05-05 19:07] Fei-Guo commented on #616
CloneSet can be controlled by existing HPA controller as a managed workload. It should not implement HPA related  features in order to separate the concern.

[2021-05-06 01:09] yxxhero commented on #616
ok. Thanks for your reply.

[2021-05-06 01:09] #616 closed

[2021-05-06 01:13] Fei-Guo commented on #597
This should be fixed. Please reopen if the problem still occurs.

[2021-05-06 01:13] #597 closed

[2021-05-10 02:40] #293 closed

[2021-05-14 01:41] yangjunsss opened #618 "[feature request]Pods rolling running in BroadcastJob"
**What would you like to be added**:
Add Pods rolling running policy in BroadcastJob to prevent  Job Pod breaking down all node in cluster.

**Why is this needed**:
BroadcastJob is very suitable for patching bug in master&node, but  we hope running job step by step . What do you think?

[2021-05-14 06:17] zeusro opened #619 "[feature request] 在自定义namespace中运行 open-kruise"
**What would you like to be added**:
在自定义  namespace 中运行 open-kruise

**Why is this needed**:
定制化需求

目前的问题是，我clone了这个项目，用 .VALUES.namespace 替换掉了默认的运行命名空间 ”kruise-system“ 。启动运行之后发现一个选主错误

[code]
检查代码发现是 main.go 里面使用了，而部署的启动参数中没有能够修改的地方。

[code]

希望在下一个版本，能够支持其他 namespace 下运行 open-kruise。

[2021-05-14 06:24] zeusro commented on #619
另外，制作 helm 包的时候建议把 crd 抽取出来（建一个crds 目录，跟template 同级），这样比较符合 helm 的最佳实践

https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

[2021-05-14 08:00] FillZpp commented on #331
Issues go stale after 90d of inactivity.

[2021-05-14 08:00] #331 closed

[2021-05-17 02:32] #619 closed

[2021-05-18 02:12] #518 closed

[2021-05-18 11:47] hantmac opened #624 "[feature] A kubectl plugin for OpenKruise"
**What would you like to be added**:
A kubectl plugin for OpenKruise.

**Why is this needed**:
`kubectl` supports a plug-in mechanism, but the rollout and other related operations provided by this tool itself only support the native workload resources of Kubernetes. Therefore, we need to create a kubectl plugin for OpenKruise, through which community users can use kubectl to operate Kruise’s workl

[2021-05-19 01:52] furykerry commented on #624
Great jobs. kubectl rollout for CloneSet is indeed the most wanted command, other commands is also possible, such as

1. kubectl kruise rollout for other Kruise workload such as advance statefulset
2. kubectl set
2. kubectl kruise autoscale
3. kubectl kruise

You can also contribute a patch to us, and we'd like to include these plugins in the kruise release

[2021-05-19 02:14] FillZpp commented on #624
@hantmac You may write it in [openkruise/kruise-tools](https://github.com/openkruise/kruise-tools), and change the `kruise` binary to `kubectl-kruise`.

[2021-05-19 02:24] hantmac commented on #624
How about create the new project openkruise/kubectl-kruise?  It may be more clear for user.

[2021-05-19 02:37] FillZpp commented on #624
This is a plugin for kubectl, there might be more plugins for kustomize or any other extenders. To avoid duplicated repos and code, maybe put them into one `kruise-tools` repo is better?

[2021-05-19 02:48] hantmac commented on #624
Agree.

[2021-05-20 21:58] murrayres opened #627 "Documentation may not match behavior"
Documentation states that with Surging type AdvancedDaemonset  changes pods by "creating the new pod and then killing the old one."  The rollout restart command is not available for this Advanced Daemonset.  When I use the patch method mentioned in another issue report, the pods restart, it puts one into Terminating phase first.  This seems to not act as expected.

**What you expected to happen**:

[2021-05-21 02:44] FillZpp commented on #627
@murrayres Sorry, it seems the field should be `rollingUpdateType` instead of `type`. Would you please test it again?

[code]

I will fix the documentation soon, thanks for reporting!

[2021-05-21 02:56] FillZpp commented on #495
It has provided in [v0.9.0 release](https://github.com/openkruise/kruise/releases/tag/v0.9.0).

[2021-05-21 02:56] #495 closed

[2021-05-21 03:23] hantmac opened #628 "[BUG] Advanced StatefulSet does not work"
**What happened**:

I use the belows to creates a guestbook application using advanced statefulset.

[code]
But the asts does not generate pod:
![image](https://user-images.githubusercontent.com/7600925/119077161-602cbb80-ba26-11eb-95e8-22264ecbe09f.png)

**What you expected to happen**:

The asts work well.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

Then `kubectl g

[2021-05-21 03:27] FillZpp commented on #628
@hantmac please paste the print of `kubectl get asts xxx -o yaml`, see if any error message in status

[2021-05-21 03:30] FillZpp commented on #628
`sts` is declared by the built-in statefulset and advanced statefulset, the former one has higher priority. So you have to use `asts` or `sts.apps.kruise.io`.

[2021-05-21 03:32] hantmac commented on #628
[code]

[2021-05-21 03:35] FillZpp commented on #628
If there is no status in the yaml, maybe the kruise-controller-manager is in some abnormal states. You may check the state and log of it.

[2021-05-21 03:54] hantmac commented on #628
The kruise-controller-manager seems in normal state :
![image](https://user-images.githubusercontent.com/7600925/119079200-3a091a80-ba2a-11eb-9d4e-e32792bbbc38.png)

And some recent logs about asts of leader controller :
[code]

Some recent logs of leader controller:
[code]
Any abnormal states?

[2021-05-21 03:57] shiyan2016 commented on #628
@hantmac  Do you make a upgrade for kruise from some version to 0.8.1?

[2021-05-21 03:59] FillZpp commented on #628
grep the `demo-v1-guestbook-kruise` name in the logs, see if any warning?

[2021-05-21 04:04] hantmac commented on #628
Nothing about `demo-va-guestbook-kruise`.

![image](https://user-images.githubusercontent.com/7600925/119080405-9a995700-ba2c-11eb-8ad6-f3d28e07ad55.png)

[2021-05-21 04:06] hantmac commented on #628
I am in version v0.7.0

[2021-05-21 07:14] hantmac commented on #628
Recreating kruise controller does not work but I upgrade version to v0.8.1 , it works.

[2021-05-22 03:50] hantmac commented on #624
@FillZpp openkruise tool add the belows in this [pr](https://github.com/openkruise/kruise-tools/pull/1),  if you have time, help me review the code.

1. Refactor to standard kubectl plugin format;
2. Support rollout cmd for CloneSet.

[2021-05-25 03:00] shiyan2016 opened #630 "[BUG] nodeimage not found error"
**What happened**:
[code]
**What you expected to happen**:
process update nodeimage after controller receive nodeimage create event

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version:  v0.9.0
- Kubernetes version (use `kubectl version`): v1.19.3
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- I

[2021-05-25 04:00] #630 closed

[2021-05-27 09:49] wzh352 opened #632 "[BUG] CloneSetPartitionRollback does not work in some case"
**What happened**:
I create cloneset with replicas 3 and partition 3. At first, I change the cloneset yaml for container image and I reduce the partition to 1 which means updating two pods. After finished updating, I change back partition to 3 like this:
![image](https://user-images.githubusercontent.com/83957704/119803418-03dc0700-bf12-11eb-9f32-0473e8913202.png)
however,controller only rollback

[2021-05-27 11:05] #632 closed

[2021-06-01 03:20] ilyee opened #633 "[feature request] Make enabled controllers configurable"
**What would you like to be added**:

Make setup for controllers configurable in `/pkg/controller/controllers.go` which means we can choose specific controllers to enable.

**Why is this needed**:

Now all the controllers are enabled by default, but in some cases we only need to enable some features and don't need others.

So is it better to make controllers' setup configurable by controllers' nam

[2021-06-01 07:31] FillZpp commented on #633
@ilyee For those features that might have effects on user's k8s clusters, like kruise-daemon/deletion-protection, we have provided feature-gates to let users disable them.

But for other controllers, there is no need for users to choose. Just like the controllers in kube-controller-manager, you need not to disable some of them, such as cronjob controller, even if you never use them.

[2021-06-01 08:01] ilyee commented on #633
I agree with that never used controllers don't have effects.

But I think there still exists one scene where we don't want users to use several features provided by kruise(for example we have a web page for k8s cluster but the page don't support the display of some workloads). Sure we can control their creations using `ClusterRole` or `Webhook`, but I think we can take less steps by disabling them

[2021-06-02 02:36] FillZpp commented on #633
@ilyee Understand. But in that case, if we disabled controllers like cloneset-controller, end users can still create a cloneset object on the web page or via kubectl, but the object will remain there with no controller handle it.

Will this be more confused?

[2021-06-02 05:31] ilyee commented on #633
@FillZpp Yes that will be more confused if `cloneset` crd is applyed.

But can we do this "disable" while installing kruise? I mean we can skip some crds' installation, so `cloneset` won't be available for end users.

[2021-06-02 08:45] FillZpp commented on #633
That might have risk that if someone had already installed Kruise, then he upgrade Kruise with a parameter which remove the CRD yaml in helm chart. It will cause the CRD installed previously been deleted by helm, and all CRs belongs to it will also be deleted.

How about a crd-disable-gate that just forbids users to create the CR? For example, you can put 'CloneSet' into the gate when install or u

[2021-06-02 09:04] ilyee commented on #633
crd-disable-gate sounds pretty good to me, can I make a pr for this?

[2021-06-03 08:01] JayceLau opened #634 "kruise-controller-manager调用超时导致所有的pod无法创建"
**What happened**:
如题
**What you expected to happen**:
正常创建
**How to reproduce it (as minimally and precisely as possible)**:
kruise-controller-manager假死时创建pod
**Anything else we need to know?**:
日志如下：dispatcher.go:137 failed calling webhook "mpod.kb.io": Post https://kruise-webhook-service.kruise-system.svc:443/mutate-pod?timeout=30s: net/http:request canceled (Client,Timeout exceeded while await

[2021-06-03 08:07] FillZpp commented on #634
@JayceLau You can disable `PodWebhook` feature-gate during install or upgrade Kruise, https://openkruise.io/zh-cn/docs/installation.html#%E5%8F%AF%E9%80%89%3A-feature-gate , if you worry about the availability of kruise manager.

[2021-06-03 09:17] JayceLau commented on #634
OK

[2021-06-03 09:17] #634 closed

[2021-06-07 03:12] fatedier commented on #633
@ilyee I think it's a good way to control user's permission and ability by RBAC.

[2021-06-07 03:26] furykerry commented on #633
crd-disable-gate  looks pretty weird to me,  i think stop related controller is more effective and more general. For example, there is use cases where for security  reasons, OpenKruise must not run some controllers, simply reject users requests is not enough.

[2021-06-07 04:50] ilyee commented on #633
@fatedier Yes I think it may be the best way if we don't want to make some change in kruise, though it may takes a few more steps to configure users' permission

[2021-06-07 04:54] ilyee commented on #633
@furykerry  So you think it's better not running those forbidden controllers during kruise's initialization? Or stop them after init?

[2021-06-07 06:45] #627 closed

[2021-06-10 05:28] wdwangcumt opened #635 "[BUG] inplace update process will be hang up when the image id is not changed"
**What happened**:

First, create a cloneset `sample` by using the following yaml content:
[code]
apply it, watch the pods by command `kubectl get pod  -L controller-revision-hash -L lifecycle.apps.kruise.io/state -w`, it will work well.

Then, we edit the cloneset `sample`, modify the following fields:
[code]
Watch pods, we will see the problem:
1. **Only one pod's revision will changed, while tw

[2021-06-10 06:15] FillZpp commented on #635
@wdwangcumt It is by design that inplace update can not support for two images with different tags and the same imageID.

The controller doesn't know whether the update is completed, if the imageID not changed.
https://github.com/openkruise/kruise/blob/master/pkg/util/inplaceupdate/options.go#L149

[2021-06-10 13:01] wdwangcumt commented on #635
I knew the purpose of the design, and I have read the related codes and comments in `kruise` project. But, we should give user the correct status  of CloneSet and Pod after they are updated, even though the user updates the CloneSet by a new image which its imageID is equal to the old.

Otherwise, the meaning of the `updateStrategy.partition` is confused, and the pod's label `lifecycle.apps.kruise

[2021-06-11 07:51] FillZpp opened #637 "[feature request] Update the version of Kubernetes dependencies and bump CustomResourceDefinition to v1"
**What would you like to be added**:
1. Update the version of Kubernetes dependencies, such as k8s.io/api, sigs.k8s.io/controller-runtime.
2. Bump CustomResourceDefinition to v1.

**Why is this needed**:
CustomResourceDefinition v1beta1 is deprecated in Kubernetes v1.16+, and will be removed in v1.22+.
Issue related: #590

[2021-06-11 08:17] FillZpp commented on #618
@yangjunsss Sorry for this late reply... Unfortunately, BroadcastJob are guaranteed to run the job **once** on each node.
If it supports rolling update by recreating jobs, this might cause the jobs ran multiple times on a same node, which will break the promise.

[2021-06-11 08:27] FillZpp opened #638 "[feature request] CloneSet should choose Pods to delete according to topology constraints"
**What would you like to be added**:
CloneSet should choose Pods to delete according to topology constraints.

**Why is this needed**:
1. Pods that on the same node should be deleted preferentially.
2. Should delete Pods according to [topology spread constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/).

[2021-06-11 08:36] FillZpp opened #639 "[feature request] Need a bypass scheme for elasticity and multi-domain management"
**What would you like to be added**:
Need a bypass scheme for elasticity and multi-domain management.

**Why is this needed**:
Not like UnitedDeployment, we hope users needn't learn the usage of a new workload and how to deploy and update their application by it.
They only have to create the new CRs related to their existing workloads.

Proposal: #613

[2021-06-11 08:43] FillZpp opened #640 "[feature request] PodMarker: mark Pods by number, labels, nodes, probes"
**What would you like to be added**:

PodMarker: A new CRD that marks Pods by number, labels, nodes, probes.

**Why is this needed**:

- A canary release plan may want to upgrade X number of Pods out of Y number of total replica.
- Differentiate Pods with labels according to their different Nodes.
- Mark Pods that satisfy the specific prober (http/tcp/exec).

[2021-06-11 08:44] FillZpp commented on #205
closed by the new feature request #640

[2021-06-11 08:44] #205 closed

[2021-06-11 08:55] FillZpp opened #641 "[feature request] Support decoupled liveness probe that restart containers with rate limit"
**What would you like to be added**:
Support bypass liveness probe that restart containers with rate limit.

**Why is this needed**:
Now the failure of liveness probe always makes the container restart by Kubelet immediately.

If users publish a new version with the wrong probe mistakenly, all Pods in the Deployment or CloneSet will be restarted together.

We hope to build a bypass liveness probe,

[2021-06-11 09:40] FillZpp opened #642 "[feature request] Bind fixed topology to StatefulSet Pods, for CNI to allocate static IPs"
**What would you like to be added**:
Bind fixed topology to StatefulSet Pods.

**Why is this needed**:
If Pods in StatefulSet can be recreated with the same topology (e.g. the same host or zone), then CNI could allocate static IPs to Pods with the same order name.

[2021-06-11 09:48] FillZpp opened #643 "[feature request] PodUnavailableBudget: protect applications' availability from eviction, deletion, upgrade, ..."
**What would you like to be added**:
PodUnavailableBudget: protect applications' availability from eviction, deletion, update, ...

**Why is this needed**:
PDB can only intercept evection, no protection for other operations e.g. deletion, upgrade.

PUB should help users protect Pods and applications' availability from various risks.

[2021-06-11 10:08] FillZpp opened #644 "[feature request] In-place update supports env modification and images with the same imageID"
**What would you like to be added**:
In-place update supports env modification and images with the same imageID.

**Why is this needed**:
Formerly, kruise-manager can only check completion of in-place update according to pod status, which makes it can only distinguish the images with different imageID.

Now we have kruise-daemon running on the node, we can judge the real imageID through CRI and tr

[2021-06-13 05:37] wdwangcumt commented on #644
I have an idea that if we consider using kruise-daemon to do this, then we can also consider supporting pod's inplace-update after modifying the configmaps, such as adding or deleting a configmap in the spec of the pod, the need is reasonable.

[2021-06-15 02:36] FillZpp opened #645 "[feature request] StatefulSet should support scaling with rate limit"
**What would you like to be added**:
StatefulSet should support scaling with rate limit.

**Why is this needed**:
Currently, a StatefulSet with `podManagementPolicy=OrderedReady` will create Pods one by one, or with `podManagementPolicy=Parallel` will create all Pods at once.

It should support a rate limiter for scaling with `podManagementPolicy=Parallel`, as the `maxUnavailable` for updating.

[2021-06-16 03:07] FillZpp commented on #644
@wdwangcumt yes, we can do this, and may be supported in next minor release.

[2021-06-17 07:38] #645 closed

[2021-06-22 11:15] yuheshuang commented on #289
Orgnization/Company: joyy
Location: GuangZhou, China
Contact: yuheshuang@joyy.sg
Purpose/Scenario: Using CloneSet and AdvanceStatefulSet for manage stateless and stateful apps. We need in place and partial update.

[2021-06-24 03:42] yangjunsss commented on #618
@FillZpp Happy for your reply, I means each jobs running each node step by step according some strategry to prevent cluster disaster, because we can't ensure the node or cluster avaiable even the job's status is successful.

I would like to run the *patch job* on each node but we need leave some time to watch the cluster's health.

[2021-06-24 04:04] FillZpp commented on #618
@yangjunsss  How about use the Advanced CronJob, which can create and run BroadcastJobs periodically? You could set the cron to make the job run once on nodes everyday.

[2021-06-24 09:23] zaldnoay commented on #289
Orgnization/Company: Mobvista
Url: https://www.mobvista.com/
Location: Guangzhou, China
Contact: junwei.liang@mintegral.com
Purpose/Scenario: Using Kruise for log collect sidecarsets and manage stateless cloneset apps.

[2021-06-25 03:51] yangjunsss commented on #618
I think CronJob can't resolve my problem. I concern the broadcast job which includes all pods break the cluster's node and master down even the Job's status is successful, so I perfer running each Job Pod gradually to run meantime. How do you think?

[2021-06-25 06:18] FillZpp commented on #618
@yangjunsss Oh, do you mean the `parallelism` provided in BroadcastJob spec? It specifies the maximum desired number of pods the job should run at any given time. Not setting this value means no limit.
https://openkruise.io/en-us/docs/broadcastjob.html#parallelism

[2021-06-28 06:30] yangjunsss commented on #618
We don't think `parallelism` is enough. We expect to run Pods in exponential growth like x^(y-1). And the controller can export a way like hook to let us to check cluster health after each batch execution.

Pods: 10
base count(x) : 2

Process:
start --- P0 --- hook point --- P1P2 --- hook point --- P[3-6] --- hook point --- P[7-9] --- finish

[2021-06-30 07:44] #638 closed

[2021-07-02 09:33] miaojianwei opened #658 "[feature request] Sidecar lifecycle control"
**What would you like to be added**:
I want to be able to configure the sidecar’s lifecycle, let the sidecar to stop running when the main container stops running, with no need for the main container to provide additional interface for status detection.

**Why is this needed**:
I add a sidecar container to the pod running the user‘s computing task such as AI training, which is used to provide some

[2021-07-07 06:50] algebra2k opened #660 "[feature request] How to choose between multiple containers control by SidecarSet?"
**What would you like to be added**:
In our cluster, we run deployments too many. and we want to use SidecarSet to provide automatic sidecar injection for the deployments.

Normally, the image version of our sidecar container is fixed. e.g. `image: sidecar: prod` and we add the
[code]
to deployments allow `SidecarSet` to inject them.

However, when we have a new version of the sidecar container im

[2021-07-07 06:53] FillZpp commented on #660
/assign @zmberg

[2021-07-07 11:29] FillZpp commented on #658
/unassign @jian-he
/assign @FillZpp

[2021-07-07 12:16] zmberg commented on #660
First, I can assume that sidecar prod and debug are different versions of the same sidecar. For this scenario, I suggest the following configuration:
------------------------------------------
apiVersion: apps.kruise.io/v1alpha1
kind: SidecarSet
metadata:
  name: sidecar-prod
spec:
  selector:
    matchLabels:
      sidecar-version: prod
  containers:
  - name: sidecar
    image: sidecar:prod
---

[2021-07-07 13:33] algebra2k commented on #660
Thank you very much for your reply, this approach is in our consideration.

[2021-07-08 01:22] daixiang0 opened #662 "[feature request] let CI do more check"
**What would you like to be added**:

Add golangci-lint as Github Action. I have done at local, if possible, I will post it.

**Why is this needed**:

I have seen some PRs related to format, while there is no lint check in CI. Enable lint check would import code quality and make project better.

[2021-07-08 02:12] FillZpp commented on #662
/unassign @jian-he
/assign @FillZpp

[2021-07-08 02:16] FillZpp commented on #662
@daixiang0 Thanks. We do have golangci-lint in the actions: https://github.com/openkruise/kruise/blob/master/.github/workflows/ci.yaml#L51

Do you have any suggestions for any lint plugin else should we enable?

[2021-07-08 02:54] daixiang0 commented on #662
I think it is better to add config in repo rather than use flags to override default, which become easy to maintain rather than switch to golangci-lint repo to see default config and merge them in mind.

[2021-07-08 03:00] daixiang0 commented on #662
Also no lint run as https://github.com/openkruise/kruise/pull/653

[2021-07-08 03:24] FillZpp commented on #662
It is because first-time contributors need a maintainer to approve running workflows. 😄
![image](https://user-images.githubusercontent.com/7541475/124855759-06834f00-dfdc-11eb-9c66-c0c53a9c7ef8.png)

Do you mean define a `.golangci.yml` config file in repo instead of writing the flags in `ci.yaml`? It's ok for me, are you willing to assign it?

[2021-07-08 03:51] daixiang0 commented on #662
Got it, happy to do that.

[2021-07-08 03:56] FillZpp commented on #662
/assign @daixiang0

[2021-07-08 05:21] daixiang0 opened #663 "[feature request] add stale bot"
**What would you like to be added**:

Add stale bot.

**Why is this needed**:

There are many issues/PRs left without update, use this bot to tip and close.

[2021-07-08 06:22] FillZpp commented on #658
@miaojianwei Understand. For those pods with restartPolicy `never` or `onFailure`, sidecar container will remain running,  even if the main container has already stopped. We suppose to solve this problem in feature releases.

[2021-07-08 07:33] FillZpp commented on #663
@daixiang0 Good idea. I will configure it later.
/unassign @jian-he
/assign @FillZpp

[2021-07-08 08:31] daixiang0 opened #665 "[feature request] better GOVERNANCE"
**What would you like to be added**:

I want requirements for members and approvers.

**Why is this needed**:

Now https://github.com/openkruise/kruise/blob/master/GOVERNANCE.md only comment how to be a maintainer, not for members and approvers, so that there is a big gap between contributors and maintainers.

BTW, the current doc comments an unclear process to become a maintainer -- only need to

[2021-07-08 11:53] FillZpp commented on #665
@daixiang0 Yes, currently the GOVERNANCE is imperfect, I will update it next week. Thank you for the advice and we also welcome you to our community.
/unassign @jian-he
/assign @FillZpp

[2021-07-11 06:12] #660 closed

[2021-07-12 16:37] #663 closed

[2021-07-12 16:38] #662 closed

[2021-07-13 05:58] FillZpp commented on #509
/pinned

[2021-07-13 05:59] FillZpp commented on #510
/pinned

[2021-07-13 07:12] FillZpp commented on #411
/pinned

[2021-07-13 07:13] FillZpp commented on #232
/pinned

[2021-07-13 11:22] #665 closed

[2021-07-14 07:35] FillZpp commented on #299
/pinned

[2021-07-14 12:16] codwu opened #674 "[BUG] pod metadata is not validated when creating CloneSet"
**What happened**:
Create a cloneset
[code]
the `sample.yaml` is below
[code]
Note the pod metadata has an invalid field: `foo`.
In fact, the cloneset is created successfully without any error.  However, the created cloneset don't have `foo` in `spec.template.metadata`.

**What you expected to happen**:
There should be an error and I cannot create the cloneset.

**How to reproduce it (as minimally

[2021-07-15 02:09] FillZpp commented on #674
@codwu Currently we have no way to validate the unknown fields, because the `template` structure is so complicated that it has to be a single object in CloneSet CRD:
[code]

[2021-07-15 02:10] FillZpp commented on #674
/wontfix

[2021-07-16 02:40] 1032231418 commented on #289
Orgnization/Company:  深圳凤凰木网络有限公司
Location: ShenZhen, China
Contact: zhangbch@txxy.com
Purpose/Scenario:  Using CloneSet for manage stateless apps.

[2021-07-19 07:19] shiyan2016 opened #676 "[BUG] Pod with Updated state cannot update/rollback"
**What happened**:
Setting cloneset with inplace update lifecycle hook, when pod enter to Updated state, make cloneset rollback the image or update to new image, the pod with Updated state will skip to update.

**What you expected to happen**:
can update Updated pod in the premise of not loss traffic

**How to reproduce it (as minimally and precisely as possible)**:
Create a cloneset with replicas

[2021-07-19 10:06] hantmac commented on #676
In your debug process, if you want to rollback cloneSet quickly, recommend to use the kubectl plugin of `OpenKruise` - [kubectl-kruise](https://github.com/openkruise/kruise-tools).  Then just use `kubectl-kruise rollout undo clone/abc` to rollback.

[2021-07-20 02:56] #574 closed

[2021-07-20 02:56] #583 closed

[2021-07-20 02:58] FillZpp commented on #590
/pinned

[2021-07-20 03:56] #546 closed

[2021-07-20 03:56] #566 closed

[2021-07-20 04:56] #535 closed

[2021-07-20 04:56] #565 closed

[2021-07-20 04:56] #556 closed

[2021-07-20 06:05] #413 closed

[2021-07-20 08:05] #507 closed

[2021-07-20 09:05] #329 closed

[2021-07-20 09:05] #303 closed

[2021-07-20 09:05] #279 closed

[2021-07-20 10:32] #375 closed

[2021-07-20 10:32] #488 closed

[2021-07-20 10:32] #493 closed

[2021-07-20 11:32] #161 closed

[2021-07-20 11:32] #415 closed

[2021-07-20 11:32] #467 closed

[2021-07-21 04:00] hantmac commented on #676
I reproduced this scene, and found when  `diffRes.updateNum > 0`

 so `waitUpdate` is true, run into in this code https://github.com/openkruise/kruise/blob/96371e2e7d6ca71d6c140e4c7f6a8ebfc3494ab4/pkg/controller/cloneset/sync/cloneset_update.go#L89 , pod with status `updated` wil be skipped to update.

The log is :

[code]

[2021-07-21 04:16] FillZpp commented on #676
Yes, and we are discussing whether the controller should patch the hook labels to Pod when it goes into PreparingUpdate state.

[2021-07-22 02:34] #674 closed

[2021-07-22 05:30] #602 closed

[2021-07-22 08:04] shiyan2016 commented on #676
The result of discussion is patching the hook labels to Pod when pod state from Updated to PreparingUpdate state. I will submit a PR to fix it.

[2021-07-22 10:08] pllsxyc opened #677 "[BUG]cloneset 的镜像预热好像不符合预期？"
使用镜像预热的功能+原地更新，是不是更新的时候，在镜像没拉完之前，这个pod上的流量是没有损失的？
场景：
我是用一个nginx的镜像，pod副本为1，使用curl while true进行请求
接下来更新镜像，使用了镜像预热，希望是镜像在没有拉完之前，这个pod上的流量是没有损失的，
整个过程中只有在镜像拉完后进行重启这个时间段内会出现502，但是现在看来是在一开始更新就出现502，整个更新过程都是502，请问这个镜像预热设计是否和我的预期一致？还是说我使用方式有误，并不能达到这个效果？

[2021-07-22 10:32] FillZpp commented on #677
@pllsxyc 原地升级配合的镜像预热功能目前几个前提：
1. [cloneset 副本数 > 3](https://github.com/openkruise/kruise/blob/master/pkg/controller/cloneset/cloneset_predownload_image.go#L54)，避免太多小 cloneset 升级导致大量的镜像预热任务
2. [在灰度升级时候执行](https://github.com/openkruise/kruise/blob/master/pkg/controller/cloneset/cloneset_predownload_image.go#L62)，也就是说 cloneset 发布策略要么设置 partition，要么 maxUnavailable 算出来要小于 replicas 总数。因为镜像预热是要在实际 pod 原地

[2021-07-22 10:52] pllsxyc commented on #677
哦哦，感谢回复解答，我现在的业务场景是这个pod只能有1个，所以我想使用镜像预热的功能尽可能缩短变更过程导致的流量受损（业务是可以只有一个pod）

| |
彭林林
|
|
***@***.***
|
签名由网易邮箱大师定制

在2021年07月22日 18:32，Siyu ***@***.***> 写道：

@pllsxyc 原地升级配合的镜像预热功能目前几个前提：

cloneset 副本数 > 3，避免太多小 cloneset 升级导致大量的镜像预热任务
在灰度升级时候执行，也就是说 cloneset 发布策略要么设置 partition，要么 maxUnavailable 算出来要小于 replicas 总数。因为镜像预热是要在实际 pod 原地升级之前做，如果所有 pod 发布立即就开始升级，那镜像预热就没有意义了

因此，你可以修改下测试场景。首先，确保 cloneset 副本

[2021-07-22 11:26] FillZpp commented on #677
了解。你可以把这个 issue 修改下，比如说明是需要 replicas=1 的镜像预热，我们下个版本可以提供一个参数让你可以配置做镜像预热的 replicas 阈值（比如从默认 3 改为 1）。

但即使改为 1，也要在发布的时候先使用 partition=1，等镜像预热做完之后再改为 partition=0 真正触发 pod 升级。你看是否可以满足？

[2021-07-22 11:44] FillZpp commented on #677
我们目前还在针对直播、游戏这类场景做一些整体调研和设计，这类业务往往有一些特殊需求（比如长连接、不可随意中断或旧版本进程不能立即退出等），面向这些垂直领域需求做一些通用性的解决方案。

其实这类 nginx 升级中断的问题，在 SidecarSet 中有 hot upgrade 是能对 sidecar 容器做[流量无损的原地热升级](https://openkruise.io/zh-cn/docs/sidecarset.html#sidecar%E7%83%AD%E5%8D%87%E7%BA%A7%E7%89%B9%E6%80%A7)，原理上是通过一个 Pod 中两个容器之间做交替升级和流量切换，但是 CloneSet 自身是不支持的，这块我们会整体考虑下。

[2021-07-22 11:49] pllsxyc commented on #677
好的好的，非常感谢

[2021-07-22 11:50] #677 closed

[2021-07-25 12:24] lilihongjava opened #678 "source code question: about pilot-agent pass the epoch"
https://github.com/istio/istio/issues/28265

“We need to let the old pilot-agent pass the epoch to the new pilot-agent and then complete the upgrade of the Envoy with the help of the hot upgrade of the envoy.”

I looked at the latest code. Not found old pilot-agent pass the epoch to the new pilot-agent。

Can you point out where the source code is？

[2021-07-29 03:06] zmberg commented on #678
You can see the [hot upgrade docs](https://openkruise.io/en-us/docs/sidecarset.html#hot-upgrade-sidecar), kruise's hot upgrade mechanism is a generic approach. In envoy's scenario, there is still some integration needed (envoy supports hot restart capability, but it needs to be integrated into the kruise mechanism).

[2021-07-29 05:36] #676 closed

[2021-07-29 05:41] lilihongjava commented on #678
Thank you for your reply.
Is there an example of  hot upgrade istio sidercar through kruise？

[2021-07-29 06:16] zmberg commented on #678
There is no direct envoy example here, but I have implemented a simple [demo hot upgrade](https://github.com/openkruise/samples/tree/master/hotupgrade). It is simple, but contains key points in the hot upgrade process. In case of envoy, it needs to be integrated in using a similar approach.

[2021-07-29 06:43] lilihongjava commented on #678
I've tried. It doesn't work in istio version 1.6. The pod can't start. The main reason is that istio has done a lot of work in istio-init of Init Containers.

[2021-07-29 06:52] zmberg commented on #678
Do you have Istio up and running now using sidecarSet? Did you not inject the init container?

[2021-07-30 01:23] rubinus opened #684 "[BUG] make test failed"
**What happened**: when run make test is failed

**What you expected to happen**:  imagejob_reader_test.go:55] failed to start the controlplane. retried 5 times: timeout waiting for process etcd to start

**How to reproduce it (as minimally and precisely as possible)**:
befor run make test.
1: install kubebuilder;
the binary kubebuilder must in:  /usr/local/kubebuilder/bin/
2: the etcd binary must

[2021-07-30 06:31] lilihongjava commented on #678
I don't understand 2 points now：
1、How to let the old pilot-agent pass the epoch to the new pilot-agent and then complete the hot upgrade of the envoy.Need to change the kruise source code？
2、How to inject the Istio init container?Copy the yaml generated by istio to the sidecarset？

[2021-08-02 03:52] FillZpp opened #685 "[feature request] Add feature-gate and strict limit for pod template defaults injection"
**What would you like to be added**:
1. Add feature-gate `PodTemplateNoDefaults` to control whether webhook (cloneset, advanced sts, sidecarset, broadcastjob, advanced cronjob, uniteddeployment) should inject pod default fields into pod template.
2. If `PodTemplateNoDefaults` is false, webhook should inject default fields only when the template changed.

**Why is this needed**:
If webhook always i

[2021-08-04 03:36] huanghuangzym commented on #678
where to find the difference between  registry.cn-hangzhou.aliyuncs.com/acs/asm-istio-proxy-empty:feature-1.6.x-511e4bb6e85be2c753a46d620efb1973251c1778  and istio-proxy image?

[2021-08-05 09:45] yehaifeng opened #692 "[BUG] cloneset deploy failed about forbidden set blockOwnerDeletion"
**What happened**:
I deployed the kruise using the tool helm. But it failed when I test it.
I use the platform is `Openshift4`
[code]

I found the error in the Pod `kruise-controller-manager`
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kruise version: v0.9
- Kubernetes version (

[2021-08-05 11:45] FillZpp commented on #692
@yehaifeng It seems the `cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on` error usually due to not having permission to the resource. Do you install Kruise using helm and v0.9.0 chart?

[2021-08-06 02:11] yehaifeng commented on #692
@FillZpp Yes, that is opened default by Openshift4.6.
I add the permission of the `finalizers` .

[2021-08-06 02:11] #692 closed

[2021-08-06 02:25] zmberg commented on #678
It's a complicated matter, and I've been hoping to answer your question, so I hope you'll take a good look at this article [OpenKruise helps Mesh Containers Hot Upgrade](https://mp.weixin.qq.com/s/J5tVtdhVLmjbb6kPgw0Qow).
Envoy Image needs to provide a hot upgrade script in PostStartHook, just like etcd using kubernetes Statefulset, which requires you to do some extra work. OpenKruise alone is not

[2021-08-06 02:31] zmberg opened #694 "[feature request] Does sidecarSet need to support the ability to pause, rolling update as well as injections are paused?"
**What would you like to be added**:
Not like updateStrategy.Paused only pause rolling update, in some scenarios, I want to stop injecting capabilities at the same time.

**Why is this needed**:
In some extreme scenarios, the Sidecar container may affect the business expansion (sidecar container keeps failing to start), so it is necessary to suspend the injection of sidecar container at this time.

[2021-08-06 03:46] FillZpp commented on #694
@zmberg How about a new `spec.injectionStrategy.paused` to indicate whether to pause new pod injection?

[2021-08-06 11:32] zmberg opened #697 "[feature request] Does kruise support service degradation capabilities?"
**What would you like to be added**:
kruise support service degradation capabilities, we can turn off some kind of controller or webhook, e.g. disable sidecarSet controller, disable pod mutating webhook.

**Why is this needed**:
In some extreme scenarios, a controller logic exception may cause the entire kruise to be unavailable, at which point service degradation capabilities are required to ensu

[2021-08-09 06:12] #678 closed

[2021-08-09 08:14] zmberg commented on #694
@veophi

[2021-08-09 12:59] veophi commented on #694
Request received.

[2021-08-10 06:01] #685 closed

[2021-08-12 09:12] veophi opened #705 "[feature request]Does SidecarSet support grayscale injection strategy during upgrade?"
**What would you like to be added**:
Add grayscale injection strategy for SidecarSet during upgrade.

**Why is this needed**:
In some scenario of SidecarSet upgrade, users want to control the number or percentage of new-upgraded SidecarSet injections for newly-created Pods, however, SidecarSet does not have the ability so far.

[2021-08-16 00:02] yxxhero commented on #684
@rubinus please show your env **PATH**.

[2021-08-16 12:16] #705 closed

[2021-08-16 12:29] veophi opened #710 "[feature request]Support version control for SidecarSet"
**What would you like to be added**:
Support version control for SidecarSet ( e.g., using ControllerRevision).

**Why is this needed**:

- Perform a rollback on a SidecarSet;
- Specify version  when SidecarSet injection;

[2021-08-16 15:57] luckymrwang commented on #678
@lilihongjava Have you accomplished the hot upgrade?

[2021-08-17 06:56] #694 closed

[2021-08-20 03:16] laixiaohuai opened #717 "[BUG]"
**What happened**:
root@test-k8s-master:~# helm install kruise https://github.com/openkruise/kruise/releases/download/v0.9.0/kruise-chart.tgz --disable-openapi-validationError: CustomResourceDefinition.apiextensions.k8s.io "statefulsets.apps.kruise.io" is invalid: spec.conversion.webhookClientConfig: Required value: required when strategy is set to Webhook, but not allowed because the CustomResour

[2021-08-20 03:19] FillZpp commented on #717
@laixiaohuai https://openkruise.io/zh-cn/docs/installation.html

DingTalk: search group `23330762`

[2021-08-23 12:08] houweilong opened #719 "[feature request]OpenKruise provides REST APIs that can be accessed outside the cluster."
**What would you like to be added**:
REST APIs that can be accessed outside the cluster.

**Why is this needed**:
I want to create resources of Kruise in my own code

[2021-08-23 12:18] FillZpp commented on #719
@houweilong Don't really understand your description.

You can use `kruise-api` to define Kruise resources in your project. https://openkruise.io/zh-cn/docs/go_client.html

You can connect kube-apiserver outside cluster via kubeconfig, and create Kruise resources with the client above.

[2021-08-24 02:44] houweilong commented on #719
But my client is developed using Python, Can I create Kruise resources in Python wuthout the client?

[2021-08-24 03:23] FillZpp commented on #719
Unfortunately now we have no Python client of Kruise. Maybe you can use the https://github.com/kubernetes-client/python and create Kruise resources via its [custom resource api](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md#create_namespaced_custom_object).

[2021-08-24 11:56] houweilong commented on #719
ok, Thanks. I will try it.

[2021-08-24 11:56] #719 closed

[2021-08-26 11:45] hantmac opened #724 "[feature request] How about add additional print columns for kruise CR?"
**What would you like to be added**:
We known that when use `kubectl get deployment -o wide` , will show some fields such as `CONTAINERS`、`IMAGE` ...，how aboud adding these fields for kruise resources?  Just like:

![image](https://user-images.githubusercontent.com/7600925/130957074-269022b8-940f-4400-8426-6a5527ff6e2a.png)

**Why is this needed**:
It's more clear when `get resources -o wide`.

[2021-08-27 14:08] TAODEI opened #727 "[BUG]"
**What happened**:
There is an error in the docs of [sidecarset](https://openkruise.io/en-us/docs/sidecarset.html)
_Example/Create SidecarSet_
[code]
**There should be two spaces missing at the front of line 19**

Report an error:kubectl apply -f sidecarset.yaml
output: Error from server: error when creating "sidecarset.yaml": admission webhook "vsidecarset.kb.io" denied the request: spec.containe

[2021-08-31 11:10] #724 closed

[2021-09-01 02:01] veophi commented on #727
This bug is caused by an indentation error.
The commit to fix this bug has been submitted and it is expected to be corrected in the next revision.

[code]

[2021-09-01 03:03] veophi opened #732 "[feature request] Consider relaxing the constraint of conflict detection condition for SidecarSet.Spec.Selector"
**What would you like to be added**:
Relax the constraint of conflict detection condition for `spec.selector` when validating SidecarSet at webhook.

**Why is this needed**:
Now, SidecarSet requires absolute exclusive for `.spec.selector` when container name has conflict . However, for some scenarios, such as
[code]
these two SidecarSets will also be treated as conflict even though users can ensur

[2021-09-01 12:37] lilongthinker opened #733 "[feature request] 有否考虑过通过cli来降低部分能力操作的复杂度"
**What would you like to be added**:

如题，比如指定pod进行缩容
XXX scaledown pod-xxx,pod-yyy

**Why is this needed**:
简化openkruise的操作的复杂度

[2021-09-01 12:41] zmberg commented on #733
@lilongthinker kruise-cli: https://github.com/openkruise/kruise-tools

[2021-09-06 09:01] BoltsLei opened #739 "[BUG] The replicas filed of subsetStatus for WorkloadSpread should only record the active replicas."
**What happened**:
In WorkloadSpread, we record the all replicas number of subset to subsetStatus's `replicas` field.  It will count dead Pods that have not been deleted in etcd.

**What you expected to happen**:
just record the **active** replicas number to subsetStatus.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kru

[2021-09-06 09:17] BoltsLei commented on #739
/assigned @BoltsLei

[2021-09-07 08:42] ciiiii opened #741 "[BUG] sidecarset update not work when Evicted pod exists"
**What happened**:
After some Pods selected by sidecarset were evicted by kubelet, updating sidecarset won't update all selected pods.

**What you expected to happen**:
Sidecarset update should work for only normal Pods but evicted Pods.

**How to reproduce it (as minimally and precisely as possible)**:
1. apply the following manifests (Pods in example will be evicted in minutes)
2. update sidecar

[2021-09-07 08:56] FillZpp commented on #741
@ciiiii Thanks for the feedback.

Maybe we should change https://github.com/openkruise/kruise/blob/master/pkg/control/sidecarcontrol/util.go#L91 to `!kubecontroller.IsPodActive(pod)`?

WDYT @zmberg

[2021-09-07 11:47] #741 closed

[2021-09-08 02:13] #733 closed

[2021-09-08 04:00] #739 closed

[2021-09-09 02:42] FillZpp commented on #635
/pinned

[2021-09-09 12:41] vegazmaoning opened #746 "[BUG] unpredictable numbers of pods when interval of reserveOrdinals > ordinals of pods"
**What happened**:
    unpredictable numbers of pods when interval of reserveOrdinals > ordinals of pods

**What you expected to happen**:
    when interval of reserveOrdinals > ordinals of pods, if delete item of reserveOrdinals, don`t create pods.

**How to reproduce it (as minimally and precisely as possible)**:
    for example

     step1: create a statefulset with 3 replicas ---> [pod-0, pod-

[2021-09-10 07:09] FillZpp commented on #746
@vegazmaoning I test it with Kruise v0.9.0 and it did not create pod-3 when modified `reserveOrdinals` from [3, 4, 5] to [4, 5].

[2021-09-10 07:15] FillZpp commented on #746
Can you paste your statefulset yaml and kruise-manager image?

[2021-09-10 09:42] #635 closed

[2021-09-11 10:38] vegazmaoning commented on #746
@FillZpp Sorry, I provided the wrong version， I was uesd v0.7.0, v0.7.0 had this problem, look like caused by [replicaCount](https://github.com/openkruise/kruise/blob/release-0.7/pkg/controller/statefulset/stateful_set_control.go#L317) define.  I had test with 0.9.0, without this problem. I will upgrade the version of kruise, thanks.

[2021-09-12 05:57] #633 closed

[2021-09-13 02:45] #746 closed

[2021-09-14 06:11] wgitg opened #753 "[feature request] Support kubectl rollout restart/history/undo/status for cloneset"
**What would you like to be added**:
Support kubectl rollout restart/history/undo/status for cloneset

**Why is this needed**:
We have advertised that CloneSet is a enhanced version of k8s deployment in the org. We are expecting the enhancement with the assumption that we can operate the cloneset similar way as we operate other k8s native resources, such as deployment, daemonset, etc. However, thi

[2021-09-14 06:14] FillZpp commented on #753
It is supported in https://github.com/openkruise/kruise-tools

Currently you can download this project and build the `kubectl-kruise` on your machine.

/unassign @jian-he

[2021-09-14 07:11] wgitg commented on #753
@FillZpp Thanks for the information very much! So it is expected for users to use kubectl-kruise entirely?

Our customers are just about to getting used to kubectl, yet now we are introducing another CLI seems a little bit too much.. so Is there some way to add the plugin seamlessly to the kubectl so that users does not need to switch to kubectl-kruise?

[2021-09-14 07:20] FillZpp commented on #753
kubectl-kruise is the plugin of kubectl. After you put it in the PATH of your system, you can execute

[code]

which is equal to

[code]

You can read the introduction of kubectl plugins: https://kubernetes.io/zh/docs/tasks/extend-kubectl/kubectl-plugins/#%E5%AE%89%E8%A3%85-kubectl-%E6%8F%92%E4%BB%B6

[2021-09-14 16:47] wgitg commented on #753
Gotcha!   `kubectl kruise rollout` may work better in UX than asking users to use kubectl-kruise. Will see if our customers/SREs will complain about it :)

Cloing the ticket for now. Thanks @FillZpp

[2021-09-15 06:22] FillZpp commented on #753
Kubectl can't do this by itself, unless you hack its code to support Kruise resources.

[2021-09-15 07:38] #727 closed

[2021-09-15 07:41] FillZpp commented on #643
Supported in `v0.10.0`.

[2021-09-15 07:41] #643 closed

[2021-09-15 07:42] FillZpp commented on #639
Supported WorkloadSpread in `v0.10.0`.

[2021-09-15 07:42] #639 closed

[2021-09-15 07:43] FillZpp commented on #637
fixed by #743

[2021-09-15 07:43] #637 closed

[2021-09-15 07:43] FillZpp commented on #590
fixed by #743

[2021-09-15 07:43] #590 closed

[2021-09-15 09:06] veophi opened #755 "[feature request] workloadspread support deployment-type workload"
**What would you like to be added**:
As far as I know, workloadspread cannot support deployment-type workload because it cannot handle the rolling update of deployment at present.

Maybe I thought about a possible solution for this problem: **When users apply deployment-type workloadspread, we create replicaset-type workloadspread for this deployment actually.**

**Why is this needed**:
1. Deploym

[2021-09-17 12:17] #755 closed

[2021-09-17 12:43] furykerry opened #761 "[feature request] support maxUnavailable in scaleStrategy for CloneSet"
**What would you like to be added**:
 add a maxUnavailable field for scale strategy for CloneSet

**Why is this needed**:
Some backend service need to control the changes rate of replicas so as to minimize the impact of the upstream service. For example, a maximum N replicas should be added in 5 minutes.   The maxUnavailable in scaleStrategy can enable such limitation.

[code]

In the above exampl

[2021-09-22 07:00] veophi commented on #761
What if the number of unavailable pods have been greater than `scaleStrategy.maxUnavailable` before the scaling?

[2021-09-23 11:02] veophi opened #764 "[feature request] Does SidecarSet support injecting annotations and labels to Pod?"
**What would you like to be added**:
SidecarSet inject annotations/labels to pods.

**Why is this needed**:
Some customized k8s systems configure their extended abilities via annotations/labels (e.g., configure kernel parameters in kubelet/containerd), some of which may work only when scheduling pods.  Thus, I think sidecarset should support injecting annotations/labels so as to satisfy these need

[2021-09-24 06:14] LiYiPeng-1 opened #765 "[feature request] support exec command in lifecycle hook"
**What would you like to be added**:
Can I add custom commands to lifecycle hook "inPlaceUpdate"?
just  like  this
[code]

**Why is this needed**:
before I  In-place update  a pod , I need  logoff it  from the eureka

[2021-09-24 07:02] FillZpp commented on #765
/retitle support exec command in lifecycle hook

[2021-09-24 07:04] FillZpp commented on #765
@LiYiPeng-1 When Kubelet updates a container in-place, it will firstly execute the preStop hook defined in the Pod container.

So you have not to set the preStop in lifecycle hook.

[2021-09-24 10:36] LiYiPeng-1 commented on #765
@FillZpp  thanks  for  your  reply ,  but  when I test like this ，preStop  seems to be ineffective  in  CloneSet ,  but  it's  effective  in "Deployment"
[code]

[2021-09-26 02:47] #765 closed

[2021-09-28 06:34] xvdy commented on #289
Orgnization/Company: xiaomi
Location: BeiJing, China
Contact: xudongyang@xiaomi.com
Purpose/Scenario: Using CloneSet for stateless apps.

[2021-09-30 10:00] #62 closed

[2021-10-03 07:30] #618 closed

[2021-10-04 11:07] liangyuanpeng commented on #299
is it implement from https://github.com/openkruise/kruise-state-metrics?

[2021-10-08 02:28] furykerry opened #770 "[feature request] publish openkruise in chartmuseum"
**What would you like to be added**:
publish openkruise helm chart in chartmuseum or other popular chart repository.

**Why is this needed**:
make openkruise more accessible

[2021-10-08 02:57] FillZpp commented on #299
@liangyuanpeng Yes, the project is still in progress and will be packaged in v1.0 release.

[2021-10-11 07:15] szy441687879 opened #771 "[BUG]当RS的预期副本数配置为0的时候，PUB会非预期的拦截删除pod请求"
在pub的[updatePubStatus]代码中，使用了以下的逻辑(https://github.com/openkruise/kruise/blob/master/pkg/controller/podunavailablebudget/podunavailablebudget_controller.go#L469)

 if expectedCount <= 0 || unavailableAllowed <= 0 {
     unavailableAllowed = 0
 }

而对于expectedCount这个变量，取自于rs的Spec.Replicas，在此场景下为0
因此pub会拒绝对应rs的pod删除请求，甚至连rs的缩容操作都会失败。

[2021-10-12 05:45] #644 closed

[2021-10-15 09:26] FillZpp opened #774 "[feature request] PodUnavailableBudget should also validate creation of ContainerRecreateRequest"
**What would you like to be added**:
PodUnavailableBudget should also validate creation of ContainerRecreateRequest.

**Why is this needed**:
ContainerRecreateRequest is used for recreating(restarting) containers in Pods, which also causes unavailable. So it should be validated by PodUnavailableBudget.

[2021-10-15 09:26] FillZpp commented on #774
/unassign @jian-he
/assign @zmberg

[2021-10-21 10:14] machine3 commented on #289
Orgnization/Company: Netease
Location: BeiJing, China
Contact: wangmaocheng@corp.netease.com
Purpose/Scenario: Using SidecarSet to in-place upgrade and manage sidecar pod.

[2021-10-23 17:09] geraldoramos opened #780 "[BUG] ImagePullJob issue with google container registry (gcr.io)"
**What happened**:
When trying to use an ImagePullJob within a *gcr.io* image (google container registry), I get a 401 (Unauthorized error)

[code]

**What you expected to happen**:
I expected the default service account to be able to download images from the internal repository. I also tried to create a `kruise` secret and included it in the imagePullJob definition. I've also tried to create the

[2021-10-24 03:43] #780 closed, assigned to FillZpp

[2021-10-26 14:15] a630140621 opened #783 "[feature request] Support SidecarSet update strategy when pod recreate or inject"
**What would you like to be added**:

Support SidecarSet update strategy when pod recreate or inject

**Why is this needed**:

There are two teams under one organizational structure. Team A maintain SidecarSet. Team B maintain Application which can use Deployment.

Team A inject SidecarSet to Pod which may controlled by Team B. Now, Team A want to update SidecarSet to new version. They use a parti

[2021-10-27 02:44] #770 closed, assigned to FillZpp, zmberg

[2021-10-28 12:48] BurlyLuo opened #786 "cloneset been deleted, but the pod still present[BUG]"
**What happened**:
cloneset been deleted,but pod still present
**What you expected to happen**:
when cloneset been deleted, the pod also been deleted.
**How to reproduce it (as minimally and precisely as possible)**:
manual delete the pods.
**Anything else we need to know?**:
is it normal?
**Environment**:
[code]
- Kruise version:v1.10
- Kubernetes version (use `kubectl version`):
- [root@k8s-1 cl

[2021-10-29 11:11] BurlyLuo opened #787 "Same cloneset, but with different READINESS GATEWAY[BUG]"
**What happened**:
Same clonse, but with different READINESS GATEWAY
**What you expected to happen**:
same outputs
**How to reproduce it (as minimally and precisely as possible)**:
not sure
**Anything else we need to know?**:
nothing
**Environment**:
- Kruise version:0.10
- Kubernetes version (use `kubectl version`):
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[cod

[2021-10-29 13:14] BurlyLuo opened #788 "The Pod has ownerReference to `sample-data`. Are you sure `kubectl get cloneset sample-data` should return not found?"
The Pod has ownerReference to `sample-data`. Are you sure `kubectl get cloneset sample-data` should return not found?
If so, you should search related logs in kube-controller-manager (gc-controller). Kruise controller is not responsible for deleting the orphan pod.

_Originally posted by @FillZpp in https://github.com/openkruise/kruise/issues/786#issuecomment-954662507_

yes sure.

[2021-10-29 13:14] #788 closed, assigned to nobody

[2021-10-31 12:59] shker-tt opened #790 "Values.daemon.log.level [BUG]"
**What happened**:

https://github.com/openkruise/kruise/blob/9a0879c43f29f314c71cee2a6d6239b5b335fcc4/charts/kruise/v0.10.0/templates/manager.yaml#L153

https://github.com/openkruise/kruise/blob/9a0879c43f29f314c71cee2a6d6239b5b335fcc4/charts/kruise/v0.10.0/values.yaml#L52

这个配置好像漏了

**What you expected to happen**:
`- --v={{ .Values.daemon.log.level }}`

[2021-10-31 13:07] FillZpp commented on #790
@shkerh Em... My mistake. Would you mind fixing it [here](https://github.com/openkruise/charts/blob/master/charts/kruise/templates/manager.yaml#L155), because the charts in this repo has been moved to `openkruise/charts` repo. Or I will fix it in the next release.

[2021-10-31 13:22] shkerh commented on #790
你改吧

[2021-11-03 11:58] Daryljocky opened #792 "[BUG] AdvancedCronJob BroadcastJob ttlSecondsAfterFinished 重复创建BroadcastJob"
**What happened**:
在AdvancedCronJob中配置了BroadcastJob, 并设置了ttlSecondsAfterFinished: 120
当BroadcastJob执行完成并结束了BroadcastJob和pod的删除后, 重复创建了一个新的BroadcastJob, 然后创建新的pod进行任务
此现象以tlSecondsAfterFinished设置的时间间隔反复循环

**What you expected to happen**:
任务执行完成, 垃圾回收结束, 等待下一次定时任务

**Anything else we need to know?**:
AdvancedCronJob 配置如下
[code]

kruise controller 重复创建BroadcastJob 日志如下:
[code]
截图
![image](https://us

[2021-11-03 12:05] FillZpp commented on #792
Let me reproduce it later.

[2021-11-04 06:56] hantmac commented on #289
Orgnization/Company: MeiTuan Finance
Location: ShangHai, China
Contact: hantmac@outlook.com
Purpose/Scenario: Using CloneSet and AdvanceStatefulSet for manage stateless and stateful apps. We need in place and partial update.

[2021-11-05 02:14] FillZpp commented on #697
/pinned

[2021-11-05 04:18] FillZpp commented on #792
@Daryljocky  简单来说，AdvancedCronJob 有一个机制叫补偿运行（原生 CronJob 也有）。如果 AdvancedCronJob 能看到前一次运行的 BroadcastJob 完成（比如是 11:25 运行的），那它会等下一次 12:25 再触发执行。但是如果前一个 BroadcastJob 被删掉了，AdvancedCronJob 就会认为 11:25 这次没有执行，它会先尝试去补偿运行 11:25 这次的缺漏。（其实很好理解，controller 本身是异步执行的，所以即使用户 schedule 写的是明确 11:25，controller 在实际执行的时候也可能会比这个时间晚个几毫秒到几秒钟都有可能，但这个时候 controller 不能因为超过了一点时间就不执行这次任务）。

因此，你需要配置 AdvancedCronJob 里的 `startingDe

[2021-11-05 06:08] Daryljocky commented on #792
明白了, 感谢!

[2021-11-05 07:31] FillZpp commented on #792
不客气，方便的话可以帮社区登记一下 #289

[2021-11-05 07:31] #792 closed

[2021-11-08 18:30] dragondscv opened #793 "[BUG] Kruise manager 0.10.0 restarts without workloadspread CRD"
**What happened**:
Kruise-manager starts but crashes after a while because workloadspread CRD does not exist:
[code]
By default workloadspread should be disabled in feature gate but kruise manager is still looking for it in 0.10.0. Looks like workloadspread controller does not check group version kind as other controllers do: https://github.com/openkruise/kruise/blob/1cc55e41066986e275194710ff59f1

[2021-11-08 23:46] wgitg commented on #793
Same issue. We want to upgrade to 0.9.0, not the latest version, but the controller manager crashes due to the lack of `WorkloadSpread` CRD installed

[2021-11-09 00:05] wgitg opened #794 "[BUG] CloneSet validating webhook requests pod with restartPolicy `onFailure` even though it is supported"
**What happened**:
We are deploying a workload using CloneSet with restartPolicy as onFailure.
because one of the colocating containers is not a long running service and it needs to exit after its job is done.

We configured the validating webhook cloneset (` vcloneset.kb.io`) failurePolicy as `Ignore`.

However, the pod request was rejected given the error:

[code]

Then we somehow disabled the w

[2021-11-09 01:41] CKchen0726 commented on #202
@devops4cc Hi, have you encountered this problem?
Response:
`Error from server (InternalError): error when creating "server.yaml": Internal error occurred: failed calling webhook "mserver.kb.io": failed to call webhook: Post "https://webhook-service.system.svc:443/mutate-apps-kruise-io-v1alpha1-sidecarset?timeout=10s": service "webhook-service" not found`

[2021-11-09 01:50] veophi commented on #793
I guess you upgrade your `kruise-manager` but do not upgrade `kruise CRDs`.

Cloud you describe your installation commands?

[2021-11-09 01:55] dragondscv commented on #793
Yes, we didn't install workloadspread CRD. But I think even without the crd, the workloadspread controller should still work(like other controllers, we didn't install other CRDs as well)?

[2021-11-09 02:02] veophi commented on #793
Oh, I see.  Sorry....  it's indeed my fault.

[2021-11-09 02:17] FillZpp commented on #202
@CKchen0726 Which chart did you install? Please make sure that you should use the latest `v0.10.0` or `v1.0-alpha.1`.

[2021-11-09 02:27] FillZpp commented on #794
@wgitg Actually, workloads for both stateless and stateful long-running-service, e.g. Deployment, CloneSet, StatefulSet, are all limited that `failurePolicy` can only be `Always`.
[Validation for Deployment/ReplicaSet]( https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/validation/validation.go#L720)

It is to avoid continuously creating pods when pods turn into completed state, no

[2021-11-09 04:03] #793 closed

[2021-11-09 06:30] wgitg commented on #794
@FillZpp  I think you meant to say that restartPolicy as always is to restart applications when they stop, irrespective they stopped or not. :)

OK, then what about webhook configuration `failurePolicy`, where it is configured to be `Ignore`, any insights on cloneset validating webhook still rejects the pod request with the restartPolicy as onFailure?

[2021-11-09 06:35] CKchen0726 commented on #202
@devops4cc I download source code, `make build`, then `docker build`, and finally deploy a pod with this image

[2021-11-09 06:38] FillZpp commented on #794
@wgitg You can read [this doc](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy). `Ignore` means that **an error calling the webhook** is ignored and the API request is allowed to continue, such as webhook has crashed and apiserver can not connect to it, but not the expected error in the webhook response.

[2021-11-09 06:42] wgitg commented on #794
@FillZpp  the thing is that the cloneset's validating webhook rejects the request when we specified the failurePolicy as `Ignore`.

[2021-11-09 06:45] CKchen0726 commented on #202
@FillZpp Error from server (InternalError): Internal error occurred: failed calling webhook "msidecarset.kb.io": failed to call webhook: Post "https://kruise-webhook-service.kruise-system.svc:443/mutate-apps-kruise-io-v1alpha1-sidecarset?timeout=10s": dial tcp 10.105.217.237:443: connect: connection refused
ps:
NAME                   TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)   AGE
nova-we

[2021-11-09 06:49] FillZpp commented on #794
You may need to understand that:
- Rejection from webhook is expected failure, apiserver will not ignore it.
- Connection error is unexpected failure, apiserver will ignore it.

[2021-11-09 06:56] veophi commented on #202
Have you applied the `kruise-webhook-service`？

[2021-11-09 07:00] wgitg commented on #794
Well, we are talking about the first case here, where we supposed to see apiserver should ignore the error from webhook and allow the request, even though the webhook returns errors, as specified in the [doc](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy)
`an error calling the webhook is ignored and the API request is allowed to continue`

[2021-11-09 07:03] FillZpp commented on #794
But the question is, if apiserver should allow the request no matter what response the webhook returns for `Ignore`, what's the meaning of the existence of this webhook...

[2021-11-09 07:11] wgitg commented on #794
@FillZpp Good question. But isn't that what the doc says: `an error calling the webhook is ignored and the API request is allowed to continue`?

The doc does not specify what error is ignored or any error should be ignored..Clarifying this will help us to know if anything related to how cloneset validating webhook should do or nothing needs to be done, do you agree?

Maybe we can get more insights

[2021-11-09 07:18] veophi commented on #202
plz check your configurations of `kruise-validating-webhook-configuration`, and notice these fields:

[code]

[2021-11-09 07:19] FillZpp commented on #794
It is the error for **HTTPS calling**, but not the rejection in response.

You have to know that, when webhook rejects a requst, **the HTTPS response code is still 200**, but the message is in the response body, such as:
[code]

[2021-11-09 07:25] wgitg commented on #794
OK following your logic, in the case of failurePolicy is Ignore, shouldn't the HTTPS response be like this?

[code]

[2021-11-09 07:27] FillZpp commented on #794
No, webhook itself does not care of the `failurePolicy`. It is only used by kube-apiserver to ignore failure HTTPS calling, to skip validation when webhook is abnormal.

[2021-11-09 07:39] wgitg commented on #794
Understood. But back to the original ask, why does the request is rejected by apisever (basically no pod can be created) when the specifies the Cloneset validating webhook policy failurePolicy is Ignore?  what do you suggest at this point?

[2021-11-09 07:52] FillZpp commented on #794
I don't quite understand your question. As i said, even the failurePolicy is Ignore, kube-apiserver get the 200 response from webhook and use the status code `400` as the return code to user.

[2021-11-09 08:27] wgitg commented on #794
Thanks for the summary.
IIUC, given we have the situation where no pods are created in cloneset even with the webhook configuration failurePolicy as Ignore,  you think there is nothing needs to be done from cloneset side to address the situation?

[2021-11-09 08:33] FillZpp commented on #794
I'm not sure if we have to provide a new feature-gate that allows users to create CloneSet with unlimited restartPolicy. In your case, is that some of the containers in Pod will exit while other containers always remain running?

[2021-11-09 12:06] veophi commented on #202
I mean whether your `"kruise-webhook-service"` name is right.

[2021-11-09 15:34] dragondscv commented on #793
Thanks for fixing this!

[2021-11-09 17:08] wgitg commented on #794
@FillZpp  Yes. The use case is that not all of the applications is long running services, some colocated containers in the same CloneSet pod will do some stuff and exit.

Per container restartPolicy might be expensive to support (?), but the feature gate seems to be a great idea to enable the flexibility. Can you do that?

[2021-11-10 01:16] CKchen0726 commented on #202
@veophi

[2021-11-10 01:16] CKchen0726 commented on #202
@veophi I deploy kruise by Way 1 provided by README.md, there is the same problem too.
`root@master:/data/cck/k8s_test# kubectl get svc -n kruise-system
NAME                     TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)   AGE
kruise-webhook-service   ClusterIP   10.106.125.211   <none>        443/TCP   12h
root@master:/data/cck/k8s_test# kubectl -n kruise-system get svc kruise-webhook-ser

[2021-11-10 01:55] veophi commented on #202
@CKchen0726  You may try to execute `./scripts/uninstall.sh` before `make deploy`.

[2021-11-10 03:56] CKchen0726 commented on #202
@veophi It does not work.

`**root@node3:/mnt/disk/go/src/kruise# make uninstall**`
/mnt/disk/go/src/kruise/bin/controller-gen "crd:trivialVersions=true,preserveUnknownFields=false" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=config/crd/bases
/mnt/disk/go/src/kruise/bin/kustomize build config/crd | kubectl delete -f -
customresourcedefinition.apiextensions.k8s.io "

[2021-11-10 07:15] veophi commented on #794
@wgitg   If a Pod with `RestartPolicy=OnFailure`, its behavior about restart will be as follows:
- For the containers that have been exited and `exitCode=0`, inplace update will not be triggered via replacing its image ;
- For the running containers, whether the inplace update can be triggered depends on the `exitCode` of the container when the container is stopped. If  `exitCode=0` , the inplace

[2021-11-10 07:21] FillZpp commented on #794
@wgitg If you will use the **InPlace Update** feature, please note the comment before. Could you accept that?

Besides, can those colocated containers define as init containers? So you don't have to set onFailure restartPolicy.

[2021-11-10 07:41] wgitg commented on #794
@veophi  @FillZpp  Thanks for the above clarification! It is a surprise that `onFailure` can affect the InPlace Update feature.
:(

Yes, we do want to leverage the InPlace Update feature for all containers in the same pod. In fact, part of the reason we did not do it in the init container because the in-place update only works in app containers, and we did not want the changes in the init containe

[2021-11-10 15:26] FillZpp commented on #658
/unassign @FillZpp
/assign @veophi

[2021-11-10 21:42] dragondscv opened #803 "[BUG] webhook configuration caBundle gets updated automatically in 0.9.0"
**What happened**:
When we upgrade kruise-manager from 0.6.1 to 0.9.0, we found that caBundles in validatingwebhookconfiguration and mutatingwebhookconfiguration are updated automatically from the default value `Cg==`. It seems kruise-manager generates new certs automatically if the caBundle is not valid? Is that expected behavior?

**What you expected to happen**:
The default value `Cg==` of caBu

[2021-11-10 23:59] dragondscv commented on #793
Just curious, what is the release process? Will it be included in the next patch version of 0.10?

[2021-11-11 11:45] HudsonWu opened #804 "[feature request] Add support for CRI-O"
**What would you like to be added**:
希望增加对CRI-O运行时的支持

我使用的OKD搭建的k8s集群，部署时，kruise-daemon无法正常启动，原因是进程没有正常获取CRI-O的socket文件，crio的socket文件为/var/run/crio/crio.sock，我看到代码中有定义pouch、docker、containerd这三个容器运行时的socket路径，但没有CRI-O的，希望能支持

**Why is this needed**:
CRI-O同样是一个流行的容器运行时实现，很多集群搭建时都用的CRI-O，比如redhat发布的k8s发行版 - OKD，使用的是CRI-O

[2021-11-11 11:49] zmberg commented on #804
@HudsonWu good，如果方便的话，你可以提一个pr，我们来合入

[2021-11-12 03:46] FillZpp commented on #804
这个提的很好。过去之所以特定 pouch、docker、containerd 这三种 Runtime，是为了 pull image 的时候上报 progress（拉取的进度）。但是 CRI 通用接口里拉镜像并没有返回 progress，因此是识别并采用 pouch、docker、containerd 他们自己的 client sdk 来拉取的。

不过目前看来，用户在实际使用 imagepulljob 的时候几乎没有查询 nodeimage 拉取进度的需求，因此在 kruise-daemon 中应该可以让不属于 pouch、docker、containerd 这三种的 Runtime（比如 CRI-O）直接使用 CRI 拉取镜像，这样就不受限于用户所使用的 Runtime 类型了。

这个改动可能稍微有点大，如果你有兴趣非常欢迎共建，如果不方便的话，我稍后会在下个版本中支持。 @Hudso

[2021-11-12 07:31] wxyh opened #807 "[BUG] pod NodeSelectorTerms length 0 when UnitedDeployment NodeSelectorTerms is nil and subnet MatchExpressions length 0"
**What happened**:
In UnitedDeployment, if template's NodeSelectorTerms is nil and subset NodeSelectorTerm is nil, create sub workload NodeSelectorTerms is not nil and length equal 0, pod cannot be scheduled.

**What you expected to happen**:
If subnet NodeSelectorTerm is nil or  MatchExpressions's length equal 0, don't change template NodeSelectorTerms.

**How to reproduce it (as minimally and pr

[2021-11-12 09:10] FillZpp commented on #793
Today we have released `v0.10.1` and `v1.0.0-alpha.2` that all contain the fixing code. Feel free to use them. https://github.com/openkruise/kruise/releases

[2021-11-12 09:28] FillZpp commented on #803
@dragondscv I'm not sure if I understand your point. The `caBundle` in helm chart defaults to `Cg==`. But after you deployed v0.6.1, kruise-manager should update it to a real generated cert.

[2021-11-12 12:50] chenchaowang commented on #289
Orgnization/Company: Shopee
Location: Shenzhen, China
Contact: chaowang.chen@shopee.com
Purpose/Scenario: Using CloneSet for stateless apps.

[2021-11-12 16:31] dragondscv commented on #803
That's what confuses me. I deployed 0.6.1 and the default `caBundle`(`Cg==`) was not updated, while 0.9.0 did update it. So I guess update `caBundle` to a cert generated by kruise-manager is the expected behavior then.

[2021-11-13 13:10] HudsonWu commented on #804
感谢关注，已经提了一个PR，当前还没有完全熟悉代码，可能有些不成熟的地方

[2021-11-15 02:19] FillZpp commented on #710
/pinned

[2021-11-15 02:32] FillZpp commented on #803
Yes, it is the expected behavior. Although I still not figure out why your 0.6.1 didn't update the `caBundle`.

[2021-11-15 05:14] #807 closed

[2021-11-16 03:16] LiYiPeng-1 opened #810 "kueb-apiserver出现错误：ERROR $root.definitions.io.kruise.apps.... has invalid property: anyOf"
当我使用openkruise的时候，升级k8s版本后kube-apiserver出现这样的错误：
k8s版本v1.14.7升级到v1.17.2
openkruise版本：kruise-0.10.0
请问是什么原因，非常感谢

11月 16 10:44:56 node982 kube-apiserver[4614]: ERROR $root.definitions.io.kruise.apps.v1alpha1.UnitedDeployment.properties.spec.properties.template.properties.cloneSetTemplate.properties.spec.properties.updateStrategy.properties.maxSurge has invalid property: anyOf
11月 16 10:44:56 node98

[2021-11-16 03:27] FillZpp commented on #810
@LiYiPeng-1 It seems to be a bug in kube-apiserver and has been fixed in 1.21.0 https://github.com/kubernetes/kubernetes/issues/90902

[2021-11-16 03:38] LiYiPeng-1 commented on #810
多谢你的回复 @FillZpp

[2021-11-16 03:38] #810 closed

[2021-11-18 09:46] wehug opened #811 "[feature request] UnitedDeployment support patch workload by subset"
**What would you like to be added**:
In UnitedDeployment, allow subset patch workload template, can customize the workload by subset.

**Why is this needed**:
We need manage multiple deployment or statefulset, most of their configurations are the same, but some environment variables or image is different, so UnitedDeployment need patch workload feature by subset.

[2021-11-18 11:44] FillZpp opened #813 "[feature request] StatefulSet PVC auto-delete implementation"
**What would you like to be added**:
Kubernetes has merged PR https://github.com/kubernetes/kubernetes/pull/99728 . Advanced StatefulSet should cherry-pick it to keep compatible with upstream.

[2021-11-18 11:44] FillZpp commented on #813
/unassign @jian-he

[2021-11-19 14:26] pigletfly opened #818 "[feature request] refactor transferEnv in sidecarset"
**What would you like to be added**:

https://github.com/openkruise/kruise/blob/679714ffe3c7cf7c2a00cec0daec5b91c0e65efe/apis/apps/v1alpha1/sidecarset_types.go#L100-L103

refactor tranferEnv into

[code]

**Why is this needed**:

1. if one want transfer many envs from a same container,`sourceContainerName` seems a little redundant
2. if selector in the sidecarset matches multiple pods from differe

[2021-11-21 01:02] #684 closed

[2021-11-22 08:26] pigletfly commented on #818
@FillZpp

[2021-11-22 09:13] pigletfly commented on #818
/assign @FillZpp

[2021-11-22 09:19] FillZpp commented on #818
I think this is reasonable. We can define an env list for a source container.

I don't think so. If the container names are different for multiple applications, how could you ensure they have the same container indexes? (Generally, different applications may have different containers in their workloads)

WDYT? @zmberg

[2021-11-22 09:35] pigletfly commented on #818
yes, if end users maintain their own workloads manifests,the container index  may be unstable,but if end users can't decide the container index,the manifests are generate by platform,we could have a stable container indexes.

[2021-11-22 10:51] FillZpp commented on #818
If the manifests are generated by platform, why not give them the same container name, such main or app?

[2021-11-23 04:10] zmberg commented on #818
@FillZpp Is it possible to add a field **containerDownwardAPI** to get the containerName from pod annotations or labels

[2021-11-23 07:04] FillZpp commented on #818
Good idea. How about:

[code]

`EnvNames` could also be `EnvNameList`

[2021-11-23 07:10] #761 closed

[2021-11-23 07:13] pigletfly commented on #818
EnvNames should be []string ? EnvName is used for backward compatibility ?

[2021-11-23 07:14] FillZpp commented on #818
Yeh, fixed.

[2021-11-23 07:22] pigletfly commented on #818
and sourceContainerNameFrom should be
[code]

ref: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2008

[2021-11-23 07:27] pigletfly commented on #818
I'd like to send a draft PR.

[2021-11-23 07:30] FillZpp commented on #818
/unassign @FillZpp
/unassign @jian-he
/assign @pigletfly

[2021-11-29 06:58] andrewshaoyu opened #825 "[BUG]Sidecarset status is incorrect when UpdateStrategy type is NotUpdate"
**What happened**:
Sidecarset status Ready Pods is incorrect,when Sidecarset UpdateStrategy type is NotUpdateSidecarSetStrategyType.
Only update Sidecarset status when sidecarset is updated or new Pod create.
**What you expected to happen**:
when pods update trigger sidecarset reconcile, then update sidecarset status.
**How to reproduce it (as minimally and precisely as possible)**:
https://github

[2021-11-29 07:44] FillZpp commented on #825
Yep, it seems to be a bug that `readyPods` might not be updated in this case. PTAL @zmberg

[2021-11-29 08:10] zmberg commented on #825
@andrewshaoyu thanks, you are right. Do you have time to fix this bug?

[2021-11-29 08:27] andrewshaoyu commented on #825
Ok, I can try.

[2021-11-29 12:52] moluzhui opened #826 "[BUG] Cloneset minReadySeconds did not take effect"
**What happened**:
I want to use the `minReadySeconds` parameter to set the pod update interval, as shown in the yaml file below. When I changed the image to ibmcom/pause:3.2 and `kubectl apply` again, it did not update the pod every `60` seconds

[code]
**What you expected to happen**:
My expectation is to update a pod every 60 seconds by minReadySeconds.

Whether I'm missing the configuration or

[2021-11-30 06:03] Cole-GG opened #827 "[feature request] sidecarSet can support mosn hotUpgrade?"
I want to use openKurise to host the mosn sidercar container, but I encountered a port conflict when debugging the hot upgrade. How should I resolve it?

[2021-11-30 06:06] zmberg commented on #827
This requires mosn students for compatibility, adaptation. So you can submit an issue on Github of mosn

[2021-11-30 06:31] FillZpp commented on #826
@moluzhui Could you describe the unexpected condition you meet?

[2021-11-30 06:39] Cole-GG commented on #289
Orgnization/Company: Esign
Location: Hangzhou, China
Contact: dijiu@tsign.cn
Purpose/Scenario: Using sidecarSet for sidecar container.

[2021-11-30 06:48] moluzhui commented on #826
After applying again, the pods are recreated directly in sequence, with almost no pause
[code]

[2021-11-30 06:57] veophi commented on #826
Kruise 1.0.0 has fixed this bug #763.

[2021-11-30 07:01] FillZpp commented on #826
@moluzhui It might because `minReadySeconds` is `60` but the pods just created have not ready longer than 60s.

What does it become after you wait for 1~2min?

[2021-11-30 10:55] moluzhui commented on #826
Sorry I didn't keep it that long, but `pause container` should not have 60s still ready, which seems to work after I update 1.0.0.beta.0

[2021-11-30 11:48] moluzhui opened #828 "[BUG] Cloneset supports readinessGates configuration"
**What would you like to be added**:
I wish **Cloneset** supported **readinessGates** configuration, as `Advanced StatefulSet` does
[code]

**Why is this needed**:
It triggers pod `Not Ready`, which causes the Endpoint Controller to remove the pod from the service , update the image, and finally return to Ready, ensuring that **data traffic is not lost**

[2021-12-01 01:46] moluzhui commented on #826
This doesn't seem to be appropriate for `inPlace updates`. I don't think the pod state should be `ready` during container updates. However, `minReadySeconds and readinessGates` don't seem to work for `inPlace updates` in `Cloneset`

[2021-12-01 03:50] FillZpp commented on #828
@moluzhui Cloneset do support readinessGates. CloneSet will add a readinessGate `InPlaceUpdateReady` into each Pod when create it, so users have no need to write the readinessGate in template.

[2021-12-01 03:50] FillZpp commented on #826
Don't really understand your point. When a pod is in-place updating, kruise will make it not-ready using readinessGates as I said in #828 .

[2021-12-01 04:25] moluzhui commented on #826
Then, how should I reflect [it](https://openkruise.io/docs/user-manuals/cloneset#in-place-update)? I deployed the following cloneset, and then `modified the image version` and `applied` it again by `kubectl apply`. I only found that the number of **RESTARTS** increased, but I did not see the Pod's **not-ready** intermediate process.
[code]
the output is
[code]

[2021-12-01 04:36] moluzhui commented on #826
I have been executing `kubectl describe certain-pod` over and over again and I have found that there is a state change, but why is it not possible to get a `READY` reaction like `0/1`, which makes me not sure if pod removes pod from the `endpoints` to **ensure that traffic is not lost**
[code]

[2021-12-01 06:14] FillZpp commented on #826
The READY you see in `kubectl get pod` is get from `pod.status.containerStatuses`, which indicates **the number of not ready container**, but not the pod ready state. So it does not matter for endpoints-controller remove the pod from endpoints.

Another option is `gracePeriodSeconds`, which is a period duration between controller update pod status and update pod images. So that endpoints-controlle

[2021-12-02 02:50] FillZpp commented on #732
/pinned

[2021-12-02 08:14] pigletfly commented on #818
/close

[2021-12-02 08:14] #818 closed

[2021-12-06 01:35] toroy commented on #289
Orgnization/Company: Wholee
Location: HangZhou, China
Contact: lijiangzhou@wholeeprime.com
Purpose/Scenario: Using CloneSet for manage stateless apps.

[2021-12-06 08:23] veophi opened #834 "[feature request] WorkloadSpread should consider the update strategy where Pod is created before deletion."
**What would you like to be added**:
When the new Pod is created in this strategy, WorkloadSpread don't know which is the pod this new pod will replace, so cannot assign the new pod to the right subset.

- WorkloadSpread should support rollingUpdate type for Deployment；
- WorkloadSpread should support `MaxSurge` for CloneSet & Deployment;

**Why is this needed**:
For the better support to CloneSet

[2021-12-06 12:21] veophi opened #835 "[BUG] Panic caused by WorkloadSpread"
**What happened**:
kruise-manager panic.

[code]

**What you expected to happen**:
Do not panic.

**How to reproduce it (as minimally and precisely as possible)**:
Apply a workloadSpread with rescheduleStrategy and unschedulable subsets.

**Anything else we need to know?**:

**Environment**:
- Kruise version: v0.10 & v1.0
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-releas

[2021-12-07 02:22] #835 closed

[2021-12-07 19:19] BryanDollery opened #838 "[feature request] Allow definition of environment variables (and secrets) directly in the SidecarSet yaml"
**What would you like to be added**:
It seems that the only way to get environment variables into a kruise sidecar is through the `transferEnv` feature. While this is a very useful feature, I would also like to be able to define environment variables directly on the sidecar, like so:

[code]

**Why is this needed**:
My scenario is that I want my engineers to build REST services, but I want to invo

[2021-12-09 03:34] FillZpp commented on #838
@BryanDollery Thanks for the feedback.

Actually, SidecarSet does support it. For example:

[code]

The `transferEnv` defines environments that should be shared from other containers in Pod, and `env` defines environments for the sidecar container itself.

[2021-12-09 03:38] veophi commented on #838
Maybe you need to ensure the existence of the `secret` in corresponding namespaces.

[2021-12-13 06:40] #753 closed

[2021-12-13 07:01] FillZpp commented on #560
/reopen

[2021-12-13 07:06] FillZpp commented on #560
@wgitg Hi, we are still considering this feature. Do you think it is reasonable that `initContainers` can be updated in-place with no `containers` restarted?

[2021-12-13 07:21] hzyfox opened #844 "[BUG] When updating statefullset, the total number of pods being updated may exceed the expected value"
**What happened**:
commit  id `02685e224be0215f48d8bb7b23d7892bbfaa9c5f` remove [`updateExpectations.ExpectUpdated`](https://github.com/openkruise/kruise/commit/02685e224be0215f48d8bb7b23d7892bbfaa9c5f#diff-a1e25eb50e4b2aed8947c2caa5d6d1ddfef1a5f2f95fdf71f2388c657823ee13L706) in statefulset .
This will make `updateExpectations` not working, and may cause the `reconcile function` to obtain an infor

[2021-12-13 09:03] #844 closed

[2021-12-13 18:56] wgitg commented on #560
@FillZpp Thanks for reconsidering this feature! As for restarting the `containers` or not, it may depend. But the bottomline is
1. pod is still on that node.
2. `containers` can execute on the latest data/updates that init containers are set up to do.

That said, to do 2, does it make sense we either restart all the containers or we can add some label that only the matching container will be resta

[2021-12-14 09:16] FillZpp commented on #560
About this, you can use the feature [in-place udpate env from metadata](https://openkruise.io/blog/openkruise-1.0/#1-inplace-update-for-environments) released in v1.0.

However, when you trigger an init container and a container to be updated, I think we have no way to control their sequence, which means the container might be restarted before the init container has been updated. That's the proble

[2021-12-15 05:49] compactcfusr opened #849 "[feature request]Specify which controllers can be started by openkruise"
**What would you like to be added**:
We'd like to specify which controllers can be started.

**Why is this needed**:
We only use CloneSet and want to disable other controllers, just like the kube-controller-manager does. Because we don’t want to expose redundant functions.

What do I want to ask for help?
Could you please help to give me a solution to this issue?Thanks very much.
Of course，it is t

[2021-12-15 05:56] veophi commented on #849
An Interim approach: ensure that only the CRDs you needs are installed before installing kruise-controller-manager

[2021-12-15 23:25] vikas027 opened #851 "[feature request] multiple runtime socket paths for kruise-daemon"
**What would you like to be added**:
I use Bottlerocket on my EKS nodes which use `containerd`, it would be great to have the support for the same.

**Why is this needed**:
Docker is deprecated now :)

[2021-12-16 03:12] compactcfusr commented on #849
Sorry, it's not particularly clear. Can you please suggest to CRDs and controllers?

[2021-12-16 05:06] compactcfusr commented on #849
In fact, I also do this now, but I have three ideas:
(1) crop CRDs
(2) crop controllers
(3) crop both.

Could you please give any suggestions?Thks.

[2021-12-16 05:19] veophi commented on #849
If you **do not** install a CRD, its corresponding controller **will not** be enabled as well (i.e., it will not be added to kruise-controller-manager when starting).

Maybe you can specify your case in detail if this approach cannot satisfy your requirements.

[2021-12-16 06:13] FillZpp commented on #851
@vikas027 Thanks for your feedback, but Kruise does support `containerd`. What problem did you encounter?

Note that kruise-daemon mounts the `/var/run` node path by default to find the runtime socket, including:
[code]

If your containerd socket is in some special path, please set the [helm chart parameter](https://openkruise.io/docs/installation#optional-chart-parameters) `daemon.socketLocation`

[2021-12-16 06:16] vikas027 commented on #851
Oh nice, I may have missed it. What is the recommended way if I have a mix of instances using both _dockerd_ and _containerd_?

[2021-12-16 06:28] FillZpp commented on #851
Usually we just have to set `daemon.socketLocation` to the directory path of the dockerd and containerd sockets. For example the path is `/var/run/xxx/`, then kruise-daemon will search sockert files with path `/var/run/xxx/docker.sock`, `/var/run/xxx/containerd.sock`, `/var/run/xxx/containerd/containerd.sock`.

So if the dockerd and containerd you are using on different nodes have the same socket

[2021-12-16 06:56] vikas027 commented on #851
Yeah, I think this is exactly what has happened in my case. Can this be taken as a feature request i.e. one can optionally specify the paths of the sockets?

[2021-12-16 07:54] FillZpp commented on #851
It can be, which means multiple node paths will be mounted in kruise-daemon pod and it will find the socket in those paths.

/retitle [feature request] multiple runtime socket paths for kruise-daemon

You can do this, although it is a little hard. You may take the steps:
1. Install Kruise with `daemon.affinity` to only deploy kruise-daemon on the nodes with dockerd.
2. Create a daemonset manually

[2021-12-16 10:10] vikas027 commented on #851
Thanks, @FillZpp

I think I can automate the process 😃 I will give it a go and let you know.

[2021-12-17 04:05] veophi opened #855 "[BUG] SidecarSet container upgrade type may be inconsistent with the context of pods, which will lead to panic."
**What happened**:
1. At first, I applied a sidecarset with cold-upgrade type.
[code]
2. Later, I changed my mind, and want to modify this sidecarset as hot-upgrade style. But, I found the sidecarset webhook reject my mutation request.
[code]

3.  Hence,  I decided to delete this sidecarset firstly, and then to apply a new sidecarset with hot-upgrade type.
[code]

4. Unfortunately, the new hot-upg

[2021-12-17 10:24] vikas027 opened #856 "[feature request] - add nodeSelector for deamonset as well"
**What would you like to be added**:
It would be great to have `daemon.nodeSelector` just like we have `manager.nodeSelector`

**Why is this needed**:
If we don't have this, then the `daemonset` creates a `pod` on `containerd` instances (like bottlerocket) and fails. Bottlerocket does not expose `containerd` socket as a `hostPath`

[2021-12-17 10:32] vikas027 commented on #851
Hey @FillZpp ,
I have realized (actually recalled) that Bottlerocket does not let us mount the `containerd` socket as `hostPath`. AFAIK, we don't have any option. I had hit the same issue while using GitHub Actions too.

[2021-12-17 10:32] #851 closed

[2021-12-17 10:36] pigletfly opened #857 "[feature request]show current working container in sidecarset"
**What would you like to be added**:

add current working container in sidecarset status,so that we can find working container in sidecarset.Otherwise, we have to find it in corresponding pod's annotations.

**Why is this needed**:

[2021-12-17 10:43] vikas027 opened #858 "[feature request] - Allow multiple images in ImagePullJob"
**What would you like to be added**:
It will be great to have multiple images in [ImagePullJob](https://openkruise.io/docs/user-manuals/imagepulljob). Maybe it can be a comma separate string.

**Why is this needed**:
It will help to reduce the number of manifests.

[2021-12-17 10:58] vikas027 opened #859 "[feature request] - Allow annotation on service account for IRSA"
**What would you like to be added**:
I would like to have annotation to be added on the service account to be used on EKS [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html)

**Why is this needed**:
To give permission to the service account to pull images from ECR

[2021-12-17 11:53] FillZpp commented on #856
Actually, you can use `daemon.affinity` to configure the node affinity, which is more flexible than `nodeSelector`.

[2021-12-17 12:07] FillZpp commented on #859
@vikas027 I'm not sure. Do you need a chart variable to customize your own annotations to be applied on the kruise service account?

[2021-12-17 12:14] FillZpp commented on #858
@vikas027 Yeah, some users of Kruise used to mention it too. But it is a little hard to implement. Are you willing to do this? Or you may ask if @hantmac is still interested in this.

[2021-12-18 01:27] vikas027 commented on #859
Yeah, a map for `annotations` just like `tolerations` would be awesome.

[2021-12-18 01:28] vikas027 commented on #856
I agree affinity is better but sometimes you just need something simple, having an option wouldn't be a bad idea IMHO.

[2021-12-18 01:30] vikas027 commented on #858
I can definitely try to have a look as time permits, totally swamped up these days :) I hope to get some free time in the new year.

[2021-12-18 01:30] vikas027 commented on #858
I can definitely try to have a look as time permits, totally swamped up these days :) I hope to get some free time in the new year.

[2021-12-20 03:29] FillZpp commented on #857
I'm not sure. What do you mean *working container*?

[2021-12-20 06:08] #855 closed

[2021-12-20 09:31] saihide opened #862 "[BUG]AdvancedCronJob BroadcastJob successfulJobsHistoryLimit:0 重复创建 BroadcastJob"
**What happened**:
第一种情况：  在AdvancedCronJob中配置了BroadcastJob, 设置successfulJobsHistoryLimit:0的时候，当BroadcastJob执行完成并结束(Completed),pod会立刻被删除，重复创建了一个新的BroadcastJob，如此反复循环。

第二种情况： 设置tlSecondsAfterFinished: 60，startingDeadlineSeconds: 50
当BroadcastJob执行完成并结束，过了tlSecondsAfterFinished的时间，job和pod并没有删除。

**What you expected to happen**:
任务执行完成, 垃圾回收结束, 等待下一次定时任务

**Anything else we need to know?**:
Advanced

[2021-12-20 09:47] FillZpp commented on #862
第一种情况：如果设置successfulJobsHistoryLimit=0，同时没有配置startingDeadlineSeconds，那在前一次的bcj被删除后advanced cronjob就会触发对前一次的补偿运行。一般来说不推荐设置为0，如果为0的话最好配合startingDeadlineSeconds使用。

第二种情况：关于`ttlSecondsAfterFinished`请确认下你的YAML里有没有笔误，我看着像是开头少了个字母`t`。

[2021-12-20 10:19] saihide commented on #862
第二种情况: 是少了一个t，加上后ok了，谢谢

[2021-12-20 10:33] #862 closed

[2021-12-21 07:15] qixiaobo commented on #546
https://kubernetes.io/zh/docs/concepts/workloads/controllers/cron-jobs/
So in cronjob spec

The same we should pay attention to kruise-controller

[2021-12-21 07:27] qixiaobo commented on #546
So maybe helm need provide a parameter like manager.timezone ?

[2021-12-21 08:14] compactcfusr commented on #849
Let's discuss this use case.
**In my case, I'd like to relieve performence pressure.**According to source code, different controllers will list-watch different resource.I'd like to crop the controller as thin as possible so that ensure openkruise can list-watch the least resource.

**My necessary CRDs are just CloneSet and CRR**.But I found it will go wrong if NodeImage and ImagePullJob is not ins

[2021-12-21 09:25] FillZpp commented on #849
Have you restarted or recreated kruise-manager pods after croping CRDs?

[2021-12-21 09:38] compactcfusr commented on #849
In croping CRDs way, I don't install unnecessary CRDs by installing openkruise with a manifest without unnecessary CRDs

[2021-12-21 09:53] FillZpp commented on #849
If so, the reason for you found job is still watched is that [we always register index for it](https://github.com/openkruise/kruise/blob/master/pkg/util/fieldindex/register.go#L103), not the kubebuilder's problem. So even if you disable some controllers, it will still be watched.

So you might have to update the file above, do not register index for job if AdvancedCronJob is not installed.

[2021-12-22 11:49] compactcfusr commented on #849
It looks like reasonable and I'll try it by not updating this file's code later.Thanks a lot.

[2021-12-23 02:28] FillZpp commented on #849
@compactcfusr Thanks. Also we are considering to provide a helm flag to let users disable some CRDs during install or upgrade Kruise. So that you have no need to corp them manually. We are glad to see you and talk about this in next bi-weekly meeting.

[2021-12-23 04:04] shiyan2016 commented on #786
@BurlyLuo Are you delete clone with `--cascade=false` option, if delete with `--cascade=false` , it will not delete orphan pod.

[2021-12-23 04:11] BurlyLuo commented on #786
no. just delete the pod as usual.

[2021-12-23 06:12] pigletfly commented on #857
If use HotUpgrade feature,then sidecar container name will switch between sidecarContainerName-1 and sidecarContainerName-2.Although we can get working-hotupgrade-container from Pod annotation `kruise.io/sidecarset-working-hotupgrade-container`, but it's not convenient.

[2021-12-23 08:20] hantmac commented on #858
Same as i thought,  and I will hava a look these days.

[2021-12-23 12:03] zmberg commented on #857
This is not fixed, the pod working container under a sidecarset is very likely to be different, and sidecar-1 and sidecar-2 exist at the same time, e.g., in the middle of expansion, rebuild, etc.

[2021-12-23 14:34] #828 closed

[2021-12-25 06:51] vikas027 opened #865 "[BUG] helm search repo should show the app version"
As of now, app version is not shown in the while searching the helm repo, it will be great to have the same.

[code]

[2021-12-25 08:20] vikas027 opened #866 "ImagePullJob Support ECR (STS tokens) Repositories"
**What would you like to be added**:
I am trying to use an ECR Image in  PumagePullJob which fails with these errors

[code]

My EKS nodes have IAM Roles configured to pull images from the ECR repositories, it looks like the go library(ies) is unable to use AWS STS tokens.

**Why is this needed**:
The workaround is to have a kubernetes docker secret with the token and then keep on renewing it, but

[2021-12-26 10:14] vikas027 opened #867 "[feature request] - remove default serviceAccount in kruise-controller-manager"
**What would you like to be added**:
Create a ServiceAccount, and give it the required privileges and remove the dependency on the default ServiceAccount.

**Why is this needed**:
Here are a few references why we need it for security:-
- https://github.com/kubernetes/kubernetes/issues/57601
- https://hackersvanguard.com/abuse-kubernetes-with-the-automountserviceaccounttoken/
- https://docs.bridgec

[2021-12-27 02:53] FillZpp commented on #866
IMHO, Kruise should not care about cloud providers. It just works on pure Kubernetes API.

I think EKS should the ability to manage and renew the secret for its users.

[2021-12-27 06:25] vikas027 commented on #866
Workloads on EKS does not need secrets by default, they just work as long as the nodes have proper IAM policies. EKS already takes care of the same i.e. whenever we have a docker image (like `111111111111.dkr.ecr.ap-southeast-2.amazonaws.com/traefik:v2.5.3`), nodes can pull the docker image without worrying about the repository/registry authentication. My idea was to use the same/similar logic in

[2021-12-27 06:34] FillZpp commented on #866
I'm not sure how it works... Maybe they have modified the code of EKS kubelet, which can pull images from ECR with IAM Roles configured somewhere. Does it have some documentations of this?

[2021-12-27 09:18] FillZpp commented on #849
@compactcfusr Hey, robot, we are going to discuss this issue at the community meeting this week https://shimo.im/docs/gXqmeQOYBehZ4vqo . Would you like to join it? (If you can speak Chinese)

[2021-12-27 10:57] FillZpp commented on #857
@pigletfly Welcome to join us in the community meeting this week https://shimo.im/docs/gXqmeQOYBehZ4vqo , we can have some discussion on it.

[2021-12-27 12:42] pigletfly commented on #857
sure,I'd love to have some discussion with the community.

[2021-12-28 02:16] compactcfusr commented on #849
haha,I can speak Chinese.I'll try my best to join the community meeting this week if I have time.

[2021-12-28 09:05] zhanbinHo opened #869 "[BUG]Advanced-DaemonSet Rollback available?"
Does advance-daemonset support rollback?

[2021-12-28 09:26] hantmac commented on #869
Of course, Advanced-DaemonSet also has RevisionHistory to allow rollback like native DaemonSet.

[2021-12-28 13:03] trondhindenes commented on #658
We have a similar but not identical need: We're trying to find a way to control the lifecycle of sidecar containers related to the "main" container during shutdown.
We need to guarantee that the sidecar never shuts down before the main container. This is problematic in cases where the sidecar is needed to perform some operation, and the main container takes a few seconds to finish off some semi-lo

[2021-12-29 03:07] FillZpp commented on #658
Yeah, we know that. But unfortunately, there is no way to control the sequence of container termination, except the preStop hook, which should be configured by users. It means you have to customize the preStop hook script of your sidecar container, it keeps waiting for the process in main container exited (maybe via identify file in shared volume) to make sure sidecar terminating after main.

What

[2021-12-29 03:30] FillZpp commented on #710
/reopen
#715 just stores the revisions but not support control yet

[2021-12-29 06:52] zhanbinHo commented on #869
How do I list the RevisionHistory of Advance-Daemonset?

[2021-12-29 06:56] zhanbinHo commented on #869
If it's native,I can do it like that
![image](https://user-images.githubusercontent.com/20354178/147635397-542ee1fa-620c-4173-b761-307e54c62afd.png)

[2021-12-29 07:14] hantmac commented on #869
You can use kruise api to get the RevisionHistory of Advance-Daemonset, and native kubectl can't do this now because the `rollout`  commands in original `kubectl` can only work for built-in workloads, such as Deployment and StatefulSet. So we have a [kubectl plugin](https://github.com/openkruise/kruise-tools) ,but this plugin only support CloneSet, asts rollout cmd now. It's nice if you can open a

[2021-12-29 07:21] #869 closed

[2021-12-29 08:37] trondhindenes commented on #658
thanks for the detailed explanation @FillZpp . My thinking was that it would be possible to use the same patch operation to remove a container from a running pod as (I'm assuming) openkruse uses to add containers in order, and then have a admission controller intercept pod delete commands to trigger the "ordered deletion". It might not be feasable tho, so thanks again for the reply.

[2021-12-29 09:14] FillZpp commented on #658
@trondhindenes  Aha, I understand your thought, but it does not work like that. In fact, we can not intercept the container start/stop operations executed by kubelet with admission webhook, which could only intercept update or delete to the pod objects.

So we have to control the container launch priority using configmap reference, which is some kind of a 'hook' in the progress, you can see detail

[2021-12-29 14:11] trondhindenes commented on #658
Thanks. I played a bit with the kubernetes api today, and realized that patching a pod is a lot stricted than what I'd previously thought - it seems like updating the image if a container is pretty much the only allowed mutating operation (as well as adding more containers to a running pod ofc).

Thanks again for the feedback, appreciate it!

[2021-12-30 01:57] #865 closed

[2021-12-30 02:46] FillZpp opened #871 "[feature request] Bump Kubernetes dependencies to 1.22"
**What would you like to be added**:
Bump Kubernetes dependencies to v1.22.5 as well as controller-runtime to v0.10.3.

Note that it is only the code dependencies, Kruise can still be installed in clusters with Kubernetes version >= 1.16.

**Why is this needed**:
We have to update K8s dependencies so that users can use new fields in pod template. We also need the `UnsafeDisableDeepCopy` released i

[2021-12-30 02:55] FillZpp opened #872 "[feature request] Disable cache DeepCopy to reduce memory usage for kruise-manager"
**What would you like to be added**:
After #871 has been done, we should use the new feature `UnsafeDisableDeepCopy` in controller-runtime v0.10.

This feature allows developers to avoid DeepCopy for some kinds of resources when they get or list from cache. We can start with Pod, which is the most cost to memory cache in large-scale clusters.

**Why is this needed**:

Reduce memory usage for kruis

[2021-12-30 07:00] shijieqin opened #873 "Make Advanced DaemonSet default behavior compatible with upstream"
**What happened**:
advanceDaemonset默认不调度到not-ready和unscheduable的机器上
**What you expected to happen**:
cordon一批机器之后，更新了一个advanceDaemonset的版本，cordon的机器没有部署上daemon pod
**How to reproduce it (as minimally and precisely as possible)**:
查看kruis的源码之后发现kruise默认不调度到not-ready和unscheduable的机器上，与原生了逻辑不一致，需要单独指定annotations
[code]
**Anything else we need to know?**:
不可否认的是，这个逻辑某些情况下是很有用的，但是建议修改一下默认逻辑保持与k8s官方一致，并

[2021-12-30 07:06] FillZpp commented on #873
/retile Make Advanced DaemonSet default behavior compatible with upstream

[2021-12-30 07:07] FillZpp commented on #873
/retitle Make Advanced DaemonSet default behavior compatible with upstream

[2021-12-30 19:32] wgitg commented on #560
@FillZpp  Awesome! We can potentially use the env metadata and annotation per environment variable (as used before). Two more follow up questions:
1. Does this feature work for both init container and regular containers?

Specifically, if either or both the init containers and the regular containers use the environment meta and the value is changed in the annotation, are all the following behavior

[2022-01-03 14:51] BryanDollery opened #875 "[BUG] transferEnv doesn't seem to work with initContainers"
**What happened**:
My init container doesn't get the transferred environment from the main container

**What you expected to happen**:
I expected the init container to get the environment

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
I guess this is because the main container hasn't been created at the time the init container runs and

[2022-01-04 02:50] FillZpp commented on #875
Yep, it seems `transferEnv` and some other fields like `shareVolumePolicy` has not supported for initContainers yet.
https://github.com/openkruise/kruise/blob/master/pkg/webhook/pod/mutating/sidecarset.go#L267

@BryanDollery Are you interested in approving this? Or you may ask @zmberg to help you with it.

[2022-01-04 06:31] shiyan2016 opened #876 "[feature request] PreDownloadImage after some number count pods update ready"
**What would you like to be added**:
CloneSet trigger PreDownloadImage after some updated pods ready.

**Why is this needed**:
If the new revision image has some problem, predownload the image for the pods for inplace update is wasteful.

[2022-01-04 06:39] FillZpp commented on #876
Great!
@shiyan2016 Are you going to work on this? Or I can do it later.

[2022-01-04 08:37] shiyan2016 commented on #876
@FillZpp I can work on it if this is not urgent.

[2022-01-04 10:06] furykerry commented on #658
k8s lacks the ability to natively support container termination sequence, yet it does not mean it's impossible. It's just hacky. One solution comes into my mind is that openkruise can takeover the container lifecycle management such as prestop probe, and inject a dummy prestop probe for kubelet ( sleep N seconds). One problem with this solution is that when you investigate the pod yaml, the presto

[2022-01-04 11:23] trondhindenes commented on #658
Thanks! We ended up with a custom mutating webhook that does what we need, and like you say we're using a prestop hook to coordinate shutdown between containers in the pod - it works surprisingly well (https://github.com/trondhindenes/daps)

[2022-01-04 17:44] wgitg commented on #560
@jian-he @FillZpp  @Fei-Guo  can any one of you share some insights on the above comments/questions?

[2022-01-05 00:16] perek opened #877 "[BUG] Workload spread doesn't scaledown as expected"
**What happened**:
Workload spread is supposed to keep the CloneSet or Deployment pods within a set bounds based on `maxReplicas`, this appears to mostly work on scale-up, but has some behavior I would not expect on scale-down. What I would like to achieve is an even split among 2 availability zones

**What you expected to happen**:
The zones would be split up according to missingReplicas on scale

[2022-01-05 02:15] veophi commented on #877
This is because WorkloadSpread cannot support the percentage config for MaxReplicas yet, we are going to solve this problem in the recent release. BTW, if you only want to scatter the replicas evenly, you can refer to https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/.

[2022-01-05 02:40] perek commented on #877
@veophi but this doesn’t work for scaledown s right? The main problem I’m trying to solve is HPAs making deployments unbalanced on scaledown

[2022-01-05 02:47] FillZpp commented on #877
@perek  CloneSet [does support scaledown by spread constraints](https://openkruise.io/docs/user-manuals/cloneset#deletion-by-spread-constraints) with no WorkloadSpread. But Deployment doesn’t support it.

[2022-01-05 02:51] FillZpp commented on #877
You might need to delete the existing WorkloadSpread and recreate all pod of the CloneSet (or recreate the CloneSet), for the existing pods have already been patched deletion-cost annotation. Then you can test the scaledown cases and check if it works well with your spread constraints.

[2022-01-05 15:59] hzyfox opened #879 "[BUG] Statefulset should consider non-available pods when deleting pods"
**What happened**:
Kurise Statefulset don't consider non-available pods when deleting pods.[Code Snippet](https://github.com/openkruise/kruise/blob/586e2dceed2b00513c0854bfc4ed38b8861c9c20/pkg/controller/statefulset/stateful_set_control.go#L584)

**What you expected to happen**:
StatefulSet should consider non-available pods when deleting pods

**How to reproduce it (as minimally and precisely as

[2022-01-05 23:07] perek commented on #877
removing the WS and setting the topo on cloneset seems to work as expected. Still, I really like the patch functionality of WS as it allowed for easier debugging and compatability with our current system. (currently we have 1 deployment per zone, which some flags set in the env vars)

[2022-01-06 04:01] FillZpp commented on #877
Understand. Do we have a plan to improve the percentage maxReplicas scaledown? @veophi

[2022-01-06 04:06] veophi commented on #877
@perek @FillZpp Yes, we already have a solution to solve this problem and are implementing the codes.

[2022-01-06 06:06] #879 closed

[2022-01-10 02:37] FillZpp commented on #232
Supported feature: https://openkruise.io/docs/user-manuals/containerlaunchpriority

[2022-01-10 02:37] #232 closed

[2022-01-10 06:04] FillZpp commented on #560
@wgitg Sorry for this late reply. May I ask could you speak Chinese? If so, we can talk about this proposal on [the community meeting this week](https://shimo.im/docs/gXqmeQOYBehZ4vqo#anchor-ltkM). WDYT?

[2022-01-10 07:05] wgitg commented on #560
@FillZpp Yes. I can speak Chinese. And I'd love to talk about the proposal more.. but I am located in the US bay area in PST time,  is it possible to to make the meeting more US time friendly? :)

[2022-01-10 11:24] FillZpp commented on #560
Oh, I'm sorry currently we can not change its time for some of our community members in China can only attend in the evening. So I'm going to answer your questions above, and we can also have a discussion using zoom meeting with less people if you need.

No, same as image in-place update, the env in-place update with Downward API can only work for regular containers.

When you update regular conta

[2022-01-10 19:18] kfox1111 commented on #509
not stale.

[2022-01-11 05:36] wgitg commented on #560
@FillZpp  Got it. Thanks for the information on the kruise 1.0 on cluster version >= 1.16.
And we will update the plan on leveraging the plan in the team due to the in-place update with the environment metadata only works for regular container but not the init containers. :(
yeah, we can follow up more on Zoom...

[2022-01-16 13:52] #510 closed

[2022-01-17 19:19] voron opened #892 "[BUG] extra ReadinnesGate with ReCreate updateStrategy"
**What happened**:
CloneSet pods do not become ready due to  `ReadinnesGate` ` InPlaceUpdateReady`. Pod status shows
[code]

**What you expected to happen**:
CloneSet pods are not affected by `ReadinnesGate` ` InPlaceUpdateReady` when `type` is `ReCreate`

**How to reproduce it (as minimally and precisely as possible)**:
* Create s `CloneSet` with
[code]
* get a couple of pods with added `Readinne

[2022-01-18 02:17] BurlyLuo commented on #787
How about the issue?

[2022-01-18 03:04] FillZpp commented on #892
@voron Thanks for reporting. It is an irrational problem.

Actually, pods should be injected with readinnesGate `InPlaceUpdateReady` no matter the update type is `ReCreate` or `InPlaceIfPossible`, because users can modify the update type any time.

But we should have to refresh the pod state including readiness condition before we check `paused` and skip to execute update.

[2022-01-18 05:57] #892 closed

[2022-01-18 14:11] hantmac opened #895 "[BUG] Refuse to create a new CRR for the same pod until the current CRR is completed"
**What happened**:
When I create many CRR for one pod in short time, there are some CRR in completed status and others in pending status until TTL.

**What you expected to happen**:
Refuse to create a new CRR for the same pod until the current CRR is completed.

**How to reproduce it (as minimally and precisely as possible)**:
Create many CRR for one pod in short time.

**Anything else we need to

[2022-01-19 03:36] FillZpp commented on #787
@BurlyLuo It seems they all have the same readinessGates?

[code]

[2022-01-19 07:37] voron commented on #876
I would prefer this feature to be optional

[2022-01-19 09:15] FillZpp commented on #876
Yep, after the discussion in community meeting last month, we decided to add an optional annotation for users, such as:

[code]

Just like the `apps.kruise.io/image-predownload-parallelism` we provided before.

[2022-01-19 11:38] BurlyLuo commented on #787
Please refer the above logs.

[2022-01-20 03:28] FillZpp commented on #787
So please provide the yamls of pods that have different readinessGates

[2022-01-21 10:28] pigletfly commented on #875
I'd like to take a shot on this.

[2022-01-21 10:28] pigletfly commented on #875
/assign

[2022-01-24 08:47] dengqian opened #898 "[BUG] maxUnavailable not working when pods not ready"
What happened:
When updating pod spec, pods whose status is not ready will all be deleted at once, maxUnavailable is not working
![image](https://user-images.githubusercontent.com/6399971/150750026-aa8d01b0-6ddf-4036-beef-19b5e58cc7fb.png)

What you expected to happen:
Even if the pod is not ready, the updating process still follows what is configured in updateStrategy.

[2022-01-24 13:38] voron commented on #892
JFYI master build with mentioned PR fixed this issue, thank you!

[2022-01-25 06:03] FillZpp commented on #859
closed by https://github.com/openkruise/charts/pull/7

[2022-01-25 06:03] #859 closed

[2022-01-25 06:03] FillZpp commented on #856
closed by https://github.com/openkruise/charts/pull/7

[2022-01-25 06:03] #856 closed

[2022-01-25 06:04] FillZpp commented on #867
closed by https://github.com/openkruise/charts/pull/7

[2022-01-25 06:04] #867 closed

[2022-01-26 03:36] FillZpp commented on #892
Good! And we have released [v1.0.1](https://github.com/openkruise/kruise/releases/tag/v1.0.1) which also contains this bugfix. You may just have to upgrade to this latest version.

[2022-01-26 06:12] voron commented on #892
Yep, tested it on v1.0.1, works perfect.

[2022-01-26 06:23] #898 closed

[2022-01-26 06:32] FillZpp commented on #875
Closed by https://github.com/openkruise/kruise/pull/897
Good job!

[2022-01-26 06:32] #875 closed

[2022-01-30 01:40] FillZpp commented on #790
solved

[2022-01-30 01:40] #790 closed

[2022-02-10 06:46] wgitg opened #901 "[feature request] Support ordered execution of the application containers during in-place updates in CloneSet"
**What would you like to be added**:

We would like CloneSet to support ordered execution of the application containers during in-place updates.

Specifically,
- user can specify the priority for each application container in a pod.
- When in-place updates happen  (e.g version change) in the multiple applications containers, the application containers stop and start based on the priority/ordering

[2022-02-10 06:51] wgitg commented on #794
Given the complication been discussed, we think the [alternative proposal](https://github.com/openkruise/kruise/issues/901) can help us to truly achieve the in-place update. We may close this issue.

[2022-02-10 06:54] wgitg commented on #560
Thanks for the engaging discussion and meetup,  @FillZpp and others. :+1:

Given the complexity and complication to support in-place update for init containers, the [alternative proposal](https://github.com/openkruise/kruise/issues/901) can help us to truly achieve the in-place update. We may close this issue.

[2022-02-10 08:33] thesuperzapper opened #902 "[feature request] PROPOSAL for CloneSet "Downscale Pod Picker" API"
## Background

I recently created [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189), which proposes a `downscalePodPicker` field for `ReplicaSetSpec` and `DeploymentSpec`, this field specifies a user-created "Pod Picker" REST API that informs which Pods are removed when `replicas` is decreased.

As you might imagine, getting anything added to upstream K8S for workloads that aren't

[2022-02-10 11:21] FillZpp commented on #901
@wgitg Thanks for the engaging discussion to make Kruise better :)

These looks good.

- For pods without container orders, no guarantees of the execution order during in-place update multiple containers.
- For pods with container orders:
  - keep execution order during in-place update multiple containers with different priorities.
  - no guarantees of the execution order during in-place update mu

[2022-02-10 11:24] FillZpp commented on #560
closed by #901

[2022-02-10 11:24] #560 closed

[2022-02-10 12:08] FillZpp commented on #902
@thesuperzapper Hey, I'm happy you found OpenKruise. I have seen you before in https://github.com/kubernetes/enhancements/issues/2255 but first time see the new https://github.com/kubernetes/enhancements/pull/3190.

I read your approaches. To be honest, I don't think it is a good idea to mess the downscaling with probes. Probes ONLY used for downscaling will makes the downscaling progress more com

[2022-02-11 00:50] thesuperzapper commented on #902
@FillZpp I am not sure If I understand your comment?

This proposal does NOT sugest probes on each Pod, it proposes that the controller asks a single API endpoint to "choose" which pods are best for removal from a provided list. The "alternatives" section is trying to outline the problems with OTHER approaches, including probes.

What are your thoughts on the central "pod picker" API concept?

---

[2022-02-11 03:42] furykerry commented on #902
it is generally not preferred to introduce such webhook in the controller, which brings too many communication problems.

if updating pod deletion cost is too heavy for you, an alternate option is to use CloneSet's [selective pod deletion feature](https://openkruise.io/docs/user-manuals/cloneset#selective-pod-deletion). You can construct your own CRD with a scale subresource and a target reference

[2022-02-11 05:21] thesuperzapper commented on #902
@furykerry the "pod picker" being unreachable (or too slow to respond) is not an issue, in those cases, the current ["deletion sequence"](https://openkruise.io/docs/user-manuals/cloneset/#deletion-sequence) will continue as normal. The "pod picker" is just a new step in the "deletion sequence" and has no hard guarantee that chosen Pods are removed, just that chosen pods are considered first.

What

[2022-02-11 07:39] hantmac commented on #895
First of all, this issue is not a bug of OpenKruise.The reason of this issue is the `StartAt` time of `containerStatus.State.Running` before the `CreationTimestamp` of CRR. And reason of wrong time is that the k8s worker node time clock different from master node. The detail analysis as follows.

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/7600925/153552760-a4756c8

[2022-02-11 07:39] #895 closed

[2022-02-11 17:50] wgitg commented on #901
@FillZpp  Thanks for the excellent support! Yes. Your comments looks good. 👍

[2022-02-12 08:00] #873 closed

[2022-02-16 03:09] willise commented on #710
Will SidecarSet support `CloneSetPartitionRollback` feature like CloneSet? CloneSet(v1.0.1) status has saved  "currentRevision" and "updateRevision" to be used for partition and that means there only have two different versions at same time. But SidecarSet now can has multi sidecar image versions, I think it may be a little complex and the sidecar is out of version control.

[2022-02-16 03:26] FillZpp commented on #710
@willise Actually, in CloneSet, `currentRevision` means the stable version and `updateRevision` the latest version. They can be the same version, but it doesn't mean there is only one or two versions.

For example, the default version is `v1`, then update `v2` with partition and then update to `v3` with bigger partition. At this time, `currentRevision` is `v1` and `updateRevision` is `v3`, but the

[2022-02-16 07:48] willise commented on #710
@FillZpp Thanks for your explanation and I get what you mean. So the `partition` field means "make sure there has (1-partition) percent of latest version instances at least". If I understand correctly, maybe the `partition` definition makes me feel confused and `1-percent` can be a good choice.

[2022-02-17 08:29] tianzichenone opened #905 "LFX-Mentorship-Fall: StatefulSet support volume claim resize"
**What would you like to be added**:
Auto resize PVC capacity when updating volume claim template in Advanced StatefulSet and CloneSet.

And should consider the following things:
- How to check StorageClass(CSI Driver) support resize capacity of PV?
- How to let users know whether the resize is successful?
- Should we rebuild Pod (and PVC) if the CSI Driver does not support resize PV (especially f

[2022-02-20 03:05] #803 closed

[2022-02-21 03:45] LetLifeStop opened #908 "[BUG] failed calling webhook "msidecarset.kb.io""
**What happened**:
I follow the (tutorial)[https://openkruise.io/docs/user-manuals/sidecarset/#create-sidecarset] to apply sidecartset.yaml, this error occured.
[code]
I  already install this [https://openkruise.io/docs/installation#install-with-helm] successfully
**What you expected to happen**:
apply sidecarset.yaml success
**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2022-02-21 03:55] FillZpp commented on #908
Hi @LetLifeStop , it is because when using a custom CNI (such as Weave or Calico) on EKS, the webhook cannot be reached. You can see [this](https://stackoverflow.com/questions/57292517/istio-failed-calling-admission-webhook-address-is-not-allowed).

Maybe you could solve it by setting `--set manager.hostNetwork=true` to let the webhook use host network. (You have to `helm upgrade kruise` again wit

[2022-02-21 12:44] LetLifeStop commented on #908
this really worked! Thanks.

[2022-02-22 03:55] FillZpp commented on #905
@tianzichenone Thanks. If upstream is working on this https://github.com/kubernetes/enhancements/pull/2842 , we'd better wait for it and then rebase into Kruise, to make sure the behavior is consistent with upstream.

[2022-02-22 04:18] FillZpp commented on #908
/close

[2022-02-22 04:18] #908 closed

[2022-02-23 06:22] szy441687879 opened #910 "[feature request] add inPlaceUpdate restart count to annotation"
**What would you like to be added**:
 Add inPlaceUpdate restart count to annotation
**Why is this needed**:
Our developers use restartCount as a way to judge the status of service, but inPlaceUpdate or Container Restart will add restart count, it may make them confused.
Since it hard to change the logic of pod restart count, it's also useful to add restart Caused by kruise in annotation, then hand

[2022-02-23 07:17] FillZpp commented on #910
@szy441687879 Thanks! I'm thinking should the inPlaceUpdate restart count in annotation to be the count of whole pod or the counts of each containers in pod?

[2022-02-23 08:13] szy441687879 opened #911 "[feature request] support lifecycle in daemonset"
**What would you like to be added**:
Add lifestyle in advanced daemonset such as cloneset, PreparingDelete needed first.

**Why is this needed**:
We need to expand memory request for advanced daemonset, but not all node has enough memory.If delete pod unconditionally，new pod may pending a longtime.
we can use preparingDelete lifestyle to intercept delete  action when node resource is not enough ,

[2022-02-23 08:34] szy441687879 commented on #910
@FillZpp In our scene, the count of whole pod is enough.But record the count of each containers may be more consistent with pod status.

[2022-02-25 05:56] Jeffwan commented on #871
@FillZpp Can we bump master version to 1.23 directly?

[2022-02-25 06:16] FillZpp commented on #871
@Jeffwan Hi, usually we choose the even number of the K8s version, e.g., 1.20, 1.22. Emm... Which feature of 1.23 do you need?

[2022-02-25 08:18] wgitg commented on #289
Orgnization/Company: LinkedIn
Location: Sunnyvale, U.S.
Contact: shuliang@linkedin.com
Purpose/Scenario: Using CloneSet for managing large-scale workloads (in-place updates, enhanced PVC support)

[2022-02-25 13:44] gotosre commented on #289
Orgnization/Company: 老男孩教育
Location: Beijing, China
Contact: [admin@oldboyedu.com](mailto:admin@oldboyedu.com)
Purpose/Scenario: 有状态/无状态服务管理 工具容器注入 周期性节点任务 标记/待条件Pod缩容 满足spread约束(自动)扩缩容 原地更新 原生应用重启行为  模型大镜像预拉 with p2p(阿里另外一个开源项目) PDB升级版-PUB

[2022-02-26 01:50] Jeffwan commented on #871
@FillZpp 1.22 works fine as well.  1.23 was officially released last Dec so I am thinking it's better to catch up the upstream latest version.  Another thing is the cluster we use kurise on is 1.23 with default CRI v1 and PodSecurity stuff and we may replace client-go internally. Upgrade to 1.23 makes our life easier but this is definitely optional for community.

If the community has conventional

[2022-02-27 13:28] BryanDollery opened #913 "[BUG] Install into existing namespace"
**What happened**:
I tried installing kruise into a pre-existing namespace and it failed with the following error

But, I don't want this namespace controlled by helm or kruise. I don't want every tool in its own namespace. I'm perfectly capable of testing my platform to confirm that there are no conflicts when tools share a namespace and it works for me. I have a namespace for all my platform too

[2022-02-28 02:48] FillZpp commented on #913
Emm... I thought a separate namespace might be easier for install and lower risk for uninstall. But it's fine, we can add a helm  parameter in the next release, to let user install Kruise in an existing namespace. @BryanDollery

[2022-02-28 03:08] FillZpp commented on #871
@Jeffwan Understand, thanks for your feedback.

My thoughts: even if Kruise bump K8s dependency to 1.23, it can still use CRI v1alpha2 to be compatible with the K8s clusters in old versions. So generally you don't have to care about its dependency version, unless you need to use some new fields of PodSpec in Kruise workload template.

 @veophi is working on this https://github.com/veophi/kruise/tr

[2022-02-28 07:11] #876 closed

[2022-02-28 11:08] FillZpp commented on #827
@Cole-GG MOSN has provided [a blog for this](https://mosn.io/blog/posts/mosn-sidecarset-hotupgrade/).

/close

[2022-02-28 11:08] #827 closed

[2022-02-28 11:40] BryanDollery commented on #913
You're probably right in most cases, but I'm special :)

It would be a lot easier if K8S supported nested namespaces (and if it supported a globally accessible namespace too), but it doesn't so we have to live with what we've got. For now, I'm putting all my toys in one basket and trying to control namespace proliferation. Shared application services go in `platform` (things like kruise, mongo, ka

[2022-03-01 06:01] wilsonwang371 commented on #871
We are actually using the field that is not in 1.20 and as a result, these fields are not passed down from advanced sts to created pods.

Is https://github.com/veophi/kruise/tree/bump-1.22 ready to use, did we test this?

[2022-03-01 07:53] YoghurtFree opened #914 "[feature request]"
**What would you like to be added**:
当我通过给pod增加注解  “apps.kruise.io/container-launch-priority: Ordered” 来控制pod内多个容器启动顺序的时候，会创建一个{podname}-barrier的configmap，通过更新configmap里面的key，来实现多容器的顺序启动。但是每次创建一个带相关注解的pod，都会生成一个configmap，如果集群中需要ordered pod数量特别大情况下，会产生数量可观的无用configmap。我希望能在pod内容器按照顺序启动成功之后，删除configmap。

**Why is this needed**:
 只是因为控制pod内多容器的启动顺序，创建的configmap，容易给k8s运维造成误解。

[2022-03-01 11:07] FillZpp commented on #871
@wilsonwang371 Thanks, it is not ready to use. But since you gays need it for new fields and @veophi may be busy these days, I have completed the upgrade based on it and submitted #915 . You can test with the branch if you need. Besides, we are planning to publish a new v1.1 release for OpenKruise in mid March and this should be included in that.

[2022-03-02 02:34] FillZpp commented on #914
@YoghurtFree 谢谢反馈。目前 configmap 设置的 owner 是 pod，因此 pod 删除后对应 configmap 也会被删除。但是当 pod 还在运行时，我们是不推荐删除 configmap 的，这会导致 pod 里容器如果发生重启（不管是 liveness 触发还是创建 CRR 主动触发）、原地升级等操作时，新容器无法拉起（因为 kubelet 找不到这个 configmap）。

[2022-03-02 03:16] YoghurtFree commented on #914
但是我用 openkruise 1.0.1版本测试的时候，创建ordered pod后，我手动删除{podname}-barrier 这些configmap，然后触发原地升级、kill进程强制容器重启等操作，都会重新创建{podname}-barrier 。我理解只要pod容器发生重启，都是pod的一个更新操作。是不是openkruise的controller里面已经处理了pod更新事件，然后重新创建的configmap.如果是这样的话，那么删除configmap没有任何影响啊。

[2022-03-03 03:57] FillZpp commented on #914
那么删除 configmap 后，任意对 pod 的更新（包括 labels/annotations、spec、status）都会触发 controller 再创建出来 configmap。而这又引发一个新问题：再次创建出来之后，是不是要再次删除？从而会导致 configmap 处于频繁的创建、删除过程。这样其实是更坏的情况。

[2022-03-03 07:19] YoghurtFree commented on #914
确实是这个道理，其实是一个取舍吧。感谢！我关了这个issue。

[2022-03-03 07:19] #914 closed

[2022-03-07 04:09] FillZpp commented on #910
/assign @szy441687879

[2022-03-08 07:28] #872 closed

[2022-03-08 07:37] #826 closed

[2022-03-10 03:46] Ironeie opened #924 "[BUG] Readiness probe failed"
**What happened**:
I installed kruise from manually downloaded sorce file, and the kruise-controller-manager is running but has warning of "Readiness probe failed: HTTP probe failed with statuscode: 500". When I log the pod, I found a lot of certificate error "http: TLS handshake error from 172.16.0.32:60014: remote error: tls: bad certificate", where 172.16.0.32 is not an existing IP that can be

[2022-03-10 03:48] veophi commented on #924
How do you install and deploy Kruise?

[2022-03-10 03:49] Ironeie commented on #924
helm install kruise kruise(downloaded file) --kubeconfig=my_cluster_config_file.kubeconfig, from source file, since the network is not connected to the public network

[2022-03-10 03:49] Ironeie commented on #924
helm install kruise kruise(downloaded file) --kubeconfig=my_cluster_config_file.kubeconfig, from source file, since the network is not connected to the public network

[2022-03-10 04:08] veophi commented on #924
"172.16.0.32" seems to be the APIServer IP that is provided by your kubeconfig. You should check whether your APIServer can be connected.

[2022-03-10 04:42] Ironeie commented on #924
I checked the IP, and I'm sure that "172.16.0.32" is not the APIServer IP and the APIServer can indeed be connected. By the way, the only modification I did when installing is setting the memory resource of kruise-manager container from 256Mi to 2048 Mi to avoid the OOMKilled of controller pod. Could you find out the reason of certificate error?

[2022-03-10 04:52] Ironeie commented on #924
There are some info in log before TLS handshake error as follows:
Failed to wait webhook ready over 8.157911517s: Get "https://localhost:9876/healthz": dial tcp 127.0.0.1:9876: connect: connection refused

[2022-03-10 05:34] zmberg commented on #924
Can you add a more complete log and look at the context

[2022-03-10 06:12] veophi commented on #924
Maybe, you should check the `ServiceAccountName` in kruise-manager pod, and the corresponding `ServiceAccount` in your cluster.

[2022-03-10 06:36] Ironeie commented on #924
`I0310 03:14:38.850998       1 feature_gate.go:243] feature gates: &{map[]}
I0310 03:14:38.851164       1 deleg.go:130] setup "msg"="new clientset registry"
I0310 03:14:39.147737       1 request.go:591] Throttling request took 89.100007ms, request: GET:https://172.31.128.1:443/apis/storage.tkestack.io/v1?timeout=32s
I0310 03:14:39.147925       1 request.go:591] Throttling request took 89.435725ms,

[2022-03-10 06:36] Ironeie commented on #924
I0310 03:14:38.850998       1 feature_gate.go:243] feature gates: &{map[]}
I0310 03:14:38.851164       1 deleg.go:130] setup "msg"="new clientset registry"
I0310 03:14:39.147737       1 request.go:591] Throttling request took 89.100007ms, request: GET:https://172.31.128.1:443/apis/storage.tkestack.io/v1?timeout=32s
I0310 03:14:39.147925       1 request.go:591] Throttling request took 89.435725ms,

[2022-03-10 06:48] Ironeie commented on #924
I found the serviceAccountName in kruise-manager pod is kruise-manager, and there is a serviceaccount named kruise-manager, which is running and has no error log

[2022-03-10 07:59] DrAuYueng opened #925 "[BUG]CloneSet, pods with status of NodeAffinity should be cleaned when UpdatedReplicas==Replicas"
**What happened**:
Deploy CloneSet which specified replicas 1,  and node selector such as :
[code]
k8s scheduled pod with different node, eg: 192.168.0.10, 192.168.0.11
<img width="831" alt="image" src="https://user-images.githubusercontent.com/1527849/157614013-c3664014-b936-4e43-a234-f93d0abc12b7.png">

Pod status:
[code]

**What you expected to happen**:
Pods with status of NodeAffinity should

[2022-03-10 08:03] FillZpp commented on #925
Pods with phase `Failed` or `Succeeded` will not be handled by CloneSet. They should be deleted by podgc-controller in kube-controller-manager.

[2022-03-10 08:04] FillZpp commented on #925
So does Deployment or ReplicaSet.

[2022-03-10 08:21] DrAuYueng commented on #925
Actually not deleted by podgc-controller.

[2022-03-10 08:23] DrAuYueng commented on #925
Similar as:https://github.com/kubernetes/kubernetes/issues/99986

[2022-03-10 08:25] DrAuYueng commented on #925
Seem gc-controller not work as expect.

[2022-03-10 08:25] FillZpp commented on #925
Yep, the default threshold 12500 is a little high. Now you can change it in the args of your kube-controller-manager.

[2022-03-10 08:39] DrAuYueng commented on #925
Not sure the suitable value for arg terminated-pod-gc-threshold.
Feature-gates include GC would be useful, would you think?

[2022-03-10 08:50] FillZpp commented on #925
We could consider adding that.

/retitle [feature request] add feature-gate to let cloneset gc inactive pods of it

[2022-03-11 01:26] perek opened #926 "[BUG] Percent partitions always round up causing no updates"
**What happened**:
The use case I am wishing to model is allowing for deploying only 1 pod on the new revision and then removing that split. I would expect that setting a partition to 99% should effectively behave like the maxSurge in Deployment and default to at least 1 replica, it seems we round up tho, so we end up with no replicas.

**What you expected to happen**:
99% Partition
3 pods, expect

[2022-03-11 01:31] perek commented on #926
https://go.dev/play/p/inrhAHw4v6q

[2022-03-11 01:32] perek commented on #926
you can see the code causing this issue here https://github.com/openkruise/kruise/blob/11771e1d784e2206d4b69afdaee8c0e320dbeeab/vendor/k8s.io/apimachinery/pkg/util/intstr/intstr.go#L177

[2022-03-11 01:33] perek commented on #926
it seems the old code we had a way to turn this off by setting maxSurge to 0, but in the latest version it is hard coded. I am not sure what other issues it would cause to swap this

[2022-03-11 07:01] shuaiganzi commented on #289
Orgnization/Company: 兴盛优选
Location: Shenzhen, China
Contact: hegan@xsyxsc.com
Purpose/Scenario: Using CloneSet for improve CICD efficiency

[2022-03-11 08:47] FillZpp commented on #926
Yeah, we think it is more safe to make partition round up. If you upgrade a CloneSet with replicas=3 & partition=30%, and then Kruise upgrade all replicas to new version that may have problems.

No. `partition` is always round up. It is `maxUnavailable` that will be round down if maxSurge is not 0.

[2022-03-11 08:53] veophi commented on #924
How do you solve this problem?

Kruise-controller-manager just like most of the operators builded by `Kubebuilder`, if you have some problems and can speak Chinese, welcome to join our DingTalk Group: 23330762.

[2022-03-11 08:57] perek commented on #926
I agree with that design choice overall, but there is no reliable way to test on a single pod afaik given this restriction. The issue I am having is that I desire to test a single pod on an auto scaled deployment. I cannot accurately define a single replica, for instance in Argo rollout if I set a weight of 1% I will always get at least one canary replica. Does that make sense? I feel like it shou

[2022-03-11 08:58] perek commented on #926
A good example of this is a 10 pod deployment

Partition of 90-99 update 1 replica
100 updates none
89 updates 2

[2022-03-11 09:02] FillZpp commented on #926
Then if partition is 0-9, it will upgrade all pods?

[2022-03-11 16:54] perek commented on #926
That is an interesting question, I would say all of them. I believe in the deployment controller today if I put maxSurge 0 and maxUnavail 29% it will finish in 3 iterations not 4. I could also see the argument in the partition case that N-1 and 1 are special cases where they will sit on these numbers until reaching 0 and 100 respectively. Another solution would be to allow the partitions to count

[2022-03-14 03:01] #911 closed

[2022-03-15 03:01] singgel commented on #289
Orgnization/Company: 雪球
ocation: Beijing, China
Contact: [hekuangsheng@xueqiu.com](mailto:hekuangsheng@xueqiu.com)
Purpose/Scenario: sidecar,cloneset,statefulset for Corporate Paas

[2022-03-17 12:56] ljun20160606 opened #928 "[BUG] sidecarset doesn't update pods as expected."
**What happened**:

Hot upgrades are triggered when image and other container configurations are changed at the same time. It cause the image to be upgraded to the latest, but the configurations will not be updated.

**What you expected to happen**:

method UpdateSidecarSet should skip updates of pods if configuration of container changes except image.

**How to reproduce it (as minimally and prec

[2022-03-17 13:00] pigletfly commented on #928
/cc @zmberg

[2022-03-17 13:06] veophi commented on #928
Native K8S APIServer does not allow to update container env when updating a pod.

It is impossible to update the container env in a HotUpgrade way for SidecarSet unless you modify your APIServer.

[2022-03-17 13:10] ljun20160606 commented on #928
Yes, so sidecarset shouldn't update spec of pod if env and image are changed at the same time.

[2022-03-17 13:25] veophi commented on #928
Yes, sure.

In this case, sidecarSet may receive an error from APIServer due to your modification of the container env. In fact, you must recreate your pod if you want to update the env. This recreate operation is dangerous and is not very inappropriate for sidecarSet.

[2022-03-18 03:03] #901 closed

[2022-03-18 03:29] zmberg commented on #928
I don't know how you verify that? I tested it locally and found that there is no update, as follows:
[code]
The relevant code is here: https://github.com/openkruise/kruise/blob/master/pkg/control/sidecarcontrol/sidecarset_control.go#L191

But it really should add a log or something for that.

[2022-03-18 07:53] #804 closed

[2022-03-19 10:16] haobiaosheng opened #933 "admission webhook "vsidecarset.kb.io" denied the request: [spec.volumes[0].name: Required value, spec.containers[0].volumeMounts[0].name: Not found: "log-volume"]"
**What happened**:
I follow the page:https://openkruise.io/zh/docs/user-manuals/sidecarset, to create a sidecar, but I meet a mistake：Error from server: error when creating "sidecarset.yaml": admission webhook "vsidecarset.kb.io" denied the request: [spec.volumes[0].name: Required value, spec.containers[0].volumeMounts[0].name: Not found: "log-volume"]. And I google this mistake, it said that this

[2022-03-20 07:42] haobiaosheng commented on #933
when I in the v1.22.0 version of k8s,it can create sidecar normally

[2022-03-20 09:34] #838 closed

[2022-03-21 03:20] outgnaY opened #934 "[BUG] sidecarset doesn't add volumes used by initContainers"
**What happened**:
sidecarset doesn't add volumes used by initContainers, it will only add volumes used by sidecar containers instead, which cause
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
sidecarset.yaml
[code]
pod.yaml
[code]
-> kubectl apply -f pod.yaml
The Pod "nginx" is invalid: spec.initContainers[0].volumeMounts[0].name: Not found: "

[2022-03-21 03:59] anjia0532 opened #935 "[feature request]kubectl-plugin support helm install/upgrade"
**What would you like to be added**:
https://openkruise.io/docs/cli-tool/kubectl-plugin

**Why is this needed**:

Dingtalk group screenshots

![image](https://user-images.githubusercontent.com/15098916/159203512-3280cced-fc8e-4ead-8a7f-9fab71cd73d8.png)
![image](https://user-images.githubusercontent.com/15098916/159203538-3343e195-7f80-4da8-879a-75c5c599d4a7.png)
![image](https://user-images.githu

[2022-03-21 04:01] veophi commented on #935
you have better move this issue to this repo: https://github.com/openkruise/kruise-tools.

[2022-03-21 06:54] anjia0532 commented on #935
OK

[2022-03-21 06:55] #935 closed

[2022-03-21 07:43] #934 closed

[2022-03-22 04:13] #813 closed

[2022-03-23 06:59] ljun20160606 commented on #928
Yes, may be it is my mistake. I'don't why it can't be reproduced again at v0.10.2. After reading the code, I found that the mutating hook does modify the hash of sidecarset first.
Should I close this issue?

[2022-03-23 08:55] qixiaobo opened #939 "[feature request]sidecarset support volume added by sidecar to main container"
**What would you like to be added**:
Scenes
Support javaagent mount using init-container
accomplish
1. The initcontainer defines the specified environment variables, such as JAVA_TOOL_OPTIONS, which is expected to be injected into the environment variables. After the sidecar is defined, it is also injected into the main pod.
2. initcontainer downloads javaagent to the specified path and the main p

[2022-03-23 09:06] qixiaobo commented on #939
https://github.com/openkruise/kruise/issues/934 this fixed
![image](https://user-images.githubusercontent.com/2881751/159663004-fd195342-22b0-4257-9220-e32b9b8ca376.png)

[2022-03-23 09:34] qixiaobo commented on #939
[code]

The `initenv.sh` may download the agent to specify location
We'd better support container index because the main container may not have the same name.
`addEnv` stands for add env to specify container
`addVolume` stands for add volume to specify container

Then we may use JAVA_TOOL_OPTIONS to pick up javaAgent

We can refer to
https://docs.oracle.com/javase/8/docs/technotes/guides/troublesh

[2022-03-24 08:29] qixiaobo commented on #939
refer to this repo
https://github.com/lipangeng/Skywalking-Injection

[2022-03-24 08:54] diannaowa commented on #910
I implemented this in my own environment and the result is shown below：
[code]
`apps.kruise.io/inplace-update-pod-restart-count`:  The Pod restart count.
`apps.kruise.io/inplace-update-containers-restart-count`: Every container restart count of the pod.
(revision:  the revision of the container updated.)

The `revision` and `timestamp` is  different  when we just update one(or a part of containers

[2022-03-27 07:53] qixiaobo commented on #939
At this moment, we can use https://openkruise.io/zh/docs/user-manuals/workloadspread
to make a workaround.
But still waiting for an offical

[2022-03-28 09:13] FillZpp commented on #913
Supported in https://github.com/openkruise/charts/pull/14

[2022-03-28 09:13] #913 closed

[2022-03-31 07:07] kfhanjie opened #942 "sidecarset support different resource config for diffrent app"
**What would you like to be added**:
希望sidecarset可以按应用支持不同的sidecar资源限制，比如注入sidecar时，可以根据pod上的sidecar资源标签来配置不同的cpu,mem的request/limit

**Why is this needed**:
不同的应用有不同的负载，一刀切的sidecar资源限制，要么会出现sidecar资源不足导致的瓶颈，或者资源浪费

[2022-03-31 07:08] kfhanjie commented on #942
可以参考https://github.com/istio/istio/issues/16126 的issues，我们的场景也是service mesh

[2022-03-31 08:45] qixiaobo commented on #289
Orgnization/Company: f6car
Location: Nanjing, China
Contact: [qixiaobo@f6car.cn](qixiaobo@f6car.cn)
Purpose/Scenario: Using Kruise for ResourceDistribution

[2022-03-31 09:36] qixiaobo opened #943 "[feature request]ResourceDistribution should consider configmapGenerator"
**What would you like to be added**:
ResourceDistribution should support other resource like configmapgenerator with Kustomize
**Why is this needed**:
In k8s, configmap only used as create.
This is not a good design.
So if we  want to change configmap we should delete and then create [of course we should pay attention to check exists]
So we cannot just simplily to

[2022-03-31 09:42] qixiaobo commented on #943
We just use this in agro-cd.
So it's a git-ops practise

[2022-03-31 10:04] #786 closed

[2022-03-31 11:23] qixiaobo commented on #943
In short , k8s support apply -f to any resources include configmap and secret.
But you know configmap or secret usually import from a file
in yaml keep it's format may be difficult.
And this file may be supported by other team.
So we often create configmap like this
[code]
This may break the gitops pipeline

[2022-04-01 06:29] FillZpp commented on #943
/assign @veophi

[2022-04-01 07:46] ZYecho opened #944 "[feature request] set pod not ready in PreparingUpdate and PreparingDelete lifecycle hook"
**What would you like to be added**:
set pod not ready in PreparingUpdate and PreparingDelete lifecycle hook

**Why is this needed**:
ccm（https://github.com/kubernetes/cloud-provider-alibaba-cloud） is responsible for create loadbalancer in cloud environment. ccm starts working when pod not ready, it removes the pod from LB.

we want to use cloneset PreparingUpdate and PreparingDelete lifecycle hoo

[2022-04-01 07:49] veophi commented on #944
/assign @veophi

[2022-04-01 10:51] hantmac commented on #943
@FillZpp Should we support this function in kubectl-kruise?

[2022-04-02 07:35] zmberg commented on #942
Whether the following annotations are added, and if they exist, the annotations will be used to assign sidecar resources:
[code]

@FillZpp @furykerry @kfhanjie

[2022-04-04 23:34] maxking opened #947 "[BUG] Cloneset controller seems to not cleanup ‘Failed’ Pods."
**What happened**:
This is mostly me retroactively trying to determine the root cause of an issue that I am currently observing in the cluster and wanted to ask here in case folks here would have better ideas than me.

I am observing that there are about 47 Pods currently there that have there `ownerReferences` pointing to 1 CloneSet. The CloneSet itself has replcas=1 set. 46 of these Pods are in

[2022-04-05 02:11] FillZpp commented on #658
/pinned

[2022-04-05 04:45] maxking commented on #947
If I am reading the code correctly, it does seem like cloneset acts only on ‘Active’ Pods and doesn’t consider ‘Failed’ or ‘Completed’ Pods or that aren’t ‘Deleted’: https://github.com/openkruise/kruise/blob/a25a9fb8eb3c0b1cc6f364412e43f3dadf950540/pkg/controller/cloneset/cloneset_controller.go#L234

Is that it is expected behavior?

[2022-04-05 10:49] FillZpp commented on #947
Yeah, it is the same behavior to Deployment/ReplicaSet https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L699

The inactive pods will be cleanup by the [podgc controller](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/podgc), but the defailt value of `terminated-pod-gc-threshold` is a little high. https://kubernetes.io/docs/concepts/

[2022-04-05 17:10] maxking commented on #947
Thanks @FillZpp, this makes sense. I should’ve read the docs better :-) Closing this issue, I think I now understand what really happened.

[2022-04-05 17:10] #947 closed

[2022-04-06 03:30] xsyl1124 commented on #289
Orgnization/Company: 安心云人事
ocation: Shanghai, China
Contact: [mengxiaodong@julanling.com](mailto:mengxiaodong@julanling.com)
Purpose/Scenario: Using Kruise and Rollouts for our business

[2022-04-06 06:21] FillZpp commented on #943
That's ok to me. @qixiaobo WDYT?

[2022-04-06 06:53] FillZpp commented on #942
Yeah, we can support the annotations defined by Istio. And should Kruise has it own annotations, so that users without Istio have not to use the Istio annotations?

[2022-04-06 07:09] qixiaobo commented on #943
LGTM

[2022-04-06 07:09] qixiaobo commented on #943
LGTM

LGTM

[2022-04-07 09:56] kfhanjie commented on #942
we don't  use istio for sevice mesh.  It feels strange to use istio annotation

[2022-04-11 06:18] zmberg opened #948 "[feature request] sidecarSet support namespace selector"
**What would you like to be added**:
Support for injecting sidecar via namespace selector, e.g., injecting envoy container by giving ns istio-injection=enabled

**Why is this needed**:

[2022-04-11 06:18] zmberg commented on #948
/assign @zmberg

[2022-04-12 13:26] wkai886 opened #950 "[BUG] preDelete of Advanced StatefulSet not working"
advanced statefulset  在 设置了   生命周期hook  preDelete 和 inPlaceUpdate 时：
           podUpdatePolicy 为 ReCreate 时， 升级或者重建无法触发 predeleting 状态。

ps：  保留序号的缩容 可以触发 predeleting
          podUpdatePolicy 为 InPlaceIfPossible 的升级可以正常触发 preUpdating 状态。

**Environment**:
- Kruise version:  0.9.0  0.10.0  1.0.0 （测试三个版本均有问题）
- Kubernetes version (use `kubectl version`):  1.18
- Install details (e.g. helm install

[2022-04-12 15:05] veophi commented on #950
/assign @veophi

[2022-04-13 02:01] FillZpp commented on #950
/retitle [BUG] preDelete of Advanced StatefulSet not working

[2022-04-13 08:26] wkai886 opened #951 "[feature request] Add pod specified-delete for advanced statefulset"
**What would you like to be added**:

advanced statefulset 添加类似 cloneset 的  在pod 上添加label    apps.kruise.io/specified-delete: true   去实现指定pod的重建，并且pod名字不变， 或者 基于 advanced statefulset 的 序号保留扩展下，可以实现重名pod的重建。

**Why is this needed**:

需要实现 advanced statefulset 的指定 pod重建的时候 能触发 preDelete 的 生命周期hook， 目前通过 序号保留将 某个序号的pod的删除的时候 可以触发 preDelete 的生命周期hook，但是不能覆盖住 同名pod 重建的场景。
如果可以支持 在pod 上添加label    apps.k

[2022-04-13 08:30] FillZpp commented on #951
/retitle [feature request] Add pod specified-delete for advanced statefulset

[2022-04-13 08:30] FillZpp commented on #951
/assign @veophi

[2022-04-18 09:21] veophi opened #953 "[feature request] Make sure at least one pod is upgraded if CloneSet Partition != 100%"
**What would you like to be added**:
This feature request is for CloneSet Partition with percentage type:
- CloneSet controller should make sure that at least one pod is upgraded if `replicas>0 && partition != "100%"`;
- CloneSet should show the absolute value of Partition in status if it has complex computational logic;

**Why is this needed**:
If we don't, when users guide traffic (e.g., 10% tra

[2022-04-19 06:19] dengqian opened #957 "[Feat] Support upgrade sidecar container when main container in the notReady status"
![image](https://user-images.githubusercontent.com/6399971/163937668-698d826f-c80a-40f3-a0d5-f2d70b8a941b.png)

After the old empty container upgraded to new version of sidecar container, if the main container's status remains in the notReady status, the old sidecar container cannot be replaced by empty container.

Since the status of main container not always depends on sidecar container, can we

[2022-04-19 06:29] zmberg commented on #957
Is it possible to additionally record the ready situation of other containers in annotations before upgrading sidecar, if it is originally a not ready scenario, it feels like it can be ignored after upgrading?

@furykerry @dengqian

[2022-04-24 05:02] #926 closed

[2022-04-24 05:02] #953 closed

[2022-04-24 09:28] feveee opened #964 "[feature request] add more detail info. in "kubectl kruise rollout status""
kubectl kruise rollout status clonesets/pod-mv-vqqq -n testns1
Waiting for 5 pods to be ready...
Waiting for 4 pods to be ready...
Waiting for 2 pods to be ready...
Waiting for 1 pods to be ready...
CloneSet rolling update complete 5 pods at revision pod-mv-vqq

**What would you like to be added**:

add  podName, Pod status，CloneSet name etc.  in rollout status

**Why is this needed**:   it's help

[2022-04-24 09:37] feveee commented on #964
updateStrategy:
    maxUnavailable: 1
    type: InPlaceIfPossible
    inPlaceUpdateStrategy:
      gracePeriodSeconds: 10
    priorityStrategy:
      weightPriority:
      - weight: 50
        matchSelector:
          matchLabels:
            upgrade-mode: standby
      - weight: 30
        matchSelector:
          matchLabels:
            upgrade-mode: active

we also want to check k8 logs/event

[2022-04-26 06:16] hellolijj opened #965 "[feature request] kruise deamon support TerminationGracePeriodSeconds when stop containers."
**What would you like to be added**:

kruise daemon support `TerminationGracePeriodSeconds` fields when  stopping containers.

**Why is this needed**:

[2022-04-26 06:17] hellolijj commented on #965
/close

[2022-04-26 06:17] #965 closed

[2022-04-27 03:09] CharlesQQ opened #966 "[BUG] In-placeupdate are slower than rollingupdate"
**What happened**:
deployment  applications by in-place update is found to be slower than rollingupdate

**What you expected to happen**:
In-placeupdate  should faster than rollingupdate

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
when a pod updated by in-placeupdate, it's image is changed, and must wait for old image be destroyed; Howeve

[2022-04-27 03:18] furykerry commented on #966
if the container stop very slowly ( e.g. very long prestop process), inplace update indeed can be slower than rollingUpdate, and this is expected.  we cannot start container with new image without kill the old container, which may leads to two running container

[2022-04-27 03:34] CharlesQQ commented on #966
@furykerry is there any way to faster inplaceupdate?

[2022-04-27 04:22] furykerry commented on #966
inplace update that allow old and new container running in the same time can be too complex for both app developer and Kruise. app developer must ensure that the applications runs and stops correctly if there is multiple application process running and listening the same port. You can check the sidecar [hotupgrade](https://openkruise.io/docs/user-manuals/sidecarset#hot-upgrade) to see how complex

[2022-04-28 02:55] #787 closed

[2022-04-29 01:36] CharlesQQ commented on #966
`if the container stop very slowly ( e.g. very long prestop process), inplace update indeed can be slower than rollingUpdate`

[2022-05-09 08:29] wangyx2464 opened #970 "能否在hub仓库中提供下ppc64le架构的镜像"
能否在hub仓库中提供下ppc64le架构的镜像

[2022-05-09 08:37] FillZpp commented on #970
@wangyx2464  Sure. Please add `linux/ppc64le` into [Makefile](https://github.com/openkruise/kruise/blob/master/Makefile#L4) and I shall rebuild the latest image with it.

[2022-05-11 07:26] FillZpp opened #974 "[feature request] TimeZone support for AdvancedCronJob from upstream"
**Why is this needed**:
CronJob has added a `timezone` field in Spec https://github.com/kubernetes/kubernetes/pull/108032 . AdvancedCronJob should cherry-pick it to support timezone configuration.

[2022-05-11 07:27] FillZpp commented on #546
#974 will provide a timezone field in acj spec. @qixiaobo

[2022-05-11 07:46] ibizdevops commented on #289
Orgnization/Company: 广州雷猴软件-噢啦研发部
Location: 中国广州
Contact: zhengliang_w@oola.cn
Purpose/Scenario: 使用CloneSet提高CICD效率、管理业务应用workloads（如原地升级）；使用SidecarSet管理sidecar容器。

[2022-05-17 06:33] qixiaobo commented on #546
Thanks for reply. We will have a try

[2022-05-17 08:38] zmberg opened #977 "[feature request] Pub support custom workload"
The current pub can only support native and kruise workloads, in addition to custom workloads.

[2022-05-19 11:08] #902 closed

[2022-05-22 14:56] hantmac commented on #964
[This PR](https://github.com/openkruise/kruise-tools/pull/65) Add more detail info like this:
[code]

[2022-05-23 06:17] FillZpp commented on #964
/cc @zmberg @veophi

[2022-05-23 06:32] FillZpp commented on #964
@hantmac Will it be too more pod names in the message? What's the output of `kubectl rollout status`?

[2022-05-30 12:34] l-duan opened #984 "Are there plans to make the ordinal index for a statefulset available dynamically within a config file?"
It would be good if there were some templating format so that the property could be set directly in the config file. E.g. (simplified):
[code]
**What would you like to be added**:

**Why is this needed**:

[2022-05-30 12:43] furykerry commented on #984
you can use the downward api populated env to get pod name which has suffix of ordinals

[code]

[2022-05-30 13:05] l-duan commented on #984
is there anyway/anyplans to get that ordinal directly at creation-time, instead at runtime?  well，I want to set  ordinal index to env, but not working.

![6539055348077](https://user-images.githubusercontent.com/12080822/170998395-c453e38b-9a1a-4736-af9d-099ab30e8db7.png)

[2022-06-01 02:42] FillZpp commented on #984
@l-duan Different containers in a same pod have different environments, so you can not export the env from init container to another container.

[2022-06-07 03:35] FillZpp commented on #944
closed by #979
/close

[2022-06-07 03:35] #944 closed

[2022-06-07 11:11] bzd111 commented on #289
Orgnization/Company: youzan
Location: Hangzhou, China
Contact: [cheng.zhang@youzan.com](cheng.zhang@youzan.com)
Purpose/Scenario: Using SidecarSet to manage sidecar include inject and inplace update.

[2022-06-07 17:56] cerebrate opened #989 "[BUG] kruise-controller-manager pod fails to start"
**What happened**:

This has been occurring ever since a power-failure induced node restart on the cluster, although I am uncertain how that may be connected to the issue. Essentially, the kruise-controller-manager pod fails to start:

[code]

Examining the pod log shows this error:

[code]

The full pod log is included here:

[kruise-fail-log.txt](https://github.com/openkruise/kruise/files/885540

[2022-06-08 03:44] FillZpp commented on #989
Hey @cerebrate , looks like it failed to create a fsnotify watcher because of the kernel error `too many open files`.

https://github.com/openkruise/kruise/blob/052979046e879fd1a7fae302d685b006229b6b13/pkg/webhook/util/health/checker.go#L115-L118

It is probably forbidden by the inotify limit of the OS. You could use `sysctl fs.inotify` to see the limit policies. Usually it is caused by the small

[2022-06-16 05:48] gotosre opened #995 "[BUG] statefulset cannot updated to advanced sts in place"
- version: 1.2
- kubernetes version: 1.18
- log:
`* : Invalid value: "The edited file failed validation": ValidationError(StatefulSet.status): missing required field "availableReplicas" in io.kruise.apps.v1beta1.StatefulSet.status`

[2022-06-16 06:57] veophi commented on #995
How do you upgrade your kruise? Did you upgrade kruise CRDs?

[2022-06-16 08:57] xigang opened #996 "[BUG] Kruise and Kubelet updated podReady, making podReady inconsistent"
**What happened**:
Kruise and Kubelet update podReady condition at the same time, and podReady = True overwrites podReady= False
[code]
https://github.com/openkruise/kruise/blob/0434cfaa30b01317e4d70bd903fb86ba14736bf1/pkg/util/inplaceupdate/inplace_update.go#L173

When InPlaceUpdateReady = False will be update podReady=False. InPlaceUpdateReady = True, kriuse will update podReady=True. If kubelet

[2022-06-16 09:09] FillZpp commented on #996
@xigang Hey, which version of kruise do you use? This should be solved in #537 and released since v0.10.0. After that, kruise will only set `InPlaceUpdateReady` condition to `True` and wait for kubelet updating the `Ready` condition to `True`.

[2022-06-16 09:24] jiazhiguang commented on #996
In v0.10.0 kruise can set `Ready` condition to `False`,   this may conflict with the behavior of the kubelet.

[2022-06-16 09:41] xigang commented on #996
hanks for replying. we are currently using version < 0.10.0. Kruise will update podReady=False when looking at the latest code when InPlaceUpdateReady=False. When InPlaceUpdateReady=True, podReady is set to True. Kruise and Kubelet update podReady at the same time. Kubelet sets podRready=False to overwrite kruise podReady=True?

[code]

[code]

[2022-06-16 12:23] xigang commented on #996
I known that. Kruise version >= v0.10:

[2022-06-16 12:53] xigang commented on #996
I known that, only kubelet can set `Ready=True`.   When `InPlaceUpdateReady=False`, Kruise can set `Ready=False`.

But because of network latency and so on, At this time, Kubelet updates `InPlaceUpdateReady=True` and `Ready=True` later than Kruise. The pod condition updated by Kubelet overrides the correct condition updated by Kruise.

[2022-06-16 12:56] #924 closed

[2022-06-16 13:39] xigang commented on #996
ping @FillZpp

[2022-06-17 07:00] gotosre opened #997 "[BUG] controller crashed and cannot start"
**What happened**:
controller crashed and cannot start

**What you expected to happen**:
running normal

**Environment**:
- Kruise version: 1.2
- Kubernetes version (use `kubectl version`): 1.18

**log**

![image](https://user-images.githubusercontent.com/97461479/174243480-95ed7120-1623-46c8-84c9-e47c0300581d.png)
![image](https://user-images.githubusercontent.com/97461479/174243493-708bed56-b0a4

[2022-06-17 07:03] FillZpp commented on #997
/assign @veophi

[2022-06-17 07:21] gotosre commented on #997
@veophi when i enable StatefulSetAutoDeletePVC feagate, controller rolling update and then crashed. any comparability problem with kube 1.18?

[2022-06-17 07:23] sunzhencode opened #998 "[feature request] grafana dashboard for metrics"
收集了metrics，能否提供一份grafana监控面板

[2022-06-17 07:39] gotosre commented on #997
reproduce:
1. install kruise without featuregate StatefulSetAutoDeletePVC
2. run advancedstatefulset
3. upgrade kruise with featuregate StatefulSetAutoDeletePVC
4. controller crashlooping!!!

repair:
1. rollback kruise without feagate
2. delete advsts
3. upgrade kruise with feagate StatefulSetAutoDeletePVC
4. redeploy advsts
5. succ.

---

so feagate cannot set when sts exists? expected result or

[2022-06-17 08:07] veophi commented on #997
Do you open `Kruise Webhook`？

plz show `kubectl get mutatingwebhookconfigurations  kruise-mutating-webhook-configuration`

[2022-06-17 11:06] xigang commented on #996
@FillZpp Sorry, Looking at the latest version of the code, this problem has been solved .

[2022-06-17 11:07] #996 closed

[2022-06-17 14:26] FillZpp commented on #997
Hey @gotosre , thanks for reporting, looks like it is a compatible issue. I have cherry-picked #999 to release-1.2 and rebuild the v1.2.0 image. Could you please recreate the kruise-controller-manager pod and see if it works well?

[2022-06-17 17:15] gotosre commented on #997
install kruise via chart.
---
$ kubectl get mutatingwebhookconfigurations kruise-mutating-webhook-configuration
NAME                                    WEBHOOKS   AGE
kruise-mutating-webhook-configuration   11         37h

[2022-06-17 17:16] gotosre commented on #997
it works.

[2022-06-17 17:20] gotosre commented on #997
but another question, my atst manifest below:
`~~~omitted~~~
  volumeClaimTemplates:
  - metadata:
      name: loki-ingester-data
    spec:
      persistentVolumeClaimRetentionPolicy:
        whenDeleted: Retain
        whenScaled: Delete
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 200Gi
      storageClassName: cbs-wff`
with `persistentVolumeClaim

[2022-06-17 17:45] gotosre opened #1000 "[feature request] need webhook validation for perserve-unknown fields like pod template"
k8 ver: 1.18
kruise ver: 1.2.0

manifest:

[code]

but when apply(create)

manifest become default value
[code]

when i edit it with kubectl edit

it become as expected

[code]

[2022-06-19 11:58] gotosre commented on #1000
create/apply action doesnt work
patch works

[2022-06-19 23:56] gotosre opened #1001 "question: how to prepare kubebuilder env in kruise project"
i wanna run kruise testing case,but error occurrrrred.
2022/06/20 07:46:20 unable to start control plane itself: failed to start the controlplane. retried 5 times: fork/exec /usr/local/kubebuilder/bin/etcd: no such file or directory

follow the kubebuilder official docs, i install kubebuilder bin, but not work.

how to prepare it?

[2022-06-20 03:23] veophi commented on #1001
Plz try
[code]

[2022-06-20 03:26] veophi commented on #1000
So sorry for that...

You can use `apps.kruise.io/v1beta1` instead of `apps.kruise.io/v1alpha1` in your **yaml configuration** to avoid this problem temporarily, and we will fix it later.

[2022-06-20 03:31] FillZpp commented on #1000
You sure it is because @gotosre is using `apps.kruise.io/v1alpha1`? If so, it is the expected behavior. The `v1alpha1` is deprecated and all new fields and features will only be supported in `v1beta1`.

[2022-06-20 03:44] gotosre commented on #1000
sorry，my fault, i put there code snippet to template.spec not spec...
but why can template.spec set unknown field~ i think we can add some validation.
ty everyone, close it.

[2022-06-20 03:49] FillZpp commented on #1000
It is because the `template` field in CRD is marked as `x-kubernetes-preserve-unknown-fields`. But true, some validation for these fields in webhook should be added.

[2022-06-20 03:55] direct-spl opened #1003 "[BUG] sidecar不更新"
更新sidecar配置或者镜像后，sidecar一直未更新
[code]

[2022-06-20 03:56] veophi commented on #1003
Plz show your sidecarset configuration
` kubectl get sidecarset -oyaml | grep partition`

[2022-06-20 03:58] direct-spl commented on #1003
[code]

[2022-06-20 04:00] FillZpp commented on #1000
/reopen
/retitle [feature request] need webhook validation for perserve-unknown fields like pod template

[2022-06-20 04:00] direct-spl commented on #1003
[code]

[2022-06-20 04:02] FillZpp commented on #1000
/retitle [feature request] need webhook validation for perserve-unknown fields like pod template

[2022-06-20 04:21] FillZpp commented on #997
closed by https://github.com/openkruise/kruise/issues/1000#issuecomment-1159935130
/close

[2022-06-20 04:21] #997 closed

[2022-06-20 06:38] #1001 closed

[2022-06-20 07:42] FillZpp commented on #995
Please paste your YAML with the new `apiVersion`.

[2022-06-20 07:58] #995 closed

[2022-06-23 08:21] Reason94 opened #1005 "[feature request] SidecarSet支持查看管控范围内Pod上的Sidecar当前版本"
**What would you like to be added**:
- SidecarSet升级完成后，快速了解哪些pod已经升级成新版本了
- SidecarSet管控范围内，各个Pod的sidecar版本，可按版本筛选pod

**Why is this needed**:
用于Paas平台集成，查看下某次金丝雀发布后哪些pod已经升级，以及本sidecar管控范围内pod上的sidecar版本

** 个人思路**:
sidecarset 像cloneset一样，增加labels信息，此类label会被写入pod的labels部分。
通过Selector机制快速查询

[2022-06-23 08:29] zmberg commented on #1005
@Reason94 look at this pr https://github.com/openkruise/kruise/pull/993, If add the version label here, eg. kruise.io/sidecar-version: v1 ,it should meet your needs.

[2022-06-23 09:09] Reason94 commented on #1005
It seems that it can solve my needs. When will it be released?

[2022-06-25 22:51] #933 closed

[2022-06-27 15:15] ABNER-1 opened #1006 "[BUG] Why Optional Field <MaxUnavailable> can not be set nil?"
**What happened**:
I use advanced daemonset and update with partition feature. However, when I update to v1.1.0, I can not update when I don't set MaxUnavailable and MaxSurge with kruise controller log error msg "couldn't get unavailable numbers: invalid value for MaxUnavailable: nil value for IntOrString".

**What you expected to happen**:

As api doc said: "// The maximum number of DaemonSet pod

[2022-06-27 15:31] veophi commented on #1006
@ABNER-1  Webhook will set [Default](url) for daemonset if it is nil when creating/updating it,  how do you update your daemonset?

[2022-06-28 03:32] ABNER-1 commented on #1006
I use openkruise client v1.1.0-legacy to update.
How can I debug this webhook log?

[2022-06-29 00:09] #928 closed

[2022-06-29 08:12] FillZpp commented on #1006
@ABNER-1 Could you paste your ads yaml by `kubectl get ads xxx -o yaml`?

[2022-06-30 08:19] aaronseahyh opened #1012 "[BUG] Advanced DaemonSet stuck in Rolling Update"
**What happened**:
During RollingUpdate, old daemons are not terminated after new daemons are successfully created and running.

**What you expected to happen**:
Expect old daemons to be terminated after new daemons are successfully created and running.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install kruise v1.2.0
2. Create ads.yaml
3. Update image version (ads.yaml#L

[2022-06-30 09:37] aaronseahyh opened #1013 "[BUG] kruise-controller-manager failed to watch and list resources"
**What happened**:
The following errors showed up in the pod logs of **kruise-controller-manager** during deployment of kruise:
[code]
[code]

**What you expected to happen**:
No errors when deploying kruise application.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install kruise v1.2.0
2. Check pod logs of kruise-controller-manager

**Anything else we need to know?**:
Ful

[2022-06-30 11:35] FillZpp commented on #1013
That's the timeout of HTTP request to API Server. I'm not sure why it happened, but I fount a same issue https://github.com/kubernetes/kubernetes/issues/60957 , see if can help you.

[2022-07-02 03:43] #1012 closed

[2022-07-05 05:20] aaronseahyh commented on #1012
@FillZpp Thank you for the fix. I see that the PR has been merged. Will this be included in an upcoming minor release?

[2022-07-05 07:29] FillZpp commented on #1012
Yeah, the new v1.2.1 is coming.

[2022-07-07 02:24] direct-spl opened #1017 "kruise-controller-manager一直崩溃,报错“Could not wait for Cache to sync”"
**What happened**:
kruise-controller-manager  crashbackoff ，keep  restarting
**What you expected to happen**:
希望可以解决
**How to reproduce it (as minimally and precisely as possible)**:

报错详情:
[code]

**Environment**:
- Kruise version: 1.1.0
- Kubernetes version (use `kubectl version`): 1.22.4
- Install details (e.g. helm install args): helm  install  kruise  ./kruise
- Others:

[2022-07-07 02:33] FillZpp commented on #1017
[code]

It seems to be caused by this watch error from APIServer.

[2022-07-07 02:40] direct-spl commented on #1017
这个应该怎么查，apiserver运行是正常的，查看日志也没用崩溃过

[2022-07-07 03:01] FillZpp commented on #1017
1. Check your APIServer logs, see if there is any warning logs in it.
2. This is a similar issue when helm connects to APIServer, see if you could fine some information in it  https://github.com/helm/helm/issues/7997

[2022-07-07 03:05] direct-spl commented on #1017
apiserver确实有个报错：
[code]

[2022-07-07 09:12] direct-spl commented on #1017
问题找到了，是因为分配给kruise-controller-manager的资源不够导致的这个问题，增加资源后服务正常
@FillZpp controller日志可以直观的显示资源问题吗，目前看所有的报错都没有指出是资源问题

[2022-07-07 09:14] #1017 closed

[2022-07-07 10:18] baxiaoshi opened #1018 "[feature request] 支持calico固定IP"
**What would you like to be added**:
* 支持pod带有固定标识workload
* 支持calico bgp固定IP

**Why is this needed**:
- openkruise目前只支持固定的几种workload, 建议支持任意类型的带有固定标识的workload
- 支持calico环境的固定IP

[2022-07-11 06:30] jonah-lab opened #1019 "clonset 有关lifecycle 能否给一下详细一点的demo?"
**What would you like to be added**:
更详细的demo,有关cloneset PreDeleteHooked的操作方法

**Why is this needed**:
有关pod的信息如何获得？
如何在controller里面去操作其它的资源对象？

[2022-07-11 12:53] jiangfoxi opened #1020 "[BUG] podip没有固定，使用persistentpodstates + flannel(host-local)"
**What happened**:
1. 通过构建host-local二进制，替换公司ipam host-local 插件二进制，并卸载掉flannel和cni0以及flannel重装flannel(执行https://github.com/openkruise/samples/blob/master/containernetworking/plugins/build_linux.sh)
2. 修改flannel cfg，增加capabilities（按照https://github.com/openkruise/kruise/blob/master/docs/proposals/20220421-persistent-pod-state.md此文档来修改）
cni-conf.json: |
    {
      "name": "cbr0",
      "cniVersion":

[2022-07-12 02:40] FillZpp commented on #1020
/assign @zmberg

[2022-07-12 03:01] FillZpp commented on #950
fixed in #979

/close

[2022-07-12 03:01] #950 closed

[2022-07-13 03:13] #299 closed

[2022-07-18 01:35] ABNER-1 commented on #1006
I will reproduce this case later.
I found in my k8s cluster, the webhook may be unreachable because our k8s setting. Maybe this is the reason why whe MaxUnavailable is nil.

[2022-07-18 03:53] #1006 closed

[2022-07-21 08:20] FillZpp commented on #642
Supported in v1.2.0 with PersistentPodState.

/close

[2022-07-21 08:20] #642 closed

[2022-07-22 06:55] dylandee opened #1032 "cloneSet controller 获取所属Pod存在问题"
cloneset controller 在reconcile的时候，通过 fieldSelector 过滤出ownerRefrence 为 当前 cloneSet 的Pods
(https://github.com/openkruise/kruise/blob/e45953001f1dfbf72ddffe7e1b77e121048f323d/pkg/controller/cloneset/cloneset_controller.go#L454)

这里会存在问题，如果一个pod 本来是属于某个cloneset，但是ref因为某些原因被删除了，那这个pod就会变成孤儿，生命周期失去管控

其实接下来的 claimPods 其实有一段逻辑是给 selector 选中，但是ownerRefrence没有的pod setownerRefrence(https://github.com/openkr

[2022-07-22 07:00] FillZpp commented on #1032
@dylandee 是的，这是因为 CloneSet 目前在设计上，暂时不支持接管 orphan Pod（这一点与 ReplicaSet 不同），参考这个历史 PR #486 的讨论。

[2022-07-22 07:05] dylandee commented on #1032
好的，我看了一下这个pr，我同意你的观点，确实这是一种比较特殊的情况，风险大于收益

[2022-07-22 07:06] #1032 closed

[2022-07-22 08:58] #710 closed

[2022-07-22 11:51] #964 closed

[2022-07-23 04:55] astraw99 opened #1033 "[BUG] No effect when the `BroadcastJob` spec is changed and applied again"
**What happened**:
Firstly apply a `BroadcastJob` yaml to the cluster, we can see the job pod `Completed`.
Then change the spec and apply to the cluster, the controller take no effect as if nothing happened.

**What you expected to happen**:
When the `BroadcastJob` spec was changed, the controller shoud reconcile again to take the spec into effect.
If the `BroadcastJob` spec is allowed to change,

[2022-07-24 04:56] astraw99 opened #1035 "[BUG] Makefile works fail on go 1.18"
**What happened**:
In my env, the go version is `go 1.18.2`, when do the command `make manifests` in the master branch, got the error:
[code]
After check, it is the `controller-gen` binary not generated by `go get` in go 1.18.

**What you expected to happen**:
To make the Makefile both work well on go version below or above go 1.18

**How to reproduce it (as minimally and precisely as possible)**:

[2022-07-25 02:58] #1035 closed

[2022-07-25 03:38] zmberg commented on #1020
@jiangfoxi pod need contains annotations["io.kubernetes.cri/reserved-ip-duration"] = 10.

[2022-07-25 10:44] FillZpp commented on #1033
Now BroadcastJob doesn't support pod upgrade. It dispatches a pod only once on each node, unless you delete the existing pod.

Maybe it can support it in future, but that should be a new feature request and start design with a proposal.

[2022-07-26 00:53] #957 closed

[2022-07-26 09:17] shiyan2016 opened #1038 "[feature request] partition support config like 100% - num"
**What would you like to be added**:

partition support config like 100% - num

**Why is this needed**:
In some case, we need canary release, which expect num(for example num=1) of  pods always keep the newest version even if hpa triggle scale  in the canary release time.

[2022-07-26 09:18] veophi commented on #1038
sounds good!

How about to support both `100%-num` and `100%-percent` ?

[2022-07-26 09:22] FillZpp commented on #1038
This should be a topic of the community meeting this week :)

[2022-07-26 12:38] lepolesaLibete opened #1039 "[BUG] BroadcastJob not running to completion when completion policy is set to Always"
**What happened**:
I am running BroadcastJob through AdvanceCronjob. I set completion policy as below. What I see is that after all pods run to completion, the  new BroadcastJob is started immediately after the scheduled one completes and this behaviour just keeps on going.
[code]

**What you expected to happen**:
I expected the BroadCastJob to start at the give schedule time and run to completion

[2022-08-01 08:19] no-frown commented on #910
###
Is there any progress on this issue?

[2022-08-02 03:29] chenshiwei-io opened #1044 "[feature request] How to distinguish between in-place restarts and problem pod restarts"
**What would you like to be added**:

Container Restart
FEATURE STATE: Kruise v0.9.0

ContainerRecreateRequest provides a way to let users restart/recreate one or more containers in an existing Pod.

Just like the in-place update provided in Kruise, during container recreation, other containers in the same Pod are still running. Once the recreation is completed, nothing changes in the Pod except t

[2022-08-03 10:51] FillZpp commented on #1044
@no-frown How about a discussion in next community meeting?

[2022-08-04 11:51] #966 closed

[2022-08-04 12:33] ABNER-1 opened #1048 "[feature request] Support image pre-download for the advanced daemonset worklord"
**What would you like to be added**:
Support image pre-download for the advanced daemonset worklord.

**Why is this needed**:
It is neccessary for user to accelerate  the progress of daemon applications upgrade by using the image pre-download feature.

[2022-08-05 04:04] lizzzcai opened #1049 "[feature request] hold the pod deployment until the dependencies are ready"
**What would you like to be added**:

1. able to control the order of deployment for pods
2. able to hold the actual deployment of pod until some dependencies (daemonSet for example) are ready

**Why is this needed**:

OpenKruise can control the order of [containers](https://openkruise.io/docs/user-manuals/containerlaunchpriority/), want to check if possible to control the order of pods as well.

[2022-08-08 03:33] no-frown commented on #1044
👌🏻
Is the discussion in the openkruise dingtalk group? I am in the group.

[2022-08-08 03:37] hantmac commented on #1044
How about add an annotation to indicate which container was restarted by crr ?

[2022-08-08 06:39] veophi opened #1050 "[feature request] Kill Job sidecar container when main container exited."
**What would you like to be added**:
Kill Job sidecar container when main container exited.

**Why is this needed**:
At present, Job Pod cannot be assigned with a long-running sidecar container,  because when main container is completed, long-running sidecar will still running, and the Job controller will always treat the Job and Pods as **Not Completed and Running**.  So we hope can terminate the

[2022-08-08 07:14] veophi commented on #1050
/assign @veophi

[2022-08-09 02:14] #970 closed

[2022-08-10 10:16] jiangfoxi commented on #1020
加了之后貌似还是一样的没有保留ip
<img width="483" alt="image" src="https://user-images.githubusercontent.com/38380031/183876976-712fda37-7d68-4d48-882a-ac40121a2fd7.png">
delete之前
<img width="781" alt="image" src="https://user-images.githubusercontent.com/38380031/183877334-1ef299bc-d498-4a7d-97f8-e0074d7fd772.png">

delete之后，ip  还是变了
<img width="697" alt="image" src="https://user-images.githubusercontent.com/38

[2022-08-14 07:54] wgitg commented on #901
@FillZpp Thanks for the awesome support!  I just would like to circle back on the stop ordering, are there ways to control  he  stop ordering for the containers when the pod dies?

[2022-08-15 06:22] wgitg commented on #232
@FillZpp  If the sidecar container is injected by the SidecarSet, how do we control the exact order for the automatically injected container?

[2022-08-16 02:32] whibin opened #1058 "[BUG] when Concurrently Create ContainerRecreateRequests of the Same Pod, some will be in Pending State."
**What happened**:
When CRRs of the same Pod are created concurrently, only one CRR can be recreated, and the others are always in the Pending state. For example, I concurrently created 3 CRR for 3 containers in the same Pod, only one CRR is recreated, the others were always in the Pending state.

**What you expected to happen**:
all containers in one Pod can be recreated concurrently by creating

[2022-08-16 02:50] FillZpp commented on #1058
@whibin That's because the CRRs created for a same Pod will be executed one by one. So if one of them is Recreating, others will remain Pending.

[2022-08-16 03:05] FillZpp commented on #901
Yeah, we are planning to support stop ordering. Please create a new issue for it :) cc @zmberg

[2022-08-16 03:10] FillZpp commented on #977
Supported in #982

/close

[2022-08-16 03:10] #977 closed

[2022-08-16 03:22] FillZpp commented on #1044
We'd better discuss this on the bi-weekly meeting, which will be notified in the dingtalk group.

[2022-08-18 15:24] zsdyx commented on #933
I also encountered this error. The k8s version is 1.24. Is it related to the version

[2022-08-19 05:47] shiyan2016 opened #1062 "[BUG] Scale with partition for AdvancedStatefulSet is not expected"
**What happened**:
Create a asts with name=test and replicas=2, then after some pod spec and set partition=1, it will update test-1 to new revision.
Then update the asts to replicas=4 and partition=3, it will create test-2 with old revision and test-3 with new revision. So there are two updated revision pods( test-1, test-3) and two old revision pods( test-0, test-2). Which

**What you expected to

[2022-08-19 06:48] veophi commented on #1062
The meaning of `Partition` of StatefulSet with `OrderedReady` PodManagementPolicy  is quite different with CloneSet, its partition just make sure the pod with ordinal >= 'partition' to be upgraded.

There may be a tricky way to achieve what you want, you can set an `unorderedUpdate` with a  selector label to StatefulSet, the meaning of partition will  be in line with CloneSet.

[2022-08-19 08:25] haobiaosheng commented on #933
It really related to the k8s version

when I in the v1.22.0 version of k8s,it can create sidecar normally.

You can try this version: v1.22.0

[2022-08-25 09:17] zmberg commented on #1020
@jiangfoxi Need Log. Have you entered the DingDing Group?

[2022-08-25 09:20] zmberg commented on #232
@wgitg The order between multiple sidecars is currently not guaranteed. But, is it for the boot order, if so can consider[Container Launch Priority](https://openkruise.io/docs/user-manuals/containerlaunchpriority).

[2022-08-29 02:56] song0071000 opened #1067 "[feature request] sts原地升级过程中，是会在crashbackoff状态停留？"
**What would you like to be added**:
最近测试了下，原地升级，在容器被重启后，pod的restart count貌似是上涨了。
而且可能会处于crashbackoff状态（我看起了readiness probe）？
这样就会出现一个问题，在10min内，如果多次原地升级，就会等待backoff的时间？
这样是符合预期的吗？如何规避等待时间？

**Why is this needed**:

[2022-08-29 02:58] veophi commented on #1067
If

[2022-08-29 03:08] song0071000 commented on #1067
env from label  这种情况呢？

[2022-08-29 08:22] song0071000 commented on #1067
env from metadata，这种原地升级：只改metadata.labels，触发原地升级，container hash也不会变化，表现出来的现象就是，多次反复操作，就会等待backoff了。

如下，多次更改spec.template.metadata.labels["kk"] 即可复现
`
apiVersion: apps.kruise.io/v1alpha1
kind: StatefulSet
metadata:
  name: web
  namespace: test
spec:
  podManagementPolicy: Parallel
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: nginx
  serviceName: nginx
  templa

[2022-08-29 08:34] song0071000 commented on #1067
env from metadata，container hash 不会变化。这种情况，只能等待10min，让backoff reset 是吧？

[2022-08-31 02:50] furykerry opened #1069 "[GLCC] Genereate openapi schema for kustomize"
OpenKruise does not work very well with kustomize. kustomize strategic merge only support k8s native resource type, and json patch is unable to merge array element using merge keys such as container name.

However, kustomize support using openapi schema to specify merge key and patch strategy.

Background information can be refer: https://tech.aabouzaid.com/2022/11/set-openapi-patch-strategy-for-k

[2022-09-02 02:26] #1062 closed

[2022-09-05 06:53] LilithOpenSource commented on #289
Orgnization/Company: LilithGames
Location: Shanghai, China
Contact: opensource@lilith.com
Purpose/Scenario: Using statefulset and cloneset to inplace update.

[2022-09-07 01:36] #825 closed

[2022-09-07 01:36] #984 closed

[2022-09-07 01:59] #974 closed

[2022-09-07 16:50] cerebrate commented on #989
Thanks - it turned out the problem went away with an unrelated Kubernetes upgrade (to 1.23.6), but I went ahead and bumped the fs.inotify.max_user_instances anyway just to be on the safe side.

[2022-09-07 16:50] #989 closed

[2022-09-09 17:02] martin2176 opened #1072 "rescheduleCriticalSeconds limited to max 98 seconds"
scheduleStrategy:
    type: Adaptive
    adaptive:
      rescheduleCriticalSeconds: 180

Invalid value: 180: rescheduleCriticalSeconds < 0 or rescheduleCriticalSeconds > 98 is not permitted
 I have 4 subsets .
 Adding each subset lower the allowed value of reschedulecriticalseconds.

Can we allow user to specify a reasonable time such as 5 minutes.? Cloud Kubernetes deployments take atleast 2 minu

[2022-09-13 08:04] veophi commented on #1072
sounds good

[2022-09-15 04:25] marklinglon opened #1076 "How does kruise eplement inplaceupdating with no change about pod lifecycle"
how does kruise eplement  inplaceupdating with no change about pod lifecycle.